<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>DIY: Steam専用端末 (6台目) | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00601/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00600/" title="gameクリア: Steam: Princes Remedy" type="text/html">
<link rel="next" href="../id00602/" title="Debian: dnsmasqで、家の名前解決/ DHCP変更" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="DIY: Steam専用端末 (6台目)">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00601/">
<meta property="og:description" content="小さいアーケードスティックを作ったけど、
ずっとほったらかしで使えてなかったので
安くなってたSBCと組み合わせて
Steam専用端末を作ってみた。


古いスピーカーの再利用も兼ねて。
使わなくなった、タブレットスタンドも再利用
制作は5時間ぐらい。

アーケードスティックは小さいと
レバー持つ方の手が台に当たって痛い。
スティックの天板にR加工でもしますかね。
作る過程順に写真を貼っていきます">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2021-06-24T08:59:06+09:00">
<meta property="article:tag" content="complogs">
<meta property="article:tag" content="DIY">
<meta property="article:tag" content="SBC">
<meta property="article:tag" content="Steam">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">DIY: Steam専用端末 (6台目)</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2021-06-24T08:59:06+09:00" itemprop="datePublished" title="2021-06-24 08:59">2021-06-24 08:59</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00601.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>小さいアーケードスティックを作ったけど、<br>
ずっとほったらかしで使えてなかったので<br>
安くなってたSBCと組み合わせて<br>
Steam専用端末を作ってみた。</p>
<p><img alt="diy-steam-4" src="../../images/diy-steam-embedded-4.jpg"></p>
<ul>
<li>古いスピーカーの再利用も兼ねて。</li>
<li>使わなくなった、タブレットスタンドも再利用</li>
<li>制作は5時間ぐらい。</li>
</ul>
<p>アーケードスティックは小さいと<br>
レバー持つ方の手が台に当たって痛い。</p>
<p>スティックの天板にR加工でもしますかね。</p>
<p>作る過程順に写真を貼っていきます</p>
<!-- TEASER_END -->

<h5 id="100">アーケードスティック天板は100均の板です。</h5>
<p>これに穴を開けてボタンを入れていきます。</p>
<p><img alt="diy-steam-1" src="../../images/diy-steam-embedded-1.jpg"></p>
<p>今回は、ハードオフで買ったバーチャスティックの<br>
レバーを使いました。</p>
<p><img alt="diy-steam-2" src="../../images/diy-steam-embedded-2.jpg"></p>
<h5 id="_1">廃品のヒンジを流用したタブレットスタンド</h5>
<p>あと、使わなくなった、タブレットスタンドも<br>
再利用してみた。<br>
廃品のヒンジを流用したもの。</p>
<p><img alt="diy-steam-3" src="../../images/diy-steam-embedded-3.jpg"></p>
<p>スピーカーと、LCDがを設置するところは写真取るの忘れてた。</p>
<!-- vi: ft=markdown:et:ts=4:fdm=marker:nowrap
end of file {{{1 -->
    </div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/complogs/" rel="tag">complogs</a></li>
            <li><a class="tag p-category" href="../../tags/diy/" rel="tag">DIY</a></li>
            <li><a class="tag p-category" href="../../tags/sbc/" rel="tag">SBC</a></li>
            <li><a class="tag p-category" href="../../tags/steam/" rel="tag">Steam</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00600/" rel="prev" title="gameクリア: Steam: Princes Remedy">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00602/" rel="next" title="Debian: dnsmasqで、家の名前解決/ DHCP変更">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00601/",
        disqus_title="DIY: Steam\u5c02\u7528\u7aef\u672b (6\u53f0\u76ee)",
        disqus_identifier="cache/posts/id00601.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
