<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>arm-box: Scishon 88 TVBOX server(3台目) | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00519/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00518/" title="Tablet3: モバイル(9台目)" type="text/html">
<link rel="next" href="../id00520/" title="udev: Bluetooth Keyboardが接続されたらxmodmapする" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="arm-box: Scishon 88 TVBOX server(3台目)">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00519/">
<meta property="og:description" content="安かったので、購入
2016/8/19 購入、入手は8/31
ゲームがちょこちょこできるので、OS入替えとかは特に考えてない


CPU:
Rockchip 8166

Mem:
1GB

Storage:
16GB eMMC

Keyboard:
なし

Weight:
???g

Monitor:
なし HDMI (1920x1080i)

Battery:
????mAh

I/F 1:
S">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2016-09-28T08:47:00+09:00">
<meta property="article:tag" content="complogs">
<meta property="article:tag" content="SBC">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">arm-box: Scishon 88 TVBOX server(3台目)</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2016-09-28T08:47:00+09:00" itemprop="datePublished" title="2016-09-28 08:47">2016-09-28 08:47</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00519.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <ul class="simple">
<li><p>安かったので、購入</p></li>
<li><p>2016/8/19 購入、入手は8/31</p></li>
<li><p>ゲームがちょこちょこできるので、OS入替えとかは特に考えてない</p></li>
</ul>
<dl class="field-list simple">
<dt>CPU<span class="colon">:</span>
</dt>
<dd>
<p>Rockchip 8166</p>
</dd>
<dt>Mem<span class="colon">:</span>
</dt>
<dd>
<p>1GB</p>
</dd>
<dt>Storage<span class="colon">:</span>
</dt>
<dd>
<p>16GB eMMC</p>
</dd>
<dt>Keyboard<span class="colon">:</span>
</dt>
<dd>
<p>なし</p>
</dd>
<dt>Weight<span class="colon">:</span>
</dt>
<dd>
<p>???g</p>
</dd>
<dt>Monitor<span class="colon">:</span>
</dt>
<dd>
<p>なし HDMI (1920x1080i)</p>
</dd>
<dt>Battery<span class="colon">:</span>
</dt>
<dd>
<p>????mAh</p>
</dd>
<dt>I/F 1<span class="colon">:</span>
</dt>
<dd>
<p>SD slot</p>
</dd>
<dt>I/F 2<span class="colon">:</span>
</dt>
<dd>
<p>USB x4</p>
</dd>
</dl>
<p>本文なし</p>
<!-- TEASER_END -->
<section id="android-1"><h2>Androidでいろいろ試す <a href="#system-message-1"><span class="problematic" id="problematic-1">|{{{1|</span></a>
</h2>
<p>マルチタッチが必要なアプリはパス</p>
<dl class="field-list simple">
<dt>Google Play<span class="colon">:</span>
</dt>
<dd>
<p>ok 最初から入ってる</p>
</dd>
<dt>ごまおつ<span class="colon">:</span>
</dt>
<dd>
<p>ok 遅い以外は問題なし</p>
</dd>
<dt>Pacman 256<span class="colon">:</span>
</dt>
<dd>
<p>ng? 起動するまで時間がかかるので、そこから先はみてない</p>
</dd>
<dt>Office系<span class="colon">:</span>
</dt>
<dd>
<p>ok</p>
</dd>
<dt>Hulu<span class="colon">:</span>
</dt>
<dd>
<p>ng, 動画が再生できない</p>
</dd>
</dl>
<p>最初から入っているKodiはあんまり使い方がわからないな...</p>
</section><section id="linux-on-android-1"><h2>Linux on Android <a href="#system-message-2"><span class="problematic" id="problematic-2">|{{{1|</span></a>
</h2>
<p>以前、SDのパーティションに入れたことがあるので
今回はUSBのパーティションに入れたい。
でもやり方忘れた。</p>
<p>みているとXWindowが動いたりしていました。
Linux on Android もついに Zygote 終了させたりしてるんですねぇ...</p>
<!-- end of file |{{{1| -->
<!-- vi: ft=rst:et:ts=4:fdm=marker -->
</section><section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 21); <em><a href="#problematic-1">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-2"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 34); <em><a href="#problematic-2">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/complogs/" rel="tag">complogs</a></li>
            <li><a class="tag p-category" href="../../tags/sbc/" rel="tag">SBC</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00518/" rel="prev" title="Tablet3: モバイル(9台目)">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00520/" rel="next" title="udev: Bluetooth Keyboardが接続されたらxmodmapする">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00519/",
        disqus_title="arm-box: Scishon 88 TVBOX server(3\u53f0\u76ee)",
        disqus_identifier="cache/posts/id00519.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
