<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>2009年の記事 | にゅーステレオ天国</title>
<link href="../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/2009/">
<!--[if lt IE 9]><script src="../assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../posts/id99000/">About</a></li>
                <li><a href="../articles.html">Articles</a></li>
                <li><a href="../tags/index.html">Tags</a></li>
                <li><a href="../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="listpage"><header><h1>2009年の記事</h1>
    </header><ul class="postlist">
<li>
<time class="listdate" datetime="2009-12-31T16:16:00+09:00" title="2009-12-31 16:16">2009-12-31 16:16</time><a href="../posts/id00384/" class="listtitle">Poulsboのドライバを入れてみる(2)</a>
</li>
        <li>
<time class="listdate" datetime="2009-12-27T18:21:34+09:00" title="2009-12-27 18:21">2009-12-27 18:21</time><a href="../posts/id00380/" class="listtitle">NetBSD/landisk pkgsrc使うよ(2)</a>
</li>
        <li>
<time class="listdate" datetime="2009-12-09T23:32:50+09:00" title="2009-12-09 23:32">2009-12-09 23:32</time><a href="../posts/id00379/" class="listtitle">NetBSD/Landiskに取り掛かる(1)</a>
</li>
        <li>
<time class="listdate" datetime="2009-12-08T23:50:50+09:00" title="2009-12-08 23:50">2009-12-08 23:50</time><a href="../posts/id00378/" class="listtitle">Fedora12 upgrade失敗-&gt; 成功</a>
</li>
        <li>
<time class="listdate" datetime="2009-12-07T16:11:00+09:00" title="2009-12-07 16:11">2009-12-07 16:11</time><a href="../posts/id00390/" class="listtitle">FiveでProductを作ってみよう(1)</a>
</li>
        <li>
<time class="listdate" datetime="2009-12-01T23:25:03+09:00" title="2009-12-01 23:25">2009-12-01 23:25</time><a href="../posts/id00377/" class="listtitle">Solaris10 インストールいろいろ</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-28T15:23:04+09:00" title="2009-11-28 15:23">2009-11-28 15:23</time><a href="../posts/id00376/" class="listtitle">Netbook入手しました (1)</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00440/" class="listtitle">clonezillaを使ってみて失敗した話</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00400/" class="listtitle">Dynabook AZのsetup いろいろ試してみる</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00437/" class="listtitle">Inspiron mini 10 - Lubuntu setup その2</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00449/" class="listtitle">LS-VL 6: debian jessie化 |{{{1|</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00450/" class="listtitle">LS-VL 7-8: debian jessie標準kernelでUSB機器を使う/追加package |{{{1|</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00451/" class="listtitle">LS-VL 9: 時間調整など設定を行う |{{{1|</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00438/" class="listtitle">Solaris10  インストールいろいろ</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00460/" class="listtitle">SyntasticとSphinx ReST (1)</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00444/" class="listtitle">Zope: 2.12に乗り換え/ Five Productをupdate</a>
</li>
        <li>
<time class="listdate" datetime="2009-11-23T23:05:49+09:00" title="2009-11-23 23:05">2009-11-23 23:05</time><a href="../posts/id00441/" class="listtitle">ひさびさにxmodmapをいじってみる.</a>
</li>
        <li>
<time class="listdate" datetime="2009-10-25T22:16:12+09:00" title="2009-10-25 22:16">2009-10-25 22:16</time><a href="../posts/id00374/" class="listtitle">いまさらながらFirebirdとZopeを接続してみる</a>
</li>
        <li>
<time class="listdate" datetime="2009-10-09T09:53:05+09:00" title="2009-10-09 09:53">2009-10-09 09:53</time><a href="../posts/id00373/" class="listtitle">Zope2.12ついにリリース!</a>
</li>
        <li>
<time class="listdate" datetime="2009-09-25T06:52:16+09:00" title="2009-09-25 06:52">2009-09-25 06:52</time><a href="../posts/id00371/" class="listtitle">Zopeとencoding</a>
</li>
        <li>
<time class="listdate" datetime="2009-09-23T10:52:31+09:00" title="2009-09-23 10:52">2009-09-23 10:52</time><a href="../posts/id00370/" class="listtitle">Fedora11でSongbird1.2</a>
</li>
        <li>
<time class="listdate" datetime="2009-07-26T08:00:00+09:00" title="2009-07-26 08:00">2009-07-26 08:00</time><a href="../posts/id00534/" class="listtitle">..</a>
</li>
        <li>
<time class="listdate" datetime="2009-07-04T16:06:15+09:00" title="2009-07-04 16:06">2009-07-04 16:06</time><a href="../posts/id00360/" class="listtitle">pkgsrc@pmax distccにチャレンジです(2)</a>
</li>
        <li>
<time class="listdate" datetime="2009-06-07T11:53:21+09:00" title="2009-06-07 11:53">2009-06-07 11:53</time><a href="../posts/id00358/" class="listtitle">Fennec うごく</a>
</li>
        <li>
<time class="listdate" datetime="2009-05-20T22:44:35+09:00" title="2009-05-20 22:44">2009-05-20 22:44</time><a href="../posts/id00356/" class="listtitle">vimceがソースに入っている場所(備忘録</a>
</li>
        <li>
<time class="listdate" datetime="2009-04-07T23:09:33+09:00" title="2009-04-07 23:09">2009-04-07 23:09</time><a href="../posts/id00345/" class="listtitle">fglrxアップデートもまだ動かず</a>
</li>
        <li>
<time class="listdate" datetime="2009-04-04T09:27:16+09:00" title="2009-04-04 09:27">2009-04-04 09:27</time><a href="../posts/id00344/" class="listtitle">またか...なんで動かないんだfglrx</a>
</li>
        <li>
<time class="listdate" datetime="2009-03-28T09:31:13+09:00" title="2009-03-28 09:31">2009-03-28 09:31</time><a href="../posts/id00336/" class="listtitle">gameクリア: PS2: 大魔界村</a>
</li>
        <li>
<time class="listdate" datetime="2009-03-23T10:33:06+09:00" title="2009-03-23 10:33">2009-03-23 10:33</time><a href="../posts/id00335/" class="listtitle">SEGAのロボットゲーム</a>
</li>
        <li>
<time class="listdate" datetime="2009-03-17T22:27:08+09:00" title="2009-03-17 22:27">2009-03-17 22:27</time><a href="../posts/id00333/" class="listtitle">Devilspieが動かなくなった...</a>
</li>
        <li>
<time class="listdate" datetime="2009-03-08T15:50:41+09:00" title="2009-03-08 15:50">2009-03-08 15:50</time><a href="../posts/id00331/" class="listtitle">ついに(ちょっと)動いた, vim7.2 on WindowsMobile</a>
</li>
        <li>
<time class="listdate" datetime="2009-03-07T15:57:42+09:00" title="2009-03-07 15:57">2009-03-07 15:57</time><a href="../posts/id00330/" class="listtitle">gameクリア: Let's Go JUNGLE</a>
</li>
        <li>
<time class="listdate" datetime="2009-02-20T18:23:50+09:00" title="2009-02-20 18:23">2009-02-20 18:23</time><a href="../posts/id00353/" class="listtitle">vim on windows mobile2: compile通ってはいますが...</a>
</li>
        <li>
<time class="listdate" datetime="2009-02-18T22:56:38+09:00" title="2009-02-18 22:56">2009-02-18 22:56</time><a href="../posts/id00326/" class="listtitle">gameクリア: top secret</a>
</li>
        <li>
<time class="listdate" datetime="2009-02-10T00:09:50+09:00" title="2009-02-10 00:09">2009-02-10 00:09</time><a href="../posts/id00323/" class="listtitle">vim compile w/cegcc,まだまだvimコンパイル中</a>
</li>
        <li>
<time class="listdate" datetime="2009-02-05T23:07:48+09:00" title="2009-02-05 23:07">2009-02-05 23:07</time><a href="../posts/id00321/" class="listtitle">一応MochiKit愛好者です</a>
</li>
        <li>
<time class="listdate" datetime="2009-01-25T12:17:19+09:00" title="2009-01-25 12:17">2009-01-25 12:17</time><a href="../posts/id00327/" class="listtitle">gameクリア: forgoten world</a>
</li>
        <li>
<time class="listdate" datetime="2009-01-12T23:16:35+09:00" title="2009-01-12 23:16">2009-01-12 23:16</time><a href="../posts/id00316/" class="listtitle">Fedora10でXDMCPを有効にする</a>
</li>
    </ul></article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../assets/js/all-nocdn.js"></script><script src="../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
