<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>にゅーステレオ天国 (過去の記事 20ページ目) | にゅーステレオ天国</title>
<link href="assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/index-20.html">
<link rel="prev" href="index-21.html" type="text/html">
<link rel="next" href="index-19.html" type="text/html">
<!--[if lt IE 9]><script src="assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="posts/id99000/">About</a></li>
                <li><a href="articles.html">Articles</a></li>
                <li><a href="tags/index.html">Tags</a></li>
                <li><a href="rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><div class="postindex">
    <article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00425/" class="u-url">LS-VLの調整</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00425/" rel="bookmark">
            <time class="published dt-published" datetime="2013-10-14T14:48:05+09:00" itemprop="datePublished" title="2013-10-14 14:48">2013-10-14 14:48</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00425/#disqus_thread" data-disqus-identifier="cache/posts/id00425.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>LS-VLをいじる記事もたまってたのでまとめて上げることにしてみた.</p>
<p>メモですメモ.
(3)の記事が参考になるかも...</p>
<nav class="contents" id="topic-1" role="doc-toc"><p class="topic-title">目次</p>
<ul class="simple">
<li><p><a class="reference internal" href="posts/id00425/#ls-vldebian-squeeze-5-1" id="toc-entry-1">LS-VLのdebian squeezeを設定(5) |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#ls-vldebian-squeeze-4-1" id="toc-entry-2">LS-VLのdebian squeezeに入ってみる(4) |{{{1|</a></p></li>
<li>
<p><a class="reference internal" href="posts/id00425/#ls-vldebian-squeeze-3-1" id="toc-entry-3">LS-VLにdebian squeezeを導入(3) |{{{1|</a></p>
<ul>
<li><p><a class="reference internal" href="posts/id00425/#kernelmodule" id="toc-entry-4">1. Kernelとmoduleを母艦にコピー</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#partition" id="toc-entry-5">2. Partitionの設定</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#format" id="toc-entry-6">3. format</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#hdd" id="toc-entry-7">4. 新しいHDDにファイルをコピー</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#debootstrapdebian" id="toc-entry-8">5. debootstrapでdebianシステムを構築</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#sshd" id="toc-entry-9">6. SSHDの導入</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#section-1" id="toc-entry-10">7. いろいろ設定</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#section-2" id="toc-entry-11">8. 確認</a></p></li>
</ul>
</li>
<li><p><a class="reference internal" href="posts/id00425/#ls-vl-2-1" id="toc-entry-12">LS-VLを分解(2) |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00425/#ls-vldebian-squeeze-1-1" id="toc-entry-13">LS-VLをdebian squeezeで運用するぞ(1) |{{{1|</a></p></li>
</ul></nav><p class="more"><a href="posts/id00425/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00423/" class="u-url">GAE/pyで懐かしのwebカウンタを作ってみる</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00423/" rel="bookmark">
            <time class="published dt-published" datetime="2013-10-13T13:37:28+09:00" itemprop="datePublished" title="2013-10-13 13:37">2013-10-13 13:37</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00423/#disqus_thread" data-disqus-identifier="cache/posts/id00423.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>djangoでカウンタを作ってみます.</p>
<ul>
<li><p>django 1.2(最新は1.5です)</p></li>
<li><p>初期値が変えられる</p></li>
<li><p>blacklistが作れる</p></li>
<li>
<p>大量のアクセスが来るようなサイトには使わないこと、</p>
<blockquote>
<p>いきなり課金になってもしらないですよ()</p>
</blockquote>
</li>
</ul>
<section id="section-1"><h2>プロジェクトの作り方</h2>
<p>以前の記事、もしくはチュートリアルを参考にする</p>
</section><section id="django"><h2>djangoプロジェクト</h2>
<p>以前の記事、もしくはチュートリアルを参考にする</p>
<blockquote>
<p>今はdjango-relなどもあるのか...? よく調べてません.</p>
</blockquote>
<p class="more"><a href="posts/id00423/">続きを読む…</a></p></section>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00422/" class="u-url">gameクリア: NES: 魔鐘</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00422/" rel="bookmark">
            <time class="published dt-published" datetime="2013-10-13T13:01:56+09:00" itemprop="datePublished" title="2013-10-13 13:01">2013-10-13 13:01</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00422/#disqus_thread" data-disqus-identifier="cache/posts/id00422.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <p><a class="reference external" href="https://kuri65536.bitbucket.io/pages/masho/">こちら</a>
でひっそり魚拓とっておきました.</p>
<p>本家がなくなったら
使ってください.</p>
<p>(本文なし)</p>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00522/" class="u-url">pyramid + Lingua で多言語対応してみる</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00522/" rel="bookmark">
            <time class="published dt-published" datetime="2013-09-09T17:17:55+09:00" itemprop="datePublished" title="2013-09-09 17:17">2013-09-09 17:17</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00522/#disqus_thread" data-disqus-identifier="cache/posts/id00522.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>pyramidでも、Zope用に作ったProductがi18n対応してくれて
いたんですが、potファイルの更新方法がわからないままでした。</p>
<p>pyramidのマニュアルを見て更新方法を試してみます。</p>
<blockquote>
<p>ついでに古い文書も整形...</p>
</blockquote>
<ul class="simple">
<li><p>pyramid + Lingua で多言語対応してみる</p></li>
<li><p>(旧文書) Zope2のProductを多言語対応してみる: 元id00421</p></li>
</ul>
<p class="more"><a href="posts/id00522/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00420/" class="u-url">GAEのPython2.7対応をしてみる</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00420/" rel="bookmark">
            <time class="published dt-published" datetime="2013-09-09T16:22:16+09:00" itemprop="datePublished" title="2013-09-09 16:22">2013-09-09 16:22</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00420/#disqus_thread" data-disqus-identifier="cache/posts/id00420.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <p>適当に作っているGAEですが
DBのupdateしたものの,
今度はPythonのversionあげろとメールが着ました.</p>
<p>まぁ無料だから...</p>
<p>もともとdjangoのversionが1.2だったので
ちょっといじるだけでいけました.</p>
<p>app.yamlを更新:</p>
<pre class="literal-block">application: somewhere
version: somewhere
runtime: python27   # &lt;= 27を末尾に追加
api_version: 1
threadsafe: true    # &lt;= この行を追加

handlers:
- url: /remote_api
script: google.appengine.ext.remote_api.handler.app
# path/to/google/appengine/ext/remote_api/handler.pyでしたが
# module pathになりました.

login: hogehoge
- url: /statics
static_dir: ocultraquiz/main/statics
- url: /tests.*
script: gaeunit.application
# gaeunit.py =&amp;gt; gaeunit.applicationに変更
- url: /.*
script: main.app
# main.py =&gt; main.appに変更

builtins:
- remote_api: on

# 下3行追加
libraries:
- name: django
version: "1.2"</pre>
<p>コードがはずかしいことになっていますが,
djangoはかじってるだけなので例としてみてください...</p>
<p>main.pyも変更しました:</p>
<blockquote>
<p># main.py
import os
import sys</p>
<p>os.environ["DJANGO_SETTINGS_MODULE"] = "ocultraquiz.settings"
sys.path.append(os.path.dirname(__file__))</p>
<p>from django.conf import settings
settings._target = None</p>
<p>import django.core.handlers.wsgi
app = django.core.handlers.wsgi.WSGIHandler()</p>
<p># vi: ft=python:et:nowrap</p>
</blockquote>
<p>これでいいのかは, あんまり考えてないので気にしないでください.</p>
<p>これだけで動くことは動きました.</p>
<p>あんまり稼働してないのでこれでいいか...</p>
<p>(本文なし)</p>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00419/" class="u-url">HT-03Aでbmobileを使う</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00419/" rel="bookmark">
            <time class="published dt-published" datetime="2013-09-09T14:03:47+09:00" itemprop="datePublished" title="2013-09-09 14:03">2013-09-09 14:03</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00419/#disqus_thread" data-disqus-identifier="cache/posts/id00419.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <p><a class="reference external" href="http://komugi.net/archives/2010/05/03182013">コムギネット</a>
さんの記事を参照に私も設定してみる.</p>
<p>libhtc_ril.soを入れ替える...と</p>
<p>ATコマンドが関係してるのか...生き残ってるんですね.</p>
<p>あと, SMS付きのサービスだと
アンテナピクトの問題も起こらなさそうな
ことが書いてある記述もどこか違うサイトでみました.</p>
<blockquote>
<p>この辺, ついていけてないです.</p>
</blockquote>
<p>昔はATコマンドを直接 自分でいじったもんだけど
そんなことすることないわなぁいまどき.</p>
<p>(本文なし)</p>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00418/" class="u-url">端末上vimでのclipboard</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00418/" rel="bookmark">
            <time class="published dt-published" datetime="2013-09-09T09:40:22+09:00" itemprop="datePublished" title="2013-09-09 09:40">2013-09-09 09:40</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00418/#disqus_thread" data-disqus-identifier="cache/posts/id00418.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>Fedora (16) でうまいこといかないなーと
思ってチェックしてみました</p>
<p><strong>あくまでFedora16の調査結果(いまさら)なので
最新版は同じ方法で確認してもらえると幸です.</strong></p>
<blockquote>
<p>誰か教えて(移行する気があまりしない...)</p>
</blockquote>
<p>vimが実行できるパッケージは次の3つがあり,
それぞれのclipboardは以下のようになってました.</p>
<table><tbody>
<tr>
<td><p>package</p></td>
<td><p>xterm_clipboard</p></td>
<td><p>バイナリ</p></td>
</tr>
<tr>
<td><p>vim-minimal</p></td>
<td><ul class="simple"><li>
</li></ul></td>
<td><p>/bin/vi</p></td>
</tr>
<tr>
<td><p>vim-enhanced</p></td>
<td><ul class="simple"><li>
</li></ul></td>
<td><p>/usr/bin/vim</p></td>
</tr>
<tr>
<td><p>vim-X11</p></td>
<td><ul class="simple"><li>
</li></ul></td>
<td><p>/usr/bin/vimx</p></td>
</tr>
</tbody></table>
<p>というわけで, 端末からclipboard使うには
vimxを使わないといけません.</p>
<p class="more"><a href="posts/id00418/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00417/" class="u-url">OperaでCtrl hをBackspaceに割り当てる</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00417/" rel="bookmark">
            <time class="published dt-published" datetime="2013-07-07T00:55:52+09:00" itemprop="datePublished" title="2013-07-07 00:55">2013-07-07 00:55</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00417/#disqus_thread" data-disqus-identifier="cache/posts/id00417.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <ol class="arabic">
<li><p>「設定 &amp;gt;&amp;gt; 設定... &amp;gt;&amp;gt; ショートカットの設定」でキーボードの設定へ.</p></li>
<li><p>検索で、「h ctrl」を入力して既存のショートカット設定を無効に</p></li>
<li><p>「Advanced &amp;gt;&amp;gt; Edit Widget」の項目に
新規項目追加で、hctrl: Backspaceを追加</p></li>
<li>
<p>これで試したところ,
検索バー, URLバー, FormともにBackspaceが有効になった.</p>
<p>もしかしたら効いているのは
既存のショートカットを無効にしたことだけかも...</p>
<blockquote>
<p>ctrl+hはXWindowsの設定でBackspaceになってる</p>
</blockquote>
</li>
</ol>
<p>(本文なし)</p>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00416/" class="u-url">HT-03Aとかでアンテナピクトが正しく表示されない問題に対応する</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00416/" rel="bookmark">
            <time class="published dt-published" datetime="2013-05-19T01:33:06+09:00" itemprop="datePublished" title="2013-05-19 01:33">2013-05-19 01:33</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00416/#disqus_thread" data-disqus-identifier="cache/posts/id00416.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>ひょんなことからHT-03Aを手に入れました.</p>
<p>QWERTYじゃないし,
他の人にでも使ってもらうか...と思ったんですが.</p>
<ul class="simple">
<li><p>Android1.6の端末使うのもなんだしな.
version upの方法はないのかな.</p></li>
<li><p>iijmioかbmobileでデータ端末として運用してもらおう</p></li>
<li><p>MVNOのSim挿してもアンテナピクト問題があると
Tetheringできないのよ</p></li>
</ul>
<p>version upはごにょごにょするとできたような
できなかったような...</p>
<p>MVNOの対応が難しかったので, メモメモします</p>
<p><strong>以下の手法はroot権限が必要で、かつ失敗すると端末が動かなくなります</strong></p>
<blockquote>
<p>端末が動かなくなるとCWMなど
BIOSからファイルを復元する方法が必要になるのでご注意ください</p>
</blockquote>
<p>情報は以下のサイトからもらいました</p>
<ul class="simple">
<li><p>MVNOで正しく表示されない技術の解説:
<a class="reference external" href="http://techlog.iij.ad.jp/archives/487">てくろぐ</a></p></li>
<li><p>patch自動化を配布している:
<a class="reference external" href="http://bl.oov.ch/2012/01/android-sim.html">プローヴちゃん</a></p></li>
<li><p>odex端末での対応を書いている:
<a class="reference external" href="http://domas-tadamemo.blogspot.jp/2012/03/htc-chacharootdeodexadb-shell.html?m=1">めもめも…〆</a></p></li>
<li><p><a class="reference external" href="http://forum.xda-developers.com/showpost.php?p=3864655&amp;amp;postcount=36">dexwrapperはこちらから</a></p></li>
</ul>
<p>この問題, ちょっと前から気づいてはいたんですが
手順が多すぎて無視してました.</p>
<blockquote>
<p>あと、手順に対する理解もピンとこなかったので</p>
</blockquote>
<p>理解するために
<a class="reference external" href="http://bl.oov.ch/2012/01/android-sim.html">プローヴちゃん</a>
で配布されている
batchファイルの中身を確認しながら手動で実行しました.</p>
<p>以下に手順を私なりにまとめました.</p>
<p class="more"><a href="posts/id00416/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00415/" class="u-url">noseのテク(1)</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00415/" rel="bookmark">
            <time class="published dt-published" datetime="2013-05-18T17:27:32+09:00" itemprop="datePublished" title="2013-05-18 17:27">2013-05-18 17:27</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00415/#disqus_thread" data-disqus-identifier="cache/posts/id00415.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <p>いやー人にnoseの話できるほどでもないんですが...</p>
<blockquote>
<p>最近ならpy.testでしょっていうのは...わからないです:D</p>
</blockquote>
<p>TestCaseクラスのsetupで,
今から実行されるTest名を知るには, どうすればいいか?</p>
<p>setUpで特別なファイルなどを作る場合に役立ちます:</p>
<blockquote>
<dl class="simple">
<dt>def setUp(self):</dt>
<dd>
<p>name = self._testMethodName
print(name)</p>
</dd>
</dl>
</blockquote>
<p>とやって取れば名前がわかります.</p>
<p>例えば, DBを吐き出すアプリがあって
テスト毎に名前を分けたいとか...</p>
<p>(本文なし)</p>
    </div>
    </article>
</div>

        <nav class="postindexpager"><ul class="pager">
<li class="previous">
                <a href="index-21.html" rel="prev">新しい記事</a>
            </li>
            <li class="next">
                <a href="index-19.html" rel="next">過去の記事</a>
            </li>
        </ul></nav><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="assets/js/all-nocdn.js"></script><script src="assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
