<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>にゅーステレオ天国 (過去の記事 16ページ目) | にゅーステレオ天国</title>
<link href="assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/index-16.html">
<link rel="prev" href="index-17.html" type="text/html">
<link rel="next" href="index-15.html" type="text/html">
<!--[if lt IE 9]><script src="assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="posts/id99000/">About</a></li>
                <li><a href="articles.html">Articles</a></li>
                <li><a href="tags/index.html">Tags</a></li>
                <li><a href="rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><div class="postindex">
    <article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00437/" class="u-url">Inspiron mini 10 - Lubuntu setup その2</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00437/" rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00437/#disqus_thread" data-disqus-identifier="cache/posts/id00437.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>Netbook買って, Ubuntu入れたのはいいけど \
難関(重い... &amp; グラフィック動かない)に遭遇、対策します.</p>
<p class="more"><a href="posts/id00437/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00449/" class="u-url">LS-VL 6: debian jessie化 |{{{1|</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00449/" rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00449/#disqus_thread" data-disqus-identifier="cache/posts/id00449.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>ルーター買うのがなんかもったいないので,
LS-VLにWifiドングルつけることにしました.</p>
<p>でも, squeezeだとkernel, hostapdなどに問題があって(?),
使えなかったのでdebianを最新版に更新します.</p>
<p class="more"><a href="posts/id00449/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00450/" class="u-url">LS-VL 7-8: debian jessie標準kernelでUSB機器を使う/追加package |{{{1|</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00450/" rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00450/#disqus_thread" data-disqus-identifier="cache/posts/id00450.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>LS-VLは電源投入後にUSBの電源が入ってないです,
GPIOの状態を変更して電源を入れます.</p>
<p>手順</p>
<p>1. echo "8" &gt; /sys/class/gpio/export
1. echo "out" &gt; /sys/class/gpio/gpio8/direction
1. echo "1" &gt; /sys/class/gpio/gpio8/value
1. echo "8" &gt; /sys/class/gpio/unexport</p>
<p>buffalo謹製kernelであれば
/proc/buffalo/...にgpioがいじれるファイルができます.</p>
<p>debinan標準のkernelではそういうわけにはいきません.</p>
<p>そこで上記の手順を踏めばなんとかなる.
というわけです.</p>
<p class="more"><a href="posts/id00450/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00451/" class="u-url">LS-VL 9: 時間調整など設定を行う |{{{1|</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00451/" rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00451/#disqus_thread" data-disqus-identifier="cache/posts/id00451.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>debianが新品になったので, 調整を行います.
私の運用例ということで.</p>
<p class="more"><a href="posts/id00451/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00438/" class="u-url">Solaris10  インストールいろいろ</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00438/" rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00438/#disqus_thread" data-disqus-identifier="cache/posts/id00438.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<nav class="contents" id="topic-1" role="doc-toc"><p class="topic-title">目次</p>
<ul class="simple">
<li><p><a class="reference internal" href="posts/id00438/#format" id="toc-entry-1">format</a></p></li>
<li><p><a class="reference internal" href="posts/id00438/#container" id="toc-entry-2">Containerの移動</a></p></li>
<li><p><a class="reference internal" href="posts/id00438/#solaris-freeware" id="toc-entry-3">Solaris Freeware</a></p></li>
<li><p><a class="reference internal" href="posts/id00438/#section-1" id="toc-entry-4">所感</a></p></li>
</ul></nav><p class="more"><a href="posts/id00438/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00460/" class="u-url">SyntasticとSphinx ReST (1)</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00460/" rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00460/#disqus_thread" data-disqus-identifier="cache/posts/id00460.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>vimのplugin: Syntasticは結構気に入ってます.</p>
<p>Syntasticはファイル保存時に
そのファイルを文法チェックしてくれます.</p>
<p>さらに文法チェックの表示は
vim内に反映されるのでで簡単に取り扱えます.</p>
<p>コンパイルや実行などする前にチェックが入るので,
エディタから別作業に移る前にある程度のチェックができます. \
このため, 作業を移る回数が減って作業効率があがるわけです.</p>
<p>そのSyntasticではReSTチェックもできます. \
でも, Sphinxのdirectiveはチェックがかかりません.</p>
<p class="more"><a href="posts/id00460/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00444/" class="u-url">Zope: 2.12に乗り換え/ Five Productをupdate</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00444/" rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00444/#disqus_thread" data-disqus-identifier="cache/posts/id00444.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>このお盆はFiveのProductをupdateしてました. \
Zope2.12.2/10,2.13.0a2/0a3でいろいろ違いがあったので \
メモしておきます.</p>
<ul class="simple">
<li><p>ZODBが壊れました... \
復旧したけど1日潰れた...</p></li>
<li><p>Zope2.12乗り換え</p></li>
<li><p>Five product</p></li>
</ul>
<p class="more"><a href="posts/id00444/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00441/" class="u-url">ひさびさにxmodmapをいじってみる.</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00441/" rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00441/#disqus_thread" data-disqus-identifier="cache/posts/id00441.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>というのも, \
家のkeyboardをbluetoothに変更したので.</p>
<p>しかしこのkeyboard特殊な配列...</p>
<p>印字どうりでない配置にしてみたけど, \
シールでも貼っとくか? \
それとも蛍光ペン? 修正ペン? \
うーん...高かったからそんなことしたくないなぁ...</p>
<p class="more"><a href="posts/id00441/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00374/" class="u-url">いまさらながらFirebirdとZopeを接続してみる</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00374/" rel="bookmark">
            <time class="published dt-published" datetime="2009-10-25T22:16:12+09:00" itemprop="datePublished" title="2009-10-25 22:16">2009-10-25 22:16</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00374/#disqus_thread" data-disqus-identifier="cache/posts/id00374.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>なんか最近の文書がまったくといっていいほど<br>
見当たらないので...</p>
<p>私は本日つながりました.<br>
使っているところまでは行ってないんですが...</p>
<p>結構てこずったので, install手順書いておきます.</p>
<div class="code"><pre class="code literal-block">始めてRDB系触るんで, てこずるのは当然だったかな?
</pre></div>

<h5 id="1-fedora11firebirdinstall">1. Fedora11にfirebirdのinstall:</h5>
<div class="code"><pre class="code literal-block">yum install firebird firebird-devel
</pre></div>

<p>firebird-develは2.に必要なので注意.</p>
<p class="more"><a href="posts/id00374/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00373/" class="u-url">Zope2.12ついにリリース!</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00373/" rel="bookmark">
            <time class="published dt-published" datetime="2009-10-09T09:53:05+09:00" itemprop="datePublished" title="2009-10-09 09:53">2009-10-09 09:53</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00373/#disqus_thread" data-disqus-identifier="cache/posts/id00373.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <p>python2.5〜に対応. めでたいです. \
といいつつ,</p>
<p>切捨てた部分もあるみたいなので, \
私は機会を見計らっています.</p>
<p>Zopeのためにpython2.4環境にしている部分もあるので...</p>
<blockquote>
<p>特にhpcmipsはpythonからコンパイルだ.</p>
</blockquote>
<p><a class="reference external" href="http://zope.jp/download/zope/releases/2.12.0">リリース文はこちら</a></p>
<p>はやくも日本語です. \
ありがたや.</p>
<dl class="field-list simple">
<dt>1.0.0<span class="colon">:</span>
</dt>
<dd>
<p>07/11/11 23:26:21 1st version.</p>
</dd>
</dl>
<!-- vi: ft=rst -->
</div>
    </article>
</div>

        <nav class="postindexpager"><ul class="pager">
<li class="previous">
                <a href="index-17.html" rel="prev">新しい記事</a>
            </li>
            <li class="next">
                <a href="index-15.html" rel="next">過去の記事</a>
            </li>
        </ul></nav><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="assets/js/all-nocdn.js"></script><script src="assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
