<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>にゅーステレオ天国 (過去の記事 27ページ目) | にゅーステレオ天国</title>
<link href="assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/index-27.html">
<link rel="prev" href="index-28.html" type="text/html">
<link rel="next" href="index-26.html" type="text/html">
<!--[if lt IE 9]><script src="assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="posts/id99000/">About</a></li>
                <li><a href="articles.html">Articles</a></li>
                <li><a href="tags/index.html">Tags</a></li>
                <li><a href="rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><div class="postindex">
    <article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00565/" class="u-url">DIY: armのマイコンボードで遊ぶ 1 (未完あり)</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00565/" rel="bookmark">
            <time class="published dt-published" datetime="2019-07-13T19:16:34+09:00" itemprop="datePublished" title="2019-07-13 19:16">2019-07-13 19:16</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00565/#disqus_thread" data-disqus-identifier="cache/posts/id00565.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<ul class="simple">
<li><p><a class="reference external" href="posts/id00565/id00565.rst">DIY:</a> 1: inline assemblerなど</p></li>
</ul>
<nav class="contents" id="topic-1" role="doc-toc"><p class="topic-title">目次</p>
<ul class="simple">
<li><p><a class="reference internal" href="posts/id00565/#cortex-minline-assembler-1" id="toc-entry-1">Cortex-Mでinline assemblerしてみる |{{{1|</a></p></li>
</ul></nav><p class="more"><a href="posts/id00565/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00564/" class="u-url">arm-box: Raspberry Pi + python でボタン判定を行う</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00564/" rel="bookmark">
            <time class="published dt-published" datetime="2019-06-08T02:04:13+09:00" itemprop="datePublished" title="2019-06-08 02:04">2019-06-08 02:04</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00564/#disqus_thread" data-disqus-identifier="cache/posts/id00564.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>ポイント</p>
<ul class="simple">
<li><p>pull-upを忘れない</p></li>
<li><p>長押しの判定も作ってみた</p></li>
<li><p>tickのwrapに対応</p></li>
</ul>
<p>ちょっとchatteringの対応が不十分っぽいのか \
うまくボタンがとれていない時がある。</p>
<p>処理の流れは適当に作ったけど、もうちょっとしっかり考えた方がよかったかな...</p>
<p class="more"><a href="posts/id00564/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00563/" class="u-url">udev: USB接続HDDを無視する。固定pathにマウントする</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00563/" rel="bookmark">
            <time class="published dt-published" datetime="2019-05-13T08:37:52+09:00" itemprop="datePublished" title="2019-05-13 08:37">2019-05-13 08:37</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00563/#disqus_thread" data-disqus-identifier="cache/posts/id00563.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>次のような場合にはudevを修正すると便利でした。</p>
<ul class="simple">
<li><p>USBメモリの中に自動でマウントしたくないpartitionがあるとき <a class="footnote-reference brackets" href="posts/id00563/#footnote-1" id="footnote-reference-1" role="doc-noteref"><span class="fn-bracket">[</span>1<span class="fn-bracket">]</span></a></p></li>
<li><p>ログイン中のユーザ以外からアクセスしたい &lt;- バックアップ用途など <a class="footnote-reference brackets" href="posts/id00563/#footnote-2" id="footnote-reference-2" role="doc-noteref"><span class="fn-bracket">[</span>2<span class="fn-bracket">]</span></a></p></li>
</ul>
<p>やり方・手順は以下のようになります。</p>
<ol class="arabic simple">
<li><p>udev に HDD(USBメモリ) が接続された時の rule を追加する \</p></li>
<li><p>無視するドライブの場合: rule に udisks2 のパラメータを設定する</p></li>
<li><p>固定pathにするドライブの場合: rule に udisk2 のパラメータを設定する</p></li>
<li><p>固定pathにするドライブの場合: fstab に mount オプションを書く</p></li>
</ol>
<p>OSはUbuntu 17.10です。作った rule ファイルはこちら:</p>
<pre class="literal-block">SUBSYSTEM=="block", ENV{ID_FS_UUID}=="796c505a-2a82-43ca-a6c7-e7a6f9b49107", \
    ENV{UDISKS_IGNORE}="1"

SUBSYSTEM=="block", ENV{ID_FS_UUID}=="a35e3b2a-278a-4b02-a4e8-4a8563ad7bba", \
    ENV{UDISKS_IGNORE}="1"

SUBSYSTEM=="block", ENV{ID_FS_UUID}=="1db50d00-28c1-4959-a550-98907bc751fc", \
    ENV{UDISKS_NAME}="home", \
    ENV{UDISKS_FILESYSTEM_SHARED}="1", \
    RUN+="/bin/echo $env{ID_FS_UUID}"

# ACTION=="add", ENV{DEVTYPE}=="partition", \
#     ENV{ID_FS_UUID}=="1db50d00-28c1-4959-a550-98907bc751fc", \
#     RUN+="/bin/mount -U $env{ID_FS_UUID}"</pre>
<p>fstabの追加はこちら。(折り返していますが、1行です):</p>
<pre class="literal-block">UUID=1db50d00-28c1-4959-a550-98907bc751fc /home2 ext4
  defaults,noatime,noauto,x-gvfs-show 0 0</pre>
<p class="more"><a href="posts/id00563/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00562/" class="u-url">LS-VL: 暫定復旧〜バックアップ構築</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00562/" rel="bookmark">
            <time class="published dt-published" datetime="2019-05-13T08:37:14+09:00" itemprop="datePublished" title="2019-05-13 08:37">2019-05-13 08:37</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00562/#disqus_thread" data-disqus-identifier="cache/posts/id00562.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>GWの暫定復旧から、徐々にLS-VLを復旧していきます。</p>
<ul class="simple">
<li><p><a class="reference external" href="posts/id00562/id00553.rst">LS-VL8:</a> LS-VL SSD壊れた...Debian stretch構築やり直し</p></li>
<li><p><a class="reference external" href="posts/id00562/id00541.rst">LS-VL7:</a> LS-VL Debian Jessie管理: 2018年</p></li>
<li><p><a class="reference external" href="posts/id00562/id00505.rst">LS-VL6:</a> LS-VL 10 DHCP導入</p></li>
<li><p><a class="reference external" href="posts/id00562/id00451.rst">LS-VL5:</a> LS-VL 9 時間調整など設定を行う</p></li>
<li><p><a class="reference external" href="posts/id00562/id00450.rst">LS-VL4:</a> LS-VL 7-8: debian jessie標準kernelでUSB機器を使う</p></li>
<li><p><a class="reference external" href="posts/id00562/id00449.rst">LS-VL3:</a> LS-VL 6 debian jessie化</p></li>
<li><p><a class="reference external" href="posts/id00562/id00448.rst">LS-VL2:</a> LS-VL1.0G server(2台目)</p></li>
<li><p><a class="reference external" href="posts/id00562/id00425.rst">LS-VL1:</a> LS-VLの調整</p></li>
</ul>
<nav class="contents" id="topic-1" role="doc-toc"><p class="topic-title">目次</p>
<ul class="simple">
<li><p><a class="reference internal" href="posts/id00562/#section-1" id="toc-entry-1">バックアップ設定 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00562/#ddns-1" id="toc-entry-2">(未) ddns設定 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00562/#section-2" id="toc-entry-3">(未) 起動設定 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00562/#section-3" id="toc-entry-4">(未) 今後 |{{{1|</a></p></li>
</ul></nav><p class="more"><a href="posts/id00562/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00551/" class="u-url">Nim: transpilerとして使う(3) - javascriptから呼び出す</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00551/" rel="bookmark">
            <time class="published dt-published" datetime="2019-05-09T21:40:07+09:00" itemprop="datePublished" title="2019-05-09 21:40">2019-05-09 21:40</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00551/#disqus_thread" data-disqus-identifier="cache/posts/id00551.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p><a class="reference external" href="posts/id00551/id00550.rst">2</a> を書いてから追加であった話</p>
<section id="javascript"><h2>javascriptから呼び出す</h2>
<p>コンパイル数のシンボル・関数名は普通は数字などがつけられます。 \
ユニークになるようになってます (たぶん)</p>
<p>それだとコンパイルの度に関数名が変わってしまい、 \
他のjavasciprtから呼び出すのが不便です。</p>
<p>外部から呼び出したい場合は以下のように記述します:</p>
<pre class="literal-block">proc func(src: cstring): void {.exportc.} = ...</pre>
<p>私がハマったのは宣言と実体、両方に記述をしないと有効にならない点でした:</p>
<pre class="literal-block">proc func1(src: cstring): void {.exportc.}
proc func2(src: cstring): void {.exportc.}

proc func1(src: cstring): void {.exportc.} =   # ○
    discard

proc func2(src: cstring): void {.exportc.} =   # ×
    discard</pre>
<p>こうして準備した関数はhtmlの中から呼び出しできます。</p>
<pre class="literal-block">&lt;script src="nim.js"&gt; &lt;/script&gt;
&lt;script&gt;
    func1("hey")
&lt;/script&gt;</pre>
<p>どっちかというと、こんな使い方を考えていました</p>
<pre class="literal-block">&lt;a href="javascript:func1('hey');"&gt; button &lt;/a&gt;</pre>
<p class="more"><a href="posts/id00551/">続きを読む…</a></p></section>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00561/" class="u-url">gameクリア: PS4: ぎゃるガンボルト・バースト</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00561/" rel="bookmark">
            <time class="published dt-published" datetime="2019-05-09T06:18:30+09:00" itemprop="datePublished" title="2019-05-09 06:18">2019-05-09 06:18</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00561/#disqus_thread" data-disqus-identifier="cache/posts/id00561.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>PS Nowのお試し加入で、ぎゃるがんボルトバーストができました。</p>
<p>Mighty No.9よりおもしろい気がする...</p>
<ul class="simple">
<li><p>ロード時間が短い</p></li>
<li><p>即死が少ない</p></li>
<li><p>バーストがストレス少ない (Mightyの吸い込みはちょっと理不尽な時ある)</p></li>
<li><p>パワーアップシステムが強力で、爽快</p></li>
</ul>
<p>1時間クリアまでやって実績はあとちょっとでしたが \
PS Now解約で全実績解除とまではできませんでした。</p>
<p>ひさびさにやりこんだ感じがあったなぁ...</p>
<p>また、無印の方は、後日、安くなっていたので買いましたが
お値段なりの内容ですね</p>
<p class="more"><a href="posts/id00561/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00557/" class="u-url">DIY: LED Matrix</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00557/" rel="bookmark">
            <time class="published dt-published" datetime="2019-05-07T12:37:40+09:00" itemprop="datePublished" title="2019-05-07 12:37">2019-05-07 12:37</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00557/#disqus_thread" data-disqus-identifier="cache/posts/id00557.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<ul class="simple">
<li><p>stellaris + WS2318B (64個)</p></li>
<li><p>開発環境: Energia</p></li>
</ul>
<p class="more"><a href="posts/id00557/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00556/" class="u-url">Nim: arm-debianに最新版を導入する</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00556/" rel="bookmark">
            <time class="published dt-published" datetime="2019-05-07T12:34:00+09:00" itemprop="datePublished" title="2019-05-07 12:34">2019-05-07 12:34</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00556/#disqus_thread" data-disqus-identifier="cache/posts/id00556.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<section id="section-1"><h2>インストール</h2>
<p>19.4は次期debian(buster)にあるので、先行してstretchに入れました。</p>
<p>まず、nimの.deb版は86系なので、arm-debianに入れるには不適です。 \
sourceパッケージをダウンロードしてビルドしました。</p>
<p>とくに引っかかるところもなし。依存関係が少なくて楽でした。</p>
<p>install.shの引数が、 <strong>/usr/local/bin</strong> と bin を忘れると \
/usr/local/nim が作られてびっくりしました。</p>
</section><section id="section-2"><h2>17.2-&gt;19.4の対応</h2>
<p>これまでubuntu 18.04がnim 17.2だったので、それで運用してました。</p>
<p>今回、修正が必要だったのは次のような箇所です:</p>
<pre class="literal-block">proc initScaleLinear*(): var ScaleLinear =
    result = new(ScaleLiner)
    ...</pre>
<p>これは通らなくなりました。 \
code:<cite>var ScaleLinear</cite> が戻り値になっているので \
code:<cite>result = new(ScaleLiner)</cite> これは不要ということですかね。</p>
<p class="more"><a href="posts/id00556/">続きを読む…</a></p></section>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00553/" class="u-url">LS-VL: SSD壊れた...Debian stretch構築やり直し (未完あり)</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00553/" rel="bookmark">
            <time class="published dt-published" datetime="2019-05-02T13:00:00+09:00" itemprop="datePublished" title="2019-05-02 13:00">2019-05-02 13:00</time><span class="updated"> (更新日時
                    <time class="dt-updated" datetime="2019-05-09T08:39:53+09:00" itemprop="dateUpdated" title="2019-05-09 08:39">2019-05-09 08:39</time>)</span>
            </a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00553/#disqus_thread" data-disqus-identifier="cache/posts/id00553.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>GWに入ってWiFi動いてないなーと思っていたら、
LS-VLのSSDが壊れてました。</p>
<p>しかも3年(?)ぐらいバックアップがとれていません。</p>
<p>WiFiつながらないと色々困るので急いで復旧しました。</p>
<ul class="simple">
<li><p><a class="reference external" href="posts/id00553/id00541.rst">LS-VL7:</a> LS-VL Debian Jessie管理: 2018年</p></li>
<li><p><a class="reference external" href="posts/id00553/id00505.rst">LS-VL6:</a> LS-VL 10 DHCP導入</p></li>
<li><p><a class="reference external" href="posts/id00553/id00451.rst">LS-VL5:</a> LS-VL 9 時間調整など設定を行う</p></li>
<li><p><a class="reference external" href="posts/id00553/id00450.rst">LS-VL4:</a> LS-VL 7-8: debian jessie標準kernelでUSB機器を使う</p></li>
<li><p><a class="reference external" href="posts/id00553/id00449.rst">LS-VL3:</a> LS-VL 6 debian jessie化</p></li>
<li><p><a class="reference external" href="posts/id00553/id00448.rst">LS-VL2:</a> LS-VL1.0G server(2台目)</p></li>
<li><p><a class="reference external" href="posts/id00553/id00425.rst">LS-VL1:</a> LS-VLの調整</p></li>
</ul>
<nav class="contents" id="topic-1" role="doc-toc"><p class="topic-title">目次</p>
<ul class="simple">
<li><p><a class="reference internal" href="posts/id00553/#ssd-stretch-1" id="toc-entry-1">SSD購入＋stretchインストール |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#sudo-shadow-1" id="toc-entry-2">トラブル1: sudoできない-&gt;shadowの生編集 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#br0-1" id="toc-entry-3">トラブル2: 面倒でbr0に移行できない |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#section-1" id="toc-entry-4">背面スイッチで電源が切れるようにした |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#wifi-1" id="toc-entry-5">トラブル3: WiFiアダプタが刺さる |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#hostapd-1" id="toc-entry-6">トラブル4: hostapdがうまく設定できない |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#udhcpd-1" id="toc-entry-7">トラブル5: udhcpdがうまく設定できない |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#let-s-encrypt-1" id="toc-entry-8">証明書をlet's encryptに変更 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#samba-1" id="toc-entry-9">samba設定 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="posts/id00553/#logrotate-1" id="toc-entry-10">logrotate設定 |{{{1|</a></p></li>
</ul></nav><p class="more"><a href="posts/id00553/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00552/" class="u-url">Tablet5: 子供用(10台目)</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00552/" rel="bookmark">
            <time class="published dt-published" datetime="2019-03-02T21:48:00+09:00" itemprop="datePublished" title="2019-03-02 21:48">2019-03-02 21:48</time><span class="updated"> (更新日時
                    <time class="dt-updated" datetime="2023-09-14T12:00:00+09:00" itemprop="dateUpdated" title="2023-09-14 12:00">2023-09-14 12:00</time>)</span>
            </a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00552/#disqus_thread" data-disqus-identifier="cache/posts/id00552.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<ul>
<li>2018/12/?? 購入</li>
<li>前Android Tabが電池おかしくなったので購入。子供には、なかなか好評。</li>
<li>なんとCherryTail Tabの方が早かった...</li>
</ul>
<table>
<thead><tr>
<th>CPU</th>
<th>MediaTek 8???</th>
</tr></thead>
<tbody>
<tr>
<td>Mem</td>
<td>2GB</td>
</tr>
<tr>
<td>Storage</td>
<td>16GB eMMC</td>
</tr>
<tr>
<td>Keyboard</td>
<td>なし</td>
</tr>
<tr>
<td>Mouse</td>
<td>???</td>
</tr>
<tr>
<td>Weight</td>
<td>???g</td>
</tr>
<tr>
<td>Monitor</td>
<td>8.9" (1920x1080?)</td>
</tr>
<tr>
<td>Battery</td>
<td>3500mAh</td>
</tr>
<tr>
<td>I/F 1</td>
<td>TF slot x1</td>
</tr>
<tr>
<td>I/F 2</td>
<td>MicroUSB x1</td>
</tr>
<tr>
<td>I/F 3</td>
<td>MicroHDMI</td>
</tr>
</tbody>
</table>
<p class="more"><a href="posts/id00552/">続きを読む…</a></p>
</div>
    </div>
    </article>
</div>

        <nav class="postindexpager"><ul class="pager">
<li class="previous">
                <a href="index-28.html" rel="prev">新しい記事</a>
            </li>
            <li class="next">
                <a href="index-26.html" rel="next">過去の記事</a>
            </li>
        </ul></nav><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="assets/js/all-nocdn.js"></script><script src="assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
