<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>にゅーステレオ天国 (過去の記事 23ページ目) | にゅーステレオ天国</title>
<link href="assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/index-23.html">
<link rel="prev" href="index-24.html" type="text/html">
<link rel="next" href="index-22.html" type="text/html">
<!--[if lt IE 9]><script src="assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="posts/id99000/">About</a></li>
                <li><a href="articles.html">Articles</a></li>
                <li><a href="tags/index.html">Tags</a></li>
                <li><a href="rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><div class="postindex">
    <article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00517/" class="u-url"> msys: python-leveldbをMinGW32で使う |{{{1|</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00517/" rel="bookmark">
            <time class="published dt-published" datetime="2016-08-18T08:26:56+09:00" itemprop="datePublished" title="2016-08-18 08:26">2016-08-18 08:26</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00517/#disqus_thread" data-disqus-identifier="cache/posts/id00517.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>Linuxだと導入簡単な leveldb ですが、
Windowsだと、ちょっと工夫が必要です。</p>
<p>1. MinGWで leveldb をビルドする
1. MinGWで python-leveldb をビルドする</p>
<p>MinGW32か、MinGW64を使うかは intall した Python の
バイナリ形式で決めます。</p>
<p class="more"><a href="posts/id00517/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00515/" class="u-url">msys: minttyをtmuxで起動する(2)</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00515/" rel="bookmark">
            <time class="published dt-published" datetime="2016-08-10T08:56:28+09:00" itemprop="datePublished" title="2016-08-10 08:56">2016-08-10 08:56</time><span class="updated"> (更新日時
                    <time class="dt-updated" datetime="2016-08-13T21:00:00+09:00" itemprop="dateUpdated" title="2016-08-13 21:00">2016-08-13 21:00</time>)</span>
            </a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00515/#disqus_thread" data-disqus-identifier="cache/posts/id00515.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p><a class="reference external" href="posts/id00515/id00514.rst">先に作った(1)</a> ですが
オプション "-mingw64" と "-msys" が効かなくて困ったので修正</p>
<p class="more"><a href="posts/id00515/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00514/" class="u-url">msys: minttyをtmuxで起動する</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00514/" rel="bookmark">
            <time class="published dt-published" datetime="2016-07-19T08:45:41+09:00" itemprop="datePublished" title="2016-07-19 08:45">2016-07-19 08:45</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00514/#disqus_thread" data-disqus-identifier="cache/posts/id00514.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>mintty起動してからtmuxを毎回起動するのが面倒になってきたので
msysの起動スクリプト( msys2_shell.cmd )を改変してみます。</p>
<p>最初に msys2_shell.cmd をコピーして msys2_tmux.cmd という名前にしました。
これを個人のhomeフォルダに置きました (version管理したかったので)</p>
<p>改変ポイント1(optional):</p>
<pre class="literal-block">@echo off
setlocal

set "WD=%__CD__%"
if NOT EXIST "%WD%msys-2.0.dll" set "WD=%~dp0usr\bin\"
if NOT EXIST "%WD%msys-2.0.dll" set "WD=c:\app\msys64\usr\bin\"</pre>
<p>改変ポイント2:</p>
<pre class="literal-block">:startsh
rem 7. work fine
start "%CONTITLE%" "%WD%mintty" -c "c:\Users\shinji\.minttyrc" -i /msys2.ico /usr/bin/tmux.exe -f "%USERPROFILE%\.tmux.conf" -c "/usr/bin/bash --login"
goto startsh_end

:startsh_end
exit /b %ERRORLEVEL%</pre>
<p>改変ポイント3 ショートカットはこんな感じで書きます</p>
<dl class="field-list simple">
<dt>command<span class="colon">:</span>
</dt>
<dd>
<p>cmd /c c:pathtomsys2_tmux.cmd -here</p>
</dd>
<dt>work directory<span class="colon">:</span>
</dt>
<dd>
<p>起動したいディレクトリ。私は c:\src と書きました。</p>
</dd>
</dl>
<p class="more"><a href="posts/id00514/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00513/" class="u-url">vim: statusline</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00513/" rel="bookmark">
            <time class="published dt-published" datetime="2016-06-30T08:23:37+09:00" itemprop="datePublished" title="2016-06-30 08:23">2016-06-30 08:23</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00513/#disqus_thread" data-disqus-identifier="cache/posts/id00513.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>手持ちの環境で最近 column がstatuslineに出力されていなかった。</p>
<blockquote>
<p>なんで消えてたかは不明でしたが...</p>
</blockquote>
<p>ここを参考に調整</p>
<ul class="simple">
<li><p><a class="reference external" href="http://blogged.e2esound.com/2008/08/16/vim%E3%82%B9%E3%83%86%E3%83%BC%E3%82%BF%E3%82%B9%E3%83%A9%E3%82%A4%E3%83%B3%E3%81%AE%E8%A8%AD%E5%AE%9Astatusline/">e2esound.com業務日誌</a></p></li>
</ul>
<p>結果はこんな感じ:</p>
<pre class="literal-block">set statusline=%F%m%r%h%w\%=[T:%Y,%{&amp;ff},%{&amp;fenc}]%l/%L,%2v</pre>
<p>utf-8とかunixとかは、頭文字や略称だけにしたいなーとか考えたけど...</p>
<p>スクリプト組めばいけそうではあるな...</p>
<p class="more"><a href="posts/id00513/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00512/" class="u-url">msys: sudo/ lnを使う</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00512/" rel="bookmark">
            <time class="published dt-published" datetime="2016-06-18T16:33:18+09:00" itemprop="datePublished" title="2016-06-18 16:33">2016-06-18 16:33</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00512/#disqus_thread" data-disqus-identifier="cache/posts/id00512.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>Windowsの運用で気になることがまた2つ。</p>
<ol class="arabic simple">
<li><p>sudoがしたい</p></li>
<li><p>lnが普通のコピーで運用される。</p></li>
</ol>
<p>これらが使いにくい。</p>
<p>lnは実行してリンクと思ってたら
実際には実体が別になってましたー、とか、ちょっと混乱します。</p>
<p>sudoはどうなんだろう、ln以外には使わないけど...</p>
<p class="more"><a href="posts/id00512/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00511/" class="u-url">Tablet2: SDcard選定</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00511/" rel="bookmark">
            <time class="published dt-published" datetime="2016-06-14T23:08:43+09:00" itemprop="datePublished" title="2016-06-14 23:08">2016-06-14 23:08</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00511/#disqus_thread" data-disqus-identifier="cache/posts/id00511.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>TabletのSDcardスロットですが、
64GB SDXCを購入するもなんだかプチフリみたいな現象が頻発しました。</p>
<p>32GBのUHS-Iを購入しても同じ...</p>
<ul class="simple">
<li><p><a href="posts/id00511/#system-message-1"><span class="problematic" id="problematic-1">`id00503.rst`_</span></a> Tablet2: モバイル(7台目)</p></li>
</ul>
<p class="more"><a href="posts/id00511/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00443/" class="u-url">pyramid移行を検討してみる |{{{1|</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00443/" rel="bookmark">
            <time class="published dt-published" datetime="2016-04-05T08:23:18+09:00" itemprop="datePublished" title="2016-04-05 08:23">2016-04-05 08:23</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00443/#disqus_thread" data-disqus-identifier="cache/posts/id00443.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p>Fiveでアプリを作っているので \
アプリの移行は簡単と予想してます。</p>
<p class="more"><a href="posts/id00443/">続きを読む…</a></p>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00446/" class="u-url">Sotec E-Note ノートPC(3台目)</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00446/" rel="bookmark">
            <time class="published dt-published" datetime="2016-04-05T07:42:40+09:00" itemprop="datePublished" title="2016-04-05 07:42">2016-04-05 07:42</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00446/#disqus_thread" data-disqus-identifier="cache/posts/id00446.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <ul>
<li>2009/01 貰う</li>
</ul>
<p>スペック思い出せないわ...</p>
<p>母がどこかのおじさんから譲ってもらったらしい</p>
<table>
<thead><tr>
<th>CPU</th>
<th>AMD K6-II?</th>
</tr></thead>
<tbody>
<tr>
<td>Mem</td>
<td>64MB 買い替え 1000円</td>
</tr>
<tr>
<td>Storage</td>
<td>??GB HDD</td>
</tr>
<tr>
<td>Keyboard</td>
<td>ふつう</td>
</tr>
<tr>
<td>Weight</td>
<td>???g</td>
</tr>
<tr>
<td>Monitor</td>
<td>10" (800x600?)</td>
</tr>
<tr>
<td>Battery</td>
<td>????mAh</td>
</tr>
<tr>
<td>I/F 1</td>
<td>USB x3</td>
</tr>
</tbody>
</table>
<p>本文なし</p>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00508/" class="u-url">PY4A: いろいろ</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00508/" rel="bookmark">
            <time class="published dt-published" datetime="2016-04-03T17:00:00+09:00" itemprop="datePublished" title="2016-04-03 17:00">2016-04-03 17:00</time><span class="updated"> (更新日時
                    <time class="dt-updated" datetime="2017-03-15T09:04:53+09:00" itemprop="dateUpdated" title="2017-03-15 09:04">2017-03-15 09:04</time>)</span>
            </a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00508/#disqus_thread" data-disqus-identifier="cache/posts/id00508.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<section id="py4a-numpy"><h2>PY4A: Numpy をビルド</h2>
<p>PyCrypto と同様のMakefileを作って、 compile OK でした。</p>
<p>ただ、 user base は、FATには置けなさそう。
.so の読み込みができません。
/data/local/tmp/local にコピーすれば読み込めました。</p>
</section><section id="py4a-pycrypto"><h2>PY4A: PyCrypto をビルド</h2>
<p>PEP452 って知らなかったです。
py4a の pyver と abi は間違っているみたいです。</p>
<p>次のリリースぐらいには直そうかな</p>
<p>さて、 pycrypto を cross compile してみました。</p>
<ul class="simple">
<li><p>ファイル名の扱いで苦労しました</p></li>
<li><p>wheel (pip) の platform チェックを調べました</p></li>
<li><p>pycrypto の実機確認をしました。(簡単な例のみ)</p></li>
<li><p>スクリプトに落とし込んで完了</p></li>
</ul>
<p>wheel (pip) の platform チェックを調べる</p>
<pre class="literal-block">import re

wheel_file_re = re.compile(
        r"""^(?P&lt;namever&gt;(?P&lt;name&gt;.+?)-(?P&lt;ver&gt;\d.*?))
        ((-(?P&lt;build&gt;\d.*?))?-(?P&lt;pyver&gt;.+?)-(?P&lt;abi&gt;.+?)-(?P&lt;plat&gt;.+?)
        \.whl|\.dist-info)$""",
        re.VERBOSE
    )
for i in ("pycrypto-2.6.1-cp36-cp36m-arm_linux_androideabi.whl",
          "pycrypto-2.6.1-cpython-36m-arm_linux_androideabi.whl",
          ):
    info = wheel_file_re.match(i)
    print(info.group("ver"),
          info.group("pyver"),
          info.group("abi"),
          info.group("plat"))

&gt;&gt;&gt; 2.6.1 cp36 cp36m arm_linux_androideabi
&gt;&gt;&gt; 2.6.1 cpython 36m arm_linux_androideabi

n7000 ~ # bash python3.sh
Python 3.6.0 (default, Mar  5 2017, 14:39:55)
[GCC 4.9 20140827 (prerelease)] on linux
Type "help", "copyright", "credits" or "license" for more information.
&gt;&gt;&gt; from wheel import pep425tags
&gt;&gt;&gt; pep425tags.supported_tags
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
AttributeError: module 'wheel.pep425tags' has no attribute 'supported_tags'
&gt;&gt;&gt; pep425tags.supported_tags
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
AttributeError: module 'wheel.pep425tags' has no attribute 'supported_tags'
&gt;&gt;&gt; from pip import pep425tags as a
WARNING:root:cert file changed, android system have no-compatibles with python:/mnt/sdcard/com.googlecode.python3forandroid/cacert.pem
&gt;&gt;&gt; a.supported_tags
[('cp36', 'cp36m', 'linux_armv7l'), ('cp36', 'abi3', 'linux_armv7l'), ('cp36', 'none', 'linux_armv7l'), ('cp35', 'abi3', 'linux_armv7l'), ('cp34', 'abi3', 'linux_armv7l'), ('cp33', 'abi3', 'linux_armv7l'), ('cp32', 'abi3', 'linux_armv7l'), ('py3', 'none', 'linux_armv7l'), ('cp36', 'none', 'any'), ('cp3', 'none', 'any'), ('py36', 'none', 'any'), ('py3', 'none', 'any'), ('py35', 'none', 'any'), ('py34', 'none', 'any'), ('py33', 'none', 'any'), ('py32', 'none', 'any'), ('py31', 'none', 'any'), ('py30', 'none', 'any')]</pre>
<p>出力を見ると linux_armv7l となってますね。</p>
<p>ファイル名を変更して install を実効してみます。:</p>
<pre class="literal-block">n7000 ~ # bash python3.sh sl4a/scripts/pip_console.py install wheel
WARNING:root:cert file changed, android system have no-compatibles with python:/mnt/sdcard/com.googlecode.python3forandroid/cacert.pem
Collecting wheel
  Downloading wheel-0.29.0-py2.py3-none-any.whl (66kB)
    100% |################################| 71kB 177kB/s
Installing collected packages: wheel
Successfully installed wheel-0.29.0
n7000 ~ # bash python3.sh sl4a/scripts/pip_console.py install pycrypto-2.6.1-cp36-cp36m-linux_armv7l.whl
WARNING:root:cert file changed, android system have no-compatibles with python:/mnt/sdcard/com.googlecode.python3forandroid/cacert.pem
Processing ./pycrypto-2.6.1-cp36-cp36m-linux_armv7l.whl
Installing collected packages: pycrypto
Successfully installed pycrypto-2.6.1</pre>
<p>使えるかどうかテスト</p>
<pre class="literal-block">n7000 ~ # bash python3.sh
Python 3.6.0 (default, Mar  5 2017, 14:39:55)
[GCC 4.9 20140827 (prerelease)] on linux
Type "help", "copyright", "credits" or "license" for more information.
&gt;&gt;&gt; from Crypto.Hash import SHA256
&gt;&gt;&gt; SHA256.new('abc'.encode("latin-1")).hexdigest()
'ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad'</pre>
<p>[Makefile](<a class="reference external" href="https://github.com/kuri65536/python-for-android/python-modules/PyCrypto/Makefile">https://github.com/kuri65536/python-for-android/python-modules/PyCrypto/Makefile</a>)
に落とし込んで完了
[#130](<a class="reference external" href="https://github.com/kuri65536/python-for-android/issues/130">https://github.com/kuri65536/python-for-android/issues/130</a>)</p>
<p class="more"><a href="posts/id00508/">続きを読む…</a></p></section>
</div>
    </div>
    </article><article class="h-entry post-text" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title"><a href="posts/id00506/" class="u-url">VMWare: msysからnetwork interfaceをon/offする</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                Shimoda
            </span></p>
            <p class="dateline">
            <a href="posts/id00506/" rel="bookmark">
            <time class="published dt-published" datetime="2016-04-02T08:50:55+09:00" itemprop="datePublished" title="2016-04-02 08:50">2016-04-02 08:50</time></a>
            </p>
                <p class="commentline">
    
    <a href="posts/id00506/#disqus_thread" data-disqus-identifier="cache/posts/id00506.html">コメント</a>


        </p>
</div>
    </header><div class="p-summary entry-summary">
    <div>
<p><a href="posts/id00506/#system-message-1"><span class="problematic" id="problematic-1">`id00504.rst`_</span></a> でいろいろトラブルを書きましたが、
VMWareがinterfaceを2つも増やしてるので
route情報が気になったりします。</p>
<blockquote>
<p>仮想マシン立ち上げてないのに
interfaceだけあるのも気になることもあるし。</p>
</blockquote>
<p class="more"><a href="posts/id00506/">続きを読む…</a></p>
</div>
    </div>
    </article>
</div>

        <nav class="postindexpager"><ul class="pager">
<li class="previous">
                <a href="index-24.html" rel="prev">新しい記事</a>
            </li>
            <li class="next">
                <a href="index-22.html" rel="next">過去の記事</a>
            </li>
        </ul></nav><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="assets/js/all-nocdn.js"></script><script src="assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
