<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>2018年の記事 | にゅーステレオ天国</title>
<link href="../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/2018/">
<!--[if lt IE 9]><script src="../assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../posts/id99000/">About</a></li>
                <li><a href="../articles.html">Articles</a></li>
                <li><a href="../tags/index.html">Tags</a></li>
                <li><a href="../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="listpage"><header><h1>2018年の記事</h1>
    </header><ul class="postlist">
<li>
<time class="listdate" datetime="2018-12-10T08:26:39+09:00" title="2018-12-10 08:26">2018-12-10 08:26</time><a href="../posts/id00546/" class="listtitle">Genie: maja - transpiler -&gt; 使用断念</a>
</li>
        <li>
<time class="listdate" datetime="2018-10-19T08:49:10+09:00" title="2018-10-19 08:49">2018-10-19 08:49</time><a href="../posts/id00544/" class="listtitle">BlackBerryKeyOne (スマホ11台目)</a>
</li>
        <li>
<time class="listdate" datetime="2018-09-03T12:57:27+09:00" title="2018-09-03 12:57">2018-09-03 12:57</time><a href="../posts/id00543/" class="listtitle">Genie: sample code</a>
</li>
        <li>
<time class="listdate" datetime="2018-06-19T08:24:17+09:00" title="2018-06-19 08:24">2018-06-19 08:24</time><a href="../posts/id00541/" class="listtitle">LS-VL: Debian Jessie管理: 2018年</a>
</li>
        <li>
<time class="listdate" datetime="2018-05-31T08:00:00+09:00" title="2018-05-31 08:00">2018-05-31 08:00</time><a href="../posts/id00540/" class="listtitle">   transcrypt+mypy+jQueryMobile+jQueryでのアプリ作成</a>
</li>
        <li>
<time class="listdate" datetime="2018-04-29T09:09:37+09:00" title="2018-04-29 09:09">2018-04-29 09:09</time><a href="../posts/id00539/" class="listtitle">Ubuntu 18.04 にアップグレード</a>
</li>
        <li>
<time class="listdate" datetime="2018-04-13T13:02:40+09:00" title="2018-04-13 13:02">2018-04-13 13:02</time><a href="../posts/id00536/" class="listtitle">Gist: Genie sample code</a>
</li>
        <li>
<time class="listdate" datetime="2018-04-12T08:31:08+09:00" title="2018-04-12 08:31">2018-04-12 08:31</time><a href="../posts/id00538/" class="listtitle">transcrypt+Bluma+jQueryでサイトを再構築</a>
</li>
    </ul></article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../assets/js/all-nocdn.js"></script><script src="../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
