<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>LS-VL 6: debian jessie化 |{{{1| | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00449/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00450/" title="LS-VL 7-8: debian jessie標準kernelでUSB機器を使う/追加package |{{{1|" type="text/html">
<link rel="next" href="../id00444/" title="Zope: 2.12に乗り換え/ Five Productをupdate" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="LS-VL 6: debian jessie化 |{{{1|">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00449/">
<meta property="og:description" content="ルーター買うのがなんかもったいないので,
LS-VLにWifiドングルつけることにしました.
でも, squeezeだとkernel, hostapdなどに問題があって(?),
使えなかったのでdebianを最新版に更新します.


手順

/bototにdebian jessieのインストールイメージを展開:
uImage, uInitrd =&gt; uImage.buffalo, initrd.g">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2009-11-23T23:05:49+09:00">
<meta property="article:tag" content="embedded">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">LS-VL 6: debian jessie化 |{{{1|</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00449.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>ルーター買うのがなんかもったいないので,
LS-VLにWifiドングルつけることにしました.</p>
<p>でも, squeezeだとkernel, hostapdなどに問題があって(?),
使えなかったのでdebianを最新版に更新します.</p>
<!-- TEASER_END -->
<section id="section-1"><h2>手順</h2>
<ol class="arabic">
<li>
<p>/bototにdebian jessieのインストールイメージを展開:</p>
<pre class="literal-block">uImage, uInitrd =&gt; uImage.buffalo, initrd.gz</pre>
</li>
<li><p>おもむろに再起動 (どうせ文鎮状態だったので)</p></li>
<li><p>他のPCから ssh <a class="reference external" href="mailto:installer@host">installer@host</a> でinstaller起動</p></li>
<li><p>日付の設定などがよくわからなくなったので日本語で継続</p></li>
<li><p>/boot は上書インストール</p></li>
<li><p>/ はクリーンインストール</p></li>
<li><p>追加ユーザはsshログインで必須なので間違えないように入力</p></li>
<li><p>しばし待つ</p></li>
<li><p>追加パッケージはDesktopなどは要らないのでそのままでOK</p></li>
<li><p>しばし待つ</p></li>
<li><p>全部の終わったら, shellを起動</p></li>
</ol></section><section id="section-2"><h2>確認</h2>
<ol class="arabic">
<li><p>/target/boot を見る
最初からuImageがuImage.buffaloになってる気がする. やるな...</p></li>
<li>
<p>/target/etc/network/interfaces を見る
eth1になってる.</p>
<p>これはkernelじゃなくてハードのせいなのかな...</p>
<p>なんにせよ自動でしっかり設定できてるみたい. やるな...</p>
</li>
<li>
<p>LED
インストール時からでしたが赤色になります.
kernel刺さったりしても赤なんで怖い.</p>
<p>実際に刺さったときは赤点滅なんで, まぁぼちぼち直せればいいかな.</p>
</li>
</ol>
<p>確認の結果, 問題なさそうなんでとりあえず再起動....</p>
<p>他のPCからssh....おぉ起動している!</p>
<p>今回はここまで.</p>
</section><section id="section-3"><h2>失敗編</h2>
<ul>
<li><p>squeeze =&gt; jessie にするべく apt.conf 編集</p></li>
<li><p>apt-getd dist-upgrade実行</p></li>
<li><p>libc6-2.18でKernelが古すぎてインストールできないと言われる</p></li>
<li><p>最新FirmのKernel(3.3.4)がたまたま公式でリリースされてたのでインストール</p></li>
<li><p>libc6はインストールできる</p></li>
<li>
<p>udevでKernelのconfigが足りないと指摘がrある</p>
<p>他のbinaryが変更されてちゃってるので後でkernel compileするからいっか、的なノリで
強制インストール (tuoch /etc/udev/kernel-updatesでいける)</p>
</li>
<li><p>kernelのコンパイル</p></li>
<li><p>再起動 =&gt; 刺さる</p></li>
<li><p>どうしようもなくなり、放置</p></li>
<li><p>起動しないんで, 他のPCでkernelのcrosscompile環境を構築しようとする</p></li>
<li><p>長い...しかもFedoraが悪いのか止まる.</p></li>
<li><p>x86の環境修正おとか面倒なので気持ち萎える</p></li>
<li><p>LS-XHLが同じkernelを使っている事を知る</p></li>
<li><p>ダメ元にで, LS-XHLのdebian installerを使ってみる =&gt; なんとあっさり起動</p></li>
<li><p>ただ, jessieのinstallerで起動するも / (root)
パーティションが上書きだと途中で失敗...</p></li>
</ul></section><section id="section-4"><h2>失敗編2</h2>
<p>追加ユーザの入力をミスってしまい、,
ユーザ名が tatoeba　＝＞=&gt; tatobea　みたいな感じになってしまった.</p>
<p>他のPCにHDDつけ直して, /etc/passwd, groupを修正して事なきを得る</p>
<p>うーん, しょうもない...</p>
<!-- vi: ft=rst:et:ts=4 -->
</section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/embedded/" rel="tag">embedded</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00450/" rel="prev" title="LS-VL 7-8: debian jessie標準kernelでUSB機器を使う/追加package |{{{1|">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00444/" rel="next" title="Zope: 2.12に乗り換え/ Five Productをupdate">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00449/",
        disqus_title="LS-VL 6: debian jessie\u5316 |{{{1|",
        disqus_identifier="cache/posts/id00449.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
