<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>comment-policy | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/pages/comment-policy/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="comment-policy">
<meta property="og:url" content="https://kuri65536.bitbucket.io/pages/comment-policy/">
<meta property="og:description" content="Comments are welcomed and encouraged on this site, but there are some instances
where comments will be edited or deleted as follows:

Comments deemed to be spam or solely promotional in nature will be">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2024-02-22T07:17:36+09:00">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../../posts/id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text storypage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">comment-policy</a></h1>

        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>Comments are welcomed and encouraged on this site, but there are some instances
where comments will be edited or deleted as follows:</p>
<ul class="simple">
<li><p>Comments deemed to be spam or solely promotional in nature will be deleted.
Including a link to relevant content is permitted, but comments should be
relevant to the post topic.</p></li>
<li><p>Comments including profanity will be deleted.</p></li>
<li><p>Comments containing language or concepts that could be deemed offensive will
be deleted. Note this may include abusive, threatening, pornographic,
offensive, misleading or libelous language.</p></li>
<li><p>Comments that attack an individual directly will be deleted.</p></li>
<li><p>Comments that harass other posters will be deleted. Please be respectful
toward other contributors.</p></li>
<li><p>Offtopic comments may be deleted.</p></li>
</ul>
<!-- Anonymous comments will be deleted. We only accept comments from posters who
identify themselves. --><p>The owner of this blog reserves the right to edit or delete any comments
submitted to the blog without notice. This comment policy is subject to change
at any time. If you have any questions about the commenting policy, please let
us know at <a class="reference external" href="mailto:kuri65536@hotmail.com">shimoda</a> .</p>
    </div>
    

</article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
