<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>2015年の記事 | にゅーステレオ天国</title>
<link href="../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/2015/">
<!--[if lt IE 9]><script src="../assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../posts/id99000/">About</a></li>
                <li><a href="../articles.html">Articles</a></li>
                <li><a href="../tags/index.html">Tags</a></li>
                <li><a href="../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="listpage"><header><h1>2015年の記事</h1>
    </header><ul class="postlist">
<li>
<time class="listdate" datetime="2015-12-09T23:28:20+09:00" title="2015-12-09 23:28">2015-12-09 23:28</time><a href="../posts/id00510/" class="listtitle">vim: Pythonのエラー出力に対応</a>
</li>
        <li>
<time class="listdate" datetime="2015-12-09T23:28:20+09:00" title="2015-12-09 23:28">2015-12-09 23:28</time><a href="../posts/id00502/" class="listtitle">vim: TODO管理を考える</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-23T16:10:22+09:00" title="2015-11-23 16:10">2015-11-23 16:10</time><a href="../posts/id00493/" class="listtitle">PY4A: OpenSSLを1.0.2dにupdate</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-23T10:27:07+09:00" title="2015-11-23 10:27">2015-11-23 10:27</time><a href="../posts/id00492/" class="listtitle">pyramidでサイト更新してみた所感</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-15T18:54:11+09:00" title="2015-11-15 18:54">2015-11-15 18:54</time><a href="../posts/id00482/" class="listtitle">HTC HT-01A (スマホ7台目)</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-10T13:03:53+09:00" title="2015-11-10 13:03">2015-11-10 13:03</time><a href="../posts/id00469/" class="listtitle">pyramidでサイト作り直しました.</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-08T05:56:17+09:00" title="2015-11-08 05:56">2015-11-08 05:56</time><a href="../posts/id00467/" class="listtitle">Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1|</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-08T05:47:00+09:00" title="2015-11-08 05:47">2015-11-08 05:47</time><a href="../posts/id00464/" class="listtitle">Linux on Androidで遊ぶ(root化)</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-08T04:54:40+09:00" title="2015-11-08 04:54">2015-11-08 04:54</time><a href="../posts/id00432/" class="listtitle">Sigmarion: モバイル(2台目)</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-08T04:41:44+09:00" title="2015-11-08 04:41">2015-11-08 04:41</time><a href="../posts/id00472/" class="listtitle">X-02HT (スマホ1台目)</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-08T04:36:16+09:00" title="2015-11-08 04:36">2015-11-08 04:36</time><a href="../posts/id00476/" class="listtitle">ASUS MemoPad8 K00L ME-180: モバイル(7台目)</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-08T04:32:47+09:00" title="2015-11-08 04:32">2015-11-08 04:32</time><a href="../posts/id00475/" class="listtitle">Dynabook AZ: モバイル(6台目)</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-05T03:36:26+09:00" title="2015-11-05 03:36">2015-11-05 03:36</time><a href="../posts/id00435/" class="listtitle">LAN-DISK server(1台目)</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-03T17:44:41+09:00" title="2015-11-03 17:44">2015-11-03 17:44</time><a href="../posts/id00434/" class="listtitle">   お家で使うVCSを選ぶ (mercurialにしました) 2</a>
</li>
        <li>
<time class="listdate" datetime="2015-11-03T17:44:41+09:00" title="2015-11-03 17:44">2015-11-03 17:44</time><a href="../posts/id00433/" class="listtitle">fedora11 to fedora12</a>
</li>
    </ul></article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../assets/js/all-nocdn.js"></script><script src="../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
