<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>pyramidでサイト作り直しました. | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00469/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00467/" title="Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1|" type="text/html">
<link rel="next" href="../id00482/" title="HTC HT-01A (スマホ7台目)" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="pyramidでサイト作り直しました.">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00469/">
<meta property="og:description" content="これまでZopeを使ってサイトを作っていましたが、 \
思うところがあってpyramidで作り直しました。
Zopeからpyramidに移行してから結構時間が経つのですが \
やっと使い慣れてきた感じです。

pyramidでのサイト作成ですが、以下の方針で進めています。

以前のページもそのまま残せるようにしました。
仕組みを凝るのはやめて、簡単な構造でしばらく進めます。">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2015-11-10T13:03:53+09:00">
<meta property="article:tag" content="pyramid">
<meta property="article:tag" content="web">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">pyramidでサイト作り直しました.</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2015-11-10T13:03:53+09:00" itemprop="datePublished" title="2015-11-10 13:03">2015-11-10 13:03</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00469.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>これまでZopeを使ってサイトを作っていましたが、 \
思うところがあってpyramidで作り直しました。</p>
<p>Zopeからpyramidに移行してから結構時間が経つのですが \
やっと使い慣れてきた感じです。</p>
<!-- TEASER_END -->
<p>pyramidでのサイト作成ですが、以下の方針で進めています。</p>
<ul class="simple">
<li><p>以前のページもそのまま残せるようにしました。</p></li>
<li><p>仕組みを凝るのはやめて、簡単な構造でしばらく進めます。</p></li>
</ul>
<!-- vi: ft=rst:et:ts=4 -->
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/pyramid/" rel="tag">pyramid</a></li>
            <li><a class="tag p-category" href="../../tags/web/" rel="tag">web</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00467/" rel="prev" title="Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1|">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00482/" rel="next" title="HTC HT-01A (スマホ7台目)">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00469/",
        disqus_title="pyramid\u3067\u30b5\u30a4\u30c8\u4f5c\u308a\u76f4\u3057\u307e\u3057\u305f.",
        disqus_identifier="cache/posts/id00469.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
