<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1| | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00467/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00464/" title="Linux on Androidで遊ぶ(root化)" type="text/html">
<link rel="next" href="../id00469/" title="pyramidでサイト作り直しました." type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1|">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00467/">
<meta property="og:description" content="動かないのは下の2つ

LiveUSBが作れない
インストール後、起動しない

いろいろハマったので書いときます.


LiveUSBが作れない
FedoraからLiveUSBが作れません.

Linuxで使うLiveUSB作成ソフトの例がなかなか見つからない

Windowsメインのユーザ多いってことか...(特に日本語

有名どころにもWindows版のみってのが多い

LiveUSB作成ソフ">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2015-11-08T05:56:17+09:00">
<meta property="article:tag" content="fedora">
<meta property="article:tag" content="linux">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1|</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2015-11-08T05:56:17+09:00" itemprop="datePublished" title="2015-11-08 05:56">2015-11-08 05:56</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00467.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>動かないのは下の2つ</p>
<ul class="simple">
<li><p>LiveUSBが作れない</p></li>
<li><p>インストール後、起動しない</p></li>
</ul>
<p>いろいろハマったので書いときます.</p>
<!-- TEASER_END -->
<section id="liveusb"><h2>LiveUSBが作れない</h2>
<p>FedoraからLiveUSBが作れません.</p>
<ul>
<li>
<p>Linuxで使うLiveUSB作成ソフトの例がなかなか見つからない</p>
<blockquote>
<p>Windowsメインのユーザ多いってことか...(特に日本語</p>
</blockquote>
<p>有名どころにもWindows版のみってのが多い</p>
</li>
<li>
<p>LiveUSB作成ソフトをうまく動かせない</p>
<ol class="arabic">
<li>
<p>UNetbootin</p>
<p>Fedoraでは, p7z-fullが無いのでisoイメージを展開できない?</p>
</li>
<li>
<p>FedoarUSB</p>
<p>FedoraとUbuntuではiso内のフォルダ構造が異なるらしく, \
このツールでUbuntuのLiveUSBは作れない</p>
</li>
<li>
<p>livecd-tools</p>
<p>これもFedoraのフォルダ構造専用? \
UbuntuのLiveUSBは作れないっぽい</p>
</li>
<li>
<p>自分でやる(syslinuxコマンドラインで)</p>
<p>過去何回か手動で作ったことはあるんですが, \
なんかできたのが奇跡みたいな状況(つーかよくわからん) \
今回は面倒なのでパス</p>
</li>
</ol>
</li>
</ul></section><section id="section-1"><h2>インストール後、起動しない</h2>
<p>2日目の朝で, 現在は起動してません.</p>
<blockquote>
<p>どうもdbusが動いていない模様</p>
</blockquote>
<p>どうしたらいいのか...</p>
<!-- vi: ft=rst:et:ts=4 -->
</section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/fedora/" rel="tag">fedora</a></li>
            <li><a class="tag p-category" href="../../tags/linux/" rel="tag">linux</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00464/" rel="prev" title="Linux on Androidで遊ぶ(root化)">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00469/" rel="next" title="pyramidでサイト作り直しました.">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00467/",
        disqus_title="Fedora16\u304c\u52d5\u304b\u306a\u3044\u2192Ubuntu 11.10\u306b\u4e57\u308a\u63db\u3048\u305f\u3044 |{{{1|",
        disqus_identifier="cache/posts/id00467.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
