<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>2010年の記事 | にゅーステレオ天国</title>
<link href="../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/2010/">
<!--[if lt IE 9]><script src="../assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../posts/id99000/">About</a></li>
                <li><a href="../articles.html">Articles</a></li>
                <li><a href="../tags/index.html">Tags</a></li>
                <li><a href="../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="listpage"><header><h1>2010年の記事</h1>
    </header><ul class="postlist">
<li>
<time class="listdate" datetime="2010-09-27T10:15:17+09:00" title="2010-09-27 10:15">2010-09-27 10:15</time><a href="../posts/id00394/" class="listtitle">TwitVimでつぶやいてみましょう</a>
</li>
        <li>
<time class="listdate" datetime="2010-06-14T01:13:42+09:00" title="2010-06-14 01:13">2010-06-14 01:13</time><a href="../posts/id00393/" class="listtitle">お家で使うVCSを選ぶ (mercurialにしました)</a>
</li>
        <li>
<time class="listdate" datetime="2010-06-14T00:57:27+09:00" title="2010-06-14 00:57">2010-06-14 00:57</time><a href="../posts/id00392/" class="listtitle">gameクリア: PS2: section Z クリア</a>
</li>
        <li>
<time class="listdate" datetime="2010-05-23T11:42:18+09:00" title="2010-05-23 11:42">2010-05-23 11:42</time><a href="../posts/id00391/" class="listtitle">Fedoraでもsynceできた :D</a>
</li>
        <li>
<time class="listdate" datetime="2010-02-11T09:15:30+09:00" title="2010-02-11 09:15">2010-02-11 09:15</time><a href="../posts/id00387/" class="listtitle">Zope: いつのまにかmethod変数が使えなくなってる....</a>
</li>
        <li>
<time class="listdate" datetime="2010-01-29T00:21:36+09:00" title="2010-01-29 00:21">2010-01-29 00:21</time><a href="../posts/id00385/" class="listtitle">partitionの合体(3) LVMで</a>
</li>
        <li>
<time class="listdate" datetime="2010-01-18T01:37:27+09:00" title="2010-01-18 01:37">2010-01-18 01:37</time><a href="../posts/id00383/" class="listtitle">NetBSD/landisk Zope動かしてみる(4)</a>
</li>
        <li>
<time class="listdate" datetime="2010-01-11T23:56:27+09:00" title="2010-01-11 23:56">2010-01-11 23:56</time><a href="../posts/id00381/" class="listtitle">NetBSD/landisk pkgsrcでいろいろ作る(3)</a>
</li>
    </ul></article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../assets/js/all-nocdn.js"></script><script src="../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
