<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>2016年の記事 | にゅーステレオ天国</title>
<link href="../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/2016/">
<!--[if lt IE 9]><script src="../assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../posts/id99000/">About</a></li>
                <li><a href="../articles.html">Articles</a></li>
                <li><a href="../tags/index.html">Tags</a></li>
                <li><a href="../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="listpage"><header><h1>2016年の記事</h1>
    </header><ul class="postlist">
<li>
<time class="listdate" datetime="2016-10-29T23:42:59+09:00" title="2016-10-29 23:42">2016-10-29 23:42</time><a href="../posts/id00465/" class="listtitle">Lubuntu (Ubuntu,debian) にlxdmを導入する |{{{1|</a>
</li>
        <li>
<time class="listdate" datetime="2016-10-29T23:38:20+09:00" title="2016-10-29 23:38">2016-10-29 23:38</time><a href="../posts/id00473/" class="listtitle">H61MH パソコン(6台目)</a>
</li>
        <li>
<time class="listdate" datetime="2016-10-29T23:31:27+09:00" title="2016-10-29 23:31">2016-10-29 23:31</time><a href="../posts/id00436/" class="listtitle">???? パソコン(5台目)</a>
</li>
        <li>
<time class="listdate" datetime="2016-10-29T09:51:09+09:00" title="2016-10-29 09:51">2016-10-29 09:51</time><a href="../posts/id00448/" class="listtitle">LS-VL1.0G server(2台目)</a>
</li>
        <li>
<time class="listdate" datetime="2016-10-18T13:17:00+09:00" title="2016-10-18 13:17">2016-10-18 13:17</time><a href="../posts/id00520/" class="listtitle">udev: Bluetooth Keyboardが接続されたらxmodmapする</a>
</li>
        <li>
<time class="listdate" datetime="2016-09-28T08:47:00+09:00" title="2016-09-28 08:47">2016-09-28 08:47</time><a href="../posts/id00519/" class="listtitle">arm-box: Scishon 88 TVBOX server(3台目)</a>
</li>
        <li>
<time class="listdate" datetime="2016-09-06T06:00:00Z" title="2016-09-06 06:00">2016-09-06 06:00</time><a href="../posts/id00518/" class="listtitle">Tablet3: モバイル(9台目)</a>
</li>
        <li>
<time class="listdate" datetime="2016-08-18T08:26:56+09:00" title="2016-08-18 08:26">2016-08-18 08:26</time><a href="../posts/id00517/" class="listtitle"> msys: python-leveldbをMinGW32で使う |{{{1|</a>
</li>
        <li>
<time class="listdate" datetime="2016-08-10T08:56:28+09:00" title="2016-08-10 08:56">2016-08-10 08:56</time><a href="../posts/id00515/" class="listtitle">msys: minttyをtmuxで起動する(2)</a>
</li>
        <li>
<time class="listdate" datetime="2016-07-19T08:45:41+09:00" title="2016-07-19 08:45">2016-07-19 08:45</time><a href="../posts/id00514/" class="listtitle">msys: minttyをtmuxで起動する</a>
</li>
        <li>
<time class="listdate" datetime="2016-06-30T08:23:37+09:00" title="2016-06-30 08:23">2016-06-30 08:23</time><a href="../posts/id00513/" class="listtitle">vim: statusline</a>
</li>
        <li>
<time class="listdate" datetime="2016-06-18T16:33:18+09:00" title="2016-06-18 16:33">2016-06-18 16:33</time><a href="../posts/id00512/" class="listtitle">msys: sudo/ lnを使う</a>
</li>
        <li>
<time class="listdate" datetime="2016-06-14T23:08:43+09:00" title="2016-06-14 23:08">2016-06-14 23:08</time><a href="../posts/id00511/" class="listtitle">Tablet2: SDcard選定</a>
</li>
        <li>
<time class="listdate" datetime="2016-04-05T08:23:18+09:00" title="2016-04-05 08:23">2016-04-05 08:23</time><a href="../posts/id00443/" class="listtitle">pyramid移行を検討してみる |{{{1|</a>
</li>
        <li>
<time class="listdate" datetime="2016-04-05T07:42:40+09:00" title="2016-04-05 07:42">2016-04-05 07:42</time><a href="../posts/id00446/" class="listtitle">Sotec E-Note ノートPC(3台目)</a>
</li>
        <li>
<time class="listdate" datetime="2016-04-03T17:00:00+09:00" title="2016-04-03 17:00">2016-04-03 17:00</time><a href="../posts/id00508/" class="listtitle">PY4A: いろいろ</a>
</li>
        <li>
<time class="listdate" datetime="2016-04-02T08:50:55+09:00" title="2016-04-02 08:50">2016-04-02 08:50</time><a href="../posts/id00506/" class="listtitle">VMWare: msysからnetwork interfaceをon/offする</a>
</li>
        <li>
<time class="listdate" datetime="2016-03-27T18:08:34+09:00" title="2016-03-27 18:08">2016-03-27 18:08</time><a href="../posts/id00505/" class="listtitle">LS-VL 10: DHCP導入</a>
</li>
        <li>
<time class="listdate" datetime="2016-03-27T15:08:20+09:00" title="2016-03-27 15:08">2016-03-27 15:08</time><a href="../posts/id00504/" class="listtitle">VMWare: Tabletで運用する</a>
</li>
        <li>
<time class="listdate" datetime="2016-02-14T11:51:07+09:00" title="2016-02-14 11:51">2016-02-14 11:51</time><a href="../posts/id00503/" class="listtitle">Tablet2: モバイル(8台目)</a>
</li>
    </ul></article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../assets/js/all-nocdn.js"></script><script src="../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
