<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>Linux on Androidで遊ぶ(root化) | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00464/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00432/" title="Sigmarion: モバイル(2台目)" type="text/html">
<link rel="next" href="../id00467/" title="Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1|" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="Linux on Androidで遊ぶ(root化)">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00464/">
<meta property="og:description" content="ずっと愛用していたDynabookAZが壊れました...
もう電気すらつきません...
一昔前だとNetbookなど小さくて軽いPC(あと安い)の選択肢 \
はありましたが、昨今そういう用途はTabletでカバーされており \
今回はAndroid Tabletを買うことにしました.
今後(2014後半)はWindowsタブレットが流行りそうですが, \
Android Tabletは安いし若干枯">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2015-11-08T05:47:00+09:00">
<meta property="article:tag" content="android">
<meta property="article:tag" content="linux">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">Linux on Androidで遊ぶ(root化)</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2015-11-08T05:47:00+09:00" itemprop="datePublished" title="2015-11-08 05:47">2015-11-08 05:47</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00464.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>ずっと愛用していたDynabookAZが壊れました...
もう電気すらつきません...</p>
<p>一昔前だとNetbookなど小さくて軽いPC(あと安い)の選択肢 \
はありましたが、昨今そういう用途はTabletでカバーされており \
今回はAndroid Tabletを買うことにしました.</p>
<p>今後(2014後半)はWindowsタブレットが流行りそうですが, \
Android Tabletは安いし若干枯れていて情報も多いですし \
これで遊んでみることにします.</p>
<!-- TEASER_END -->
<p>それでAndroidではできないことはもう分かっています.</p>
<ul class="simple">
<li><p>プログラミングができない</p></li>
<li><p>Vimができない(2014現在はできそうですが...)</p></li>
<li><p>Unix的な操作ができない</p></li>
</ul>
<p>それを解消するために, Linux on Androidに手を出します.</p>
<p>Linux on Androidを実行するには
2つの方法があるようでした.</p>
<ul class="simple">
<li><p>GNURootというアプリを利用する(root不要)</p></li>
<li><p>Linux on Androidを利用する</p></li>
</ul>
<p>rootを取る方法がわかっている端末であればLinux on Androidが
簡単かと思います. \
でもroot状態ではいろいろ問題ありそうですよね...</p>
<p>私の場合, rootが必要な理由は別にあったのですが, \
root取るまではGNURootにしていました.</p>
<p>結果, root取った後は色々できるのでLinux on Androidの方が \
使いやすいと感じています.</p>
<p>今回はroot化したことの目的などまとめるまでにします.</p>
<table>
<thead><tr>
<th class="head"><p>root化(Linux on Android)</p></th>
<th class="head"><p>rootなし(GNURoot)</p></th>
</tr></thead>
<tbody>
<tr>
<td><ul class="simple">
<li><p>MicroSDの2nd partitionが使える</p></li>
</ul></td>
<td><ul class="simple">
<li><p>setupが容易</p></li>
</ul></td>
</tr>
<tr>
<td><ul class="simple">
<li><p>アプリのメモリ制限を</p></li>
</ul></td>
<td><ul class="simple">
<li><p>XServerXSDLの問題</p></li>
</ul></td>
</tr>
<tr>
<td><p>コントロールできる(大事)</p></td>
<td></td>
</tr>
<tr>
<td><ul class="simple">
<li><p>キーボード(いわゆるkl, kcm設定)</p></li>
</ul></td>
<td><ul class="simple">
<li><p>端末による</p></li>
</ul></td>
</tr>
<tr>
<td><p>をいじる必要があった</p></td>
<td></td>
</tr>
<tr>
<td><ul class="simple">
<li><p>いらないプリインストールアプリを削除</p></li>
</ul></td>
<td><ul class="simple">
<li><p>端末による</p></li>
</ul></td>
</tr>
<tr>
<td><ul class="simple">
<li><p>アプリのバックアップ</p></li>
</ul></td>
<td></td>
</tr>
<tr>
<td><ul class="simple">
<li><p>swapが追加設定できる(あんまり意味無)</p></li>
</ul></td>
<td></td>
</tr>
<tr>
<td><ul class="simple">
<li><p>最終的にはNative Linux起動</p></li>
</ul></td>
<td></td>
</tr>
<tr>
<td><p>(まだやってない)</p></td>
<td><ul class="simple">
<li><p>操作間違っても安全</p></li>
</ul></td>
</tr>
</tbody>
</table>
<!-- vi: ft=rst:et:ts=4 -->
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/android/" rel="tag">android</a></li>
            <li><a class="tag p-category" href="../../tags/linux/" rel="tag">linux</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00432/" rel="prev" title="Sigmarion: モバイル(2台目)">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00467/" rel="next" title="Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1|">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00464/",
        disqus_title="Linux on Android\u3067\u904a\u3076(root\u5316)",
        disqus_identifier="cache/posts/id00464.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
