<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>3D Printer データ置き場 | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00525/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00465/" title="Lubuntu (Ubuntu,debian) にlxdmを導入する |{{{1|" type="text/html">
<link rel="next" href="../id00531/" title="DIY: 電話置き場" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="3D Printer データ置き場">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00525/">
<meta property="og:description" content="目次

3D Printer: 棚をつくってみる
3D Printer: 車用ホルダー

update1: ver.1 完成


3D Printer: 洗濯ロープホルダー
3D Printer: Drone propeller guard
3D Printer: tabletホルダー(の部品)
3D Printer: 傘の柄




3D Printer: 棚をつくってみる
blenderデータ">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2017-01-03T08:00:00+09:00">
<meta property="article:tag" content="3Dprint">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">3D Printer データ置き場</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2017-01-03T08:00:00+09:00" itemprop="datePublished" title="2017-01-03 08:00">2017-01-03 08:00</time><span class="updated"> (更新日時
                    <time class="updated dt-updated" datetime="2017-11-06T08:40:39+09:00" itemprop="dateUpdated" title="2017-11-06 08:40">2017-11-06 08:40</time>)</span>
            </a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00525.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <nav class="contents" id="topic-1" role="doc-toc"><p class="topic-title">目次</p>
<ul class="simple">
<li><p><a class="reference internal" href="#d-printer" id="toc-entry-1">3D Printer: 棚をつくってみる</a></p></li>
<li>
<p><a class="reference internal" href="#d-printer-1" id="toc-entry-2">3D Printer: 車用ホルダー</a></p>
<ul>
<li><p><a class="reference internal" href="#update1-ver-1" id="toc-entry-3">update1: ver.1 完成</a></p></li>
</ul>
</li>
<li><p><a class="reference internal" href="#d-printer-2" id="toc-entry-4">3D Printer: 洗濯ロープホルダー</a></p></li>
<li><p><a class="reference internal" href="#d-printer-drone-propeller-guard" id="toc-entry-5">3D Printer: Drone propeller guard</a></p></li>
<li><p><a class="reference internal" href="#d-printer-tablet" id="toc-entry-6">3D Printer: tabletホルダー(の部品)</a></p></li>
<li><p><a class="reference internal" href="#d-printer-3" id="toc-entry-7">3D Printer: 傘の柄</a></p></li>
</ul></nav><!-- TEASER_END --><section id="d-printer"><h2><a class="toc-backref" href="#toc-entry-1" role="doc-backlink">3D Printer: 棚をつくってみる</a></h2>
<p><a class="reference external" href="downloads/tana.blend.zip">blenderデータ5</a></p>
<ul class="simple">
<li><p>でかいので出力に時間がかかる... (約4時間)</p></li>
<li><p>密度を20% -&gt; 30% にしたが、ものすごく細かくなった</p></li>
<li><p>この時から、3Mのテープを100均のテープ＋のりスプレーにしてみた。特に問題なし</p></li>
</ul></section><section id="d-printer-1"><h2><a class="toc-backref" href="#toc-entry-2" role="doc-backlink">3D Printer: 車用ホルダー</a></h2>
<p><a class="reference external" href="downloads/carholder.blend.zip">blenderデータ4</a></p>
<section id="update1-ver-1"><h3><a class="toc-backref" href="#toc-entry-3" role="doc-backlink">update1: ver.1 完成</a></h3>
<ul class="simple">
<li><p>初めてのはめ込み型</p></li>
<li><p>部品attach: 100均のエアコン取り付け缶ホルダーを取り付ける部品</p></li>
<li><p>部品main: 空き缶をつかむ部品</p></li>
<li><p>追記: 夏場に車内で溶けました。というか変形しました。</p></li>
</ul>
<p><a href="#system-message-1"><span class="problematic" id="problematic-1">|s|</span></a> まだ使ってないけど、 <a href="#system-message-2"><span class="problematic" id="problematic-2">|/s|</span></a> 空き缶つかむ方が
ストッパーがないので、回ってしまいそう。</p>
<p>そもそも丸い缶は止めようがないか...</p>
<p>あと、attachとmainのはめ込みが横になっているが、
縦にしないと止まらなかった。
作り直しも面倒なので結束バンドで固定。</p>
</section></section><section id="d-printer-2"><h2><a class="toc-backref" href="#toc-entry-4" role="doc-backlink">3D Printer: 洗濯ロープホルダー</a></h2>
<p><a class="reference external" href="downloads/clothespin.blend.zip">blenderデータ3</a></p>
<ul class="simple">
<li><p>2.5cm のひっかかる角材があるところにつける固定具</p></li>
<li><p>ver.1: ロープのひっかけを円柱にしたが、うまくプリントできず</p></li>
<li><p>ver.2: ロープのひっかけを四角にして、自身にもハンガー掛けを実装</p></li>
</ul></section><section id="d-printer-drone-propeller-guard"><h2><a class="toc-backref" href="#toc-entry-5" role="doc-backlink">3D Printer: Drone propeller guard</a></h2>
<p><a class="reference external" href="downloads/propeller-guard.zip">Propeller guard (FreeCAD)</a></p>
<ul class="simple">
<li><p>買ったDroneにガードがなかったので作成</p></li>
<li><p>ちょっと重い</p></li>
</ul></section><section id="d-printer-tablet"><h2><a class="toc-backref" href="#toc-entry-6" role="doc-backlink">3D Printer: tabletホルダー(の部品)</a></h2>
<p><a class="reference external" href="downloads/tablet8inch-holder.blend.zip">blenderデータ2</a></p>
<ul>
<li><p>8"キーボード付きtabletカバーにtablet 7inchを固定するホルダー</p></li>
<li>
<p>カバーの寸法図って作ったけど、カバーを挟む部分が狭かった。</p>
<p>そのため、うれしい誤算で、入れるのに力はいるが
ネジ止めしなくても位置を固定できた。</p>
</li>
</ul></section><section id="d-printer-3"><h2><a class="toc-backref" href="#toc-entry-7" role="doc-backlink">3D Printer: 傘の柄</a></h2>
<p><a class="reference external" href="downloads/umbrella-hand.blend.zip">blenderデータ1</a></p>
<ul class="simple">
<li><p>これぐらいのカーブならサポートしなくても大丈夫...と思う</p></li>
<li><p>下の土台とヘッドがぶつかって、変な形になったけど、自分で使うから気にしない。</p></li>
<li><p>変な形になったから、サポートなしで良かったのかどうか不明</p></li>
<li><p>穴の径が少し小さかったけど、とんかちでガンガンしたら入った</p></li>
<li><p>結局、傘を置き忘れしたそうなので、それで紛失...</p></li>
</ul>
<!-- vi: ft=rst --></section><section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 30); <em><a href="#problematic-1">backlink</a></em></p>
<p>Undefined substitution referenced: "s".</p>
</aside><aside class="system-message" id="system-message-2"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 30); <em><a href="#problematic-2">backlink</a></em></p>
<p>Undefined substitution referenced: "/s".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/3dprint/" rel="tag">3Dprint</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00465/" rel="prev" title="Lubuntu (Ubuntu,debian) にlxdmを導入する |{{{1|">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00531/" rel="next" title="DIY: 電話置き場">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00525/",
        disqus_title="3D Printer \u30c7\u30fc\u30bf\u7f6e\u304d\u5834",
        disqus_identifier="cache/posts/id00525.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
