<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>Tablet2: SDcard選定 | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00511/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00443/" title="pyramid移行を検討してみる |{{{1|" type="text/html">
<link rel="next" href="../id00512/" title="msys: sudo/ lnを使う" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="Tablet2: SDcard選定">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00511/">
<meta property="og:description" content="TabletのSDcardスロットですが、
64GB SDXCを購入するもなんだかプチフリみたいな現象が頻発しました。
32GBのUHS-Iを購入しても同じ...

`id00503.rst`_ Tablet2: モバイル(7台目)




Test items
eMMC
32G2-c
32G2
16GB
16GB-z
32GB-U
64GB-U
16G USB



Sequential Rea">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2016-06-14T23:08:43+09:00">
<meta property="article:tag" content="devices">
<meta property="article:tag" content="minipc">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">Tablet2: SDcard選定</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2016-06-14T23:08:43+09:00" itemprop="datePublished" title="2016-06-14 23:08">2016-06-14 23:08</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00511.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>TabletのSDcardスロットですが、
64GB SDXCを購入するもなんだかプチフリみたいな現象が頻発しました。</p>
<p>32GBのUHS-Iを購入しても同じ...</p>
<ul class="simple">
<li><p><a href="#system-message-1"><span class="problematic" id="problematic-1">`id00503.rst`_</span></a> Tablet2: モバイル(7台目)</p></li>
</ul>
<!-- TEASER_END --><table>
<thead><tr>
<th class="head"><p>Test items</p></th>
<th class="head"><p>eMMC</p></th>
<th class="head"><p>32G2-c</p></th>
<th class="head"><p>32G2</p></th>
<th class="head"><p>16GB</p></th>
<th class="head"><p>16GB-z</p></th>
<th class="head"><p>32GB-U</p></th>
<th class="head"><p>64GB-U</p></th>
<th class="head"><p>16G USB</p></th>
</tr></thead>
<tbody>
<tr>
<td><p>Sequential Read (Q= 32,T= 1)</p></td>
<td><p>131.355</p></td>
<td><p>11.325</p></td>
<td><p>10.955</p></td>
<td><p>34.395</p></td>
<td><p>33.113</p></td>
<td><p>20.685</p></td>
<td><p>20.841</p></td>
<td><p>37.570</p></td>
</tr>
<tr>
<td><p>Sequential Write (Q= 32,T= 1)</p></td>
<td><p>71.671</p></td>
<td><p>2.805</p></td>
<td><p>2.935</p></td>
<td><p>11.657</p></td>
<td><p>10.355</p></td>
<td><p>14.706</p></td>
<td><p>18.586</p></td>
<td><p>41.077</p></td>
</tr>
<tr>
<td><p>Random Read 4KiB (Q= 32,T= 1)</p></td>
<td><p>21.883</p></td>
<td><p>5.656</p></td>
<td><p>3.415</p></td>
<td><p>5.513</p></td>
<td><p>5.477</p></td>
<td><p>5.309</p></td>
<td><p>3.116</p></td>
<td><p>8.076</p></td>
</tr>
<tr>
<td><p>Random Write 4KiB (Q= 32,T= 1)</p></td>
<td><p>29.753</p></td>
<td><p>0.001</p></td>
<td><p>0.002</p></td>
<td><p>1.525</p></td>
<td><p>1.526</p></td>
<td><p>1.369</p></td>
<td><p>0.836</p></td>
<td><p>8.504</p></td>
</tr>
<tr>
<td><p>Sequential Read (T= 1) :</p></td>
<td><p>141.144</p></td>
<td><p>11.534</p></td>
<td><p>11.324</p></td>
<td><p>41.519</p></td>
<td><p>41.899</p></td>
<td><p>19.715</p></td>
<td><p>19.082</p></td>
<td><p>36.707</p></td>
</tr>
<tr>
<td><p>Sequential Write (T= 1) :</p></td>
<td><p>52.634</p></td>
<td><p>3.355</p></td>
<td><p>3.355</p></td>
<td><p>11.323</p></td>
<td><p>11.533</p></td>
<td><p>13.842</p></td>
<td><p>17.820</p></td>
<td><p>39.216</p></td>
</tr>
<tr>
<td><p>Random Read 4KiB (Q= 1,T= 1)</p></td>
<td><p>15.112</p></td>
<td><p>4.722</p></td>
<td><p>2.771</p></td>
<td><p>5.447</p></td>
<td><p>5.408</p></td>
<td><p>3.719</p></td>
<td><p>2.284</p></td>
<td><p>6.937</p></td>
</tr>
<tr>
<td><p>Random Write 4KiB (Q= 1,T= 1)</p></td>
<td><p>28.512</p></td>
<td><p>0.004</p></td>
<td><p>0.004</p></td>
<td><p>1.424</p></td>
<td><p>1.426</p></td>
<td><p>1.206</p></td>
<td><p>0.735</p></td>
<td><p>8.271</p></td>
</tr>
</tbody>
</table>
<dl class="field-list simple">
<dt>64GB<span class="colon">:</span>
</dt>
<dd>
<p>Team  Class10 SDXC MicroSD</p>
</dd>
<dt>32GB<span class="colon">:</span>
</dt>
<dd>
<p>Team  Class10 UHS-I SDHC MicroSD</p>
</dd>
<dt>32G2<span class="colon">:</span>
</dt>
<dd>
<p>aData Class10 SDHC MicroSD (?)</p>
</dd>
<dt>16GB<span class="colon">:</span>
</dt>
<dd>
<p>TDK   Class10 SDHC MicroSD</p>
</dd>
<dt>16GB USB<span class="colon">:</span>
</dt>
<dd>
<p>Sandisk USBメモリ</p>
</dd>
<dt>eMMC<span class="colon">:</span>
</dt>
<dd>
<p>Tablet内蔵ストレージ</p>
</dd>
</dl>
<ul class="simple">
<li><p>'-U'はUSBアダプタ経由でのスピード</p></li>
<li><p>'-c'はWindowsのWrite cacheあり</p></li>
<li><p>'-z'はWindowsの圧縮ドライブ</p></li>
<li><p>下2つ以外は、内蔵SDスロット経由でのMicroSDカードの性能</p></li>
</ul>
<p>なんだかんだでeMMCはそこそこ早い。
昔のHDDから比べたらUSBメモリも早い。</p>
<p>16GBのSDがなんだかんだで早い。
32GBのSSDだったらもっと快適なんだろうなぁ...</p>
<!-- end of file |{{{1| -->
<!-- vi: ft=rst:et:ts=4:fdm=marker -->
<section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 8); <em><a href="#problematic-1">backlink</a></em></p>
<p>Unknown target name: "id00503.rst".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/devices/" rel="tag">devices</a></li>
            <li><a class="tag p-category" href="../../tags/minipc/" rel="tag">minipc</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00443/" rel="prev" title="pyramid移行を検討してみる |{{{1|">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00512/" rel="next" title="msys: sudo/ lnを使う">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00511/",
        disqus_title="Tablet2: SDcard\u9078\u5b9a",
        disqus_identifier="cache/posts/id00511.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
