<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>msys: minttyをtmuxで起動する(2) | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00515/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00514/" title="msys: minttyをtmuxで起動する" type="text/html">
<link rel="next" href="../id00517/" title=" msys: python-leveldbをMinGW32で使う |{{{1|" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="msys: minttyをtmuxで起動する(2)">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00515/">
<meta property="og:description" content='先に作った(1) ですが
オプション "-mingw64" と "-msys" が効かなくて困ったので修正

変更したのはファイル3つ。 msys2_tmux.cmdは起動部分をこんな感じに:
echo %MSYSTEM% &gt; c:\app\msys64\tmp\msystem
start "%CONTITLE%" "%WD%mintty" -c "%USERPROFILE%\.minttyrc"'>
<meta property="og:type" content="article">
<meta property="article:published_time" content="2016-08-10T08:56:28+09:00">
<meta property="article:tag" content="msys">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">msys: minttyをtmuxで起動する(2)</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2016-08-10T08:56:28+09:00" itemprop="datePublished" title="2016-08-10 08:56">2016-08-10 08:56</time><span class="updated"> (更新日時
                    <time class="updated dt-updated" datetime="2016-08-13T21:00:00+09:00" itemprop="dateUpdated" title="2016-08-13 21:00">2016-08-13 21:00</time>)</span>
            </a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00515.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p><a class="reference external" href="id00514.rst">先に作った(1)</a> ですが
オプション "-mingw64" と "-msys" が効かなくて困ったので修正</p>
<!-- TEASER_END -->
<p>変更したのはファイル3つ。 msys2_tmux.cmdは起動部分をこんな感じに:</p>
<pre class="literal-block">echo %MSYSTEM% &gt; c:\app\msys64\tmp\msystem
start "%CONTITLE%" "%WD%mintty" -c "%USERPROFILE%\.minttyrc" -i /msys2.ico %WD%bash.exe %USERPROFILE%\tmuxwrapper.sh</pre>
<p>環境変数を使うのではなく、ファイルで情報を渡すようにしている。</p>
<p>というのもtmuxが環境変数を他の session からも引き継いでいるようで
一度、mingw32 を起動すると minwg64 や msys が開けなくなってしまう。</p>
<p>MSYSTEMは、 /etc/profile で使われているので、
MSYSTEMをファイルから読込む仕掛けも作る。</p>
<p>/etc/profile の冒頭にこんな感じのスクリプトを追加:</p>
<pre class="literal-block">f=/tmp/msystem
if [ -f $f ]; then
    MSYSTEM=$(echo -n "$(cat $f)" )
    rm -f $f
fi
unset f</pre>
<p>さらに new-window 時にもファイルを作らないといけないので、
こんなスクリプトを作る。</p>
<p>まずは、 .tmux.conf:</p>
<pre class="literal-block">bind C-o new-window -n sh '$HOME/tmuxwrapper-newwindow.sh'
bind o new-window -n sh '$HOME/tmuxwrapper-newwindow.sh'</pre>
<p>tmuxwrapper-newwindow.sh はこんな感じ:</p>
<pre class="literal-block">#! /usr/bin/bash
echo $MSYSTEM &gt; /tmp/msystem
/usr/bin/bash --login</pre>
<p>ちなみに .tmux.confでこれは動かなかった...:</p>
<pre class="literal-block">bind C-o new-window 'echo $MSYSTEM &gt; /tmp/msystem; bash --login'</pre>
<p>こんな感じで実験した:</p>
<pre class="literal-block">set _MSYSTEM=aa
start "%CONTITLE%" "%WD%mintty" -c "c:\Users\shinji\.minttyrc" -i /msys2.ico /usr/bin/tmux.exe -f "%USERPROFILE%\.tmux.conf" -c "/usr/bin/bash --login"</pre>
<p>.bash_profile:</p>
<pre class="literal-block">echo $_MSYSTEM</pre>
<p>結果は、 _MSYSTEMが空になった...</p>
<p>理由はよくわからないです。</p>
<p>あと、 /tmp/tmux-???? というファイルも消さないと
環境変数を引き継いでしまうことがわかった。</p>
<p>ファイルで引き継ぐことにしたのでこれはどうでもいいのだが...</p>
<section id="copy-paste"><h2>copy &amp; paste が動かない</h2>
<p>こうやって起動した tmux ですが、
PATH などの環境変数がちゃんと動いていないみたいで
copy 用の次の指定が動きませんでした:</p>
<pre class="literal-block">bind-key -t vi-copy y copy-pipe "cat | clip"
bind-key -t vi-copy Enter copy-pipe "cat &gt; /dev/clipboard"</pre>
<p>こうすれば動きます。:</p>
<pre class="literal-block">bind-key -t vi-copy y copy-pipe "/usr/bin/cat | clip"
bind-key -t vi-copy Enter copy-pipe "/usr/bin/cat &gt; /dev/clipboard"</pre>
<p>ちなみに調べてて、 clip コマンドが /dev/clipboard よりも
マイナーながらも別に問題なく動くので例として書いてみました。</p>
<!-- end of file |{{{1| -->
<!-- vi: ft=rst:et:ts=4:fdm=marker -->
</section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/msys/" rel="tag">msys</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00514/" rel="prev" title="msys: minttyをtmuxで起動する">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00517/" rel="next" title=" msys: python-leveldbをMinGW32で使う |{{{1|">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00515/",
        disqus_title="msys: mintty\u3092tmux\u3067\u8d77\u52d5\u3059\u308b(2)",
        disqus_identifier="cache/posts/id00515.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
