<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>msys: bash-completionが遅い... | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00507/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00531/" title="DIY: 電話置き場" type="text/html">
<link rel="next" href="../id00442/" title="Zope-Five 5-6: Productを作ってみる" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="msys: bash-completionが遅い...">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00507/">
<meta property="og:description" content="`id00504.rst`_ でいろいろトラブルを書きましたが、
Windowsの運用で気になることが一つ。
bash-completionが遅くてたまらない。
一つのファイルを選択するのに20秒ぐらいかかります。

数字は計測してくれた人のログ見てます

t-takataさん
の記述を見て以下を適用したら治りました。
|s| (追記)...と思ったらpasswdのシェルがひけなくなったのか、
m">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2017-02-14T20:12:22+09:00">
<meta property="article:tag" content="msys">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">msys: bash-completionが遅い...</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2017-02-14T20:12:22+09:00" itemprop="datePublished" title="2017-02-14 20:12">2017-02-14 20:12</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00507.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p><a href="#system-message-3"><span class="problematic" id="problematic-3">`id00504.rst`_</span></a> でいろいろトラブルを書きましたが、
Windowsの運用で気になることが一つ。</p>
<p>bash-completionが遅くてたまらない。</p>
<p>一つのファイルを選択するのに20秒ぐらいかかります。</p>
<blockquote>
<p>数字は計測してくれた人のログ見てます</p>
</blockquote>
<p><a class="reference external" href="https://gist.github.com/k-takata/9b8d143f0f3fef5abdab">t-takataさん</a>
の記述を見て以下を適用したら治りました。</p>
<p><a href="#system-message-1"><span class="problematic" id="problematic-1">|s|</span></a> (追記)...と思ったらpasswdのシェルがひけなくなったのか、
minttyが起動しなくなりました...passwdの方はdbを有効にしてみました。
速度は...早くなってる、たぶん。 <a href="#system-message-2"><span class="problematic" id="problematic-2">|/s|</span></a></p>
<p>(追記2) 手動で/etc/passwd, groupを作ってからやらないとだめでした。:</p>
<pre class="literal-block">--- /etc/nsswitch.conf.org
+++ /etc/nsswitch.conf
@@ -1,7 +1,7 @@
 # Begin /etc/nsswitch.conf

-passwd: files db
+passwd: files #db
group: files db</pre>
<p>dbってどうやって、何が動いてるんだろう...</p>
<p>説明は斜め読みしたのでよくわからんす</p>
<!-- TEASER_END -->
<!-- end of file |{{{1| -->
<!-- vi: ft=rst:et:ts=4:fdm=marker -->
<section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 13); <em><a href="#problematic-1">backlink</a></em></p>
<p>Undefined substitution referenced: "s".</p>
</aside><aside class="system-message" id="system-message-2"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 13); <em><a href="#problematic-2">backlink</a></em></p>
<p>Undefined substitution referenced: "/s".</p>
</aside><aside class="system-message" id="system-message-3"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 1); <em><a href="#problematic-3">backlink</a></em></p>
<p>Unknown target name: "id00504.rst".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/msys/" rel="tag">msys</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00531/" rel="prev" title="DIY: 電話置き場">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00442/" rel="next" title="Zope-Five 5-6: Productを作ってみる">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00507/",
        disqus_title="msys: bash-completion\u304c\u9045\u3044...",
        disqus_identifier="cache/posts/id00507.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
