<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>VMWare: msysからnetwork interfaceをon/offする | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00506/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00505/" title="LS-VL 10: DHCP導入" type="text/html">
<link rel="next" href="../id00508/" title="PY4A: いろいろ" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="VMWare: msysからnetwork interfaceをon/offする">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00506/">
<meta property="og:description" content="`id00504.rst`_ でいろいろトラブルを書きましたが、
VMWareがinterfaceを2つも増やしてるので
route情報が気になったりします。

仮想マシン立ち上げてないのに
interfaceだけあるのも気になることもあるし。


いろいろ試しましたが、
下のようなファイルを作りました

※ヒアドキュメント使っているので、タブに注意

#!env bash
vm1='VMware">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2016-04-02T08:50:55+09:00">
<meta property="article:tag" content="hack">
<meta property="article:tag" content="virtualization">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">VMWare: msysからnetwork interfaceをon/offする</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2016-04-02T08:50:55+09:00" itemprop="datePublished" title="2016-04-02 08:50">2016-04-02 08:50</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00506.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p><a href="#system-message-1"><span class="problematic" id="problematic-1">`id00504.rst`_</span></a> でいろいろトラブルを書きましたが、
VMWareがinterfaceを2つも増やしてるので
route情報が気になったりします。</p>
<blockquote>
<p>仮想マシン立ち上げてないのに
interfaceだけあるのも気になることもあるし。</p>
</blockquote>
<!-- TEASER_END -->
<p>いろいろ試しましたが、
下のようなファイルを作りました</p>
<blockquote>
<p>※ヒアドキュメント使っているので、タブに注意</p>
</blockquote>
<pre class="literal-block">#!env bash
vm1='VMware Network Adapter VMnet1'
vm2='VMware Network Adapter VMnet8'

vm_enable() {       # {{{1
    if [ "x$(is_enabled)" = x ]; then
        return
    fi
    vm_change enable
}

vm_disable() {      # {{{1
    if [ "x$(is_enabled)" != x ]; then
        return
    fi
    vm_change disable
}

vm_change() {      # {{{1
    runas //noprofile //savecred //user:administrator \
        "netsh interface set interface name=\"$vm1\" admin=$1"
    runas //noprofile //savecred //user:administrator \
        "netsh interface set interface name=\"$vm2\" admin=$1"
}

vm_ask() {      # {{{1
    a=$(if [ "x$(is_enabled)" = x ]; then echo enabled; else echo disabled; fi)
    # echo -n $a 1&gt;&amp;2
    py &lt;&lt;-EOF
      import ctypes
      import sys
      MB_OK, MB_OKCXL, MB_YESNOCXL, MB_YESNO, MB_HELP = (
        0, 1, 3, 4, 0x4000)
      ICON_EXLAIM, ICON_INFO, ICON_STOP = (
        0x30, 0x40, 0x10)
      ret = ctypes.windll.user32.MessageBoxW(
        0, "now $a", "VMware net-interface", MB_YESNO)
      sys.stdout.write(ret == 6 and "enable" or "disable")
      EOF
}

is_enabled() {      # {{{1
    netsh interface show interface name="$vm1"
    f=$(netsh interface show interface name="$vm1" \
            | grep -i -e 'Admin.*state.*Enabled')
    if [ "x$f" = x ]; then
        echo -n "Disabled"
    else
        echo -n "Enabled"
    fi
}

# main {{{1
f=$(if [ x$1 == x ] || [ x$1 == xtoggle ]; then echo true; else echo fales; fi)
if [ x$1 == xenable ]; then
    vm_enable
elif [ x$1 == xdisable ]; then
    vm_disable
elif $f &amp;&amp; [ "$(vm_ask)" =  "disable" ]; then
    vm_disable
elif $f; then
    vm_enable
else
    echo "syntax: $0 [enable | disable | toggle]"
fi

# end of file {{{1
# vi: ft=sh:et:ts=4:fdm=marker</pre>
<p>コアの部分はここです。:</p>
<pre class="literal-block">vm1='VMware Network Adapter VMnet1'
vm2='VMware Network Adapter VMnet8'

vm_change() {      # {{{1
    runas //noprofile //savecred //user:administrator \
        "netsh interface set interface name=\"$vm1\" admin=$1"
    runas //noprofile //savecred //user:administrator \
        "netsh interface set interface name=\"$vm2\" admin=$1"
}
vm_change disable</pre>
<p>runas使ってますが、なんか動きがよくわからないかな...</p>
<p>Windowsでbashがサポートってありましたが、
sudoとか周りのツールも多少はサポートされるんですかね。</p>
<p>ここまでできてるから、別にサポートされても大して変わらないのかも...</p>
<!-- end of file |{{{1| -->
<!-- vi: ft=rst:et:ts=4:fdm=marker -->
<section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 1); <em><a href="#problematic-1">backlink</a></em></p>
<p>Unknown target name: "id00504.rst".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/hack/" rel="tag">hack</a></li>
            <li><a class="tag p-category" href="../../tags/virtualization/" rel="tag">virtualization</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00505/" rel="prev" title="LS-VL 10: DHCP導入">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00508/" rel="next" title="PY4A: いろいろ">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00506/",
        disqus_title="VMWare: msys\u304b\u3089network interface\u3092on/off\u3059\u308b",
        disqus_identifier="cache/posts/id00506.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
