<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title> msys: python-leveldbをMinGW32で使う |{{{1| | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00517/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00515/" title="msys: minttyをtmuxで起動する(2)" type="text/html">
<link rel="next" href="../id00518/" title="Tablet3: モバイル(9台目)" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content=" msys: python-leveldbをMinGW32で使う |{{{1|">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00517/">
<meta property="og:description" content="Linuxだと導入簡単な leveldb ですが、
Windowsだと、ちょっと工夫が必要です。
1. MinGWで leveldb をビルドする
1. MinGWで python-leveldb をビルドする
MinGW32か、MinGW64を使うかは intall した Python の
バイナリ形式で決めます。


1. MinGWで leveldb をビルドする
なんだか毎回わからなくなる">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2016-08-18T08:26:56+09:00">
<meta property="article:tag" content="msys">
<meta property="article:tag" content="python">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url"> msys: python-leveldbをMinGW32で使う |{{{1|</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2016-08-18T08:26:56+09:00" itemprop="datePublished" title="2016-08-18 08:26">2016-08-18 08:26</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00517.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>Linuxだと導入簡単な leveldb ですが、
Windowsだと、ちょっと工夫が必要です。</p>
<p>1. MinGWで leveldb をビルドする
1. MinGWで python-leveldb をビルドする</p>
<p>MinGW32か、MinGW64を使うかは intall した Python の
バイナリ形式で決めます。</p>
<!-- TEASER_END -->
<section id="mingw-leveldb"><h2>1. MinGWで leveldb をビルドする</h2>
<p>なんだか毎回わからなくなるんで調べながらやってるんですが、
私の場合は、 <a class="reference external" href="https://github.com/zalanyib/leveldb-mingw">zalanyib</a>
というソースを使います。</p>
<p>snappy も msys-1.0 の時はコンパイルしてましたが、
今は package にあるのでそっちを使います。</p>
<p>新しい leveldb にも対応させたいですが、
それはまた今度...まずはビルドの準備:</p>
<pre class="literal-block">$ pacman -Sy
$ pacman -S mingw-w64-x86_64-snappy
$ pacman -S mingw-w64-x86_64-gcc'</pre>
<p>ソースの取得とコンパイル:</p>
<pre class="literal-block">$ hg clone git://github.com/zalanyib/leveldb-mingw leveldb-mingw-zalanyib
$ cd leveldb-mingw-zalanyib
$ make</pre>
<p>出来上がった、 leveldb.dll は、</p>
</section><section id="mingw-python-leveldb"><h2>2. MinGWで python-leveldb をビルドする</h2>
<p>leveldb の python interface が必要ですが、
今回は、 <a class="reference external" href="https://github.com/bygreencn/levelDB-MinGW-Python-0193">bygreencn</a>
にあるものを使います。</p>
<p>まずは、環境準備:</p>
<pre class="literal-block">$ pip install virtualenv
$ virtualenv venv
$ (echo "[build]"; echo "compiler = mingw32") &gt; venv/Lib/distutils/distutil.cfg
$ cp leveldb-mingw-zalanyib/libleveldb* venv/Scripts
$ cp leveldb-mingw-zalanyib/leveldb* venv/Scripts</pre>
<p>次にソースの取得とコンパイル:</p>
<pre class="literal-block">$ hg clone github.com/bygreencn/levelDB-MinGW-Python-0193
$ cd levelDB-MinGW-Python-0193
$ ../venv/Scripts/python setup.py build
$ ../venv/Scripts/python setup.py install</pre>
<p>うまく行かないので、 setup.py を調整</p>
<p>MinGW64用 (MinGW32では不要?)</p>
<pre class="literal-block">common_flags = [
...
    '-D_hypot=hypot',</pre>
<p>DLLの場所を指定...:</p>
<pre class="literal-block">path1 = '-L' + os.path.join(path, "..", "..", "leveldb-mingw-zalanyib"),
extra_link_args = [path1, ...</pre>
<!-- end of file |{{{1| -->
<!-- vi: ft=rst:et:ts=4:fdm=marker -->
</section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/msys/" rel="tag">msys</a></li>
            <li><a class="tag p-category" href="../../tags/python/" rel="tag">python</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00515/" rel="prev" title="msys: minttyをtmuxで起動する(2)">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00518/" rel="next" title="Tablet3: モバイル(9台目)">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00517/",
        disqus_title=" msys: python-leveldb\u3092MinGW32\u3067\u4f7f\u3046 |{{{1|",
        disqus_identifier="cache/posts/id00517.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
