<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>2012年の記事 | にゅーステレオ天国</title>
<link href="../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/2012/">
<!--[if lt IE 9]><script src="../assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../posts/id99000/">About</a></li>
                <li><a href="../articles.html">Articles</a></li>
                <li><a href="../tags/index.html">Tags</a></li>
                <li><a href="../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="listpage"><header><h1>2012年の記事</h1>
    </header><ul class="postlist">
<li>
<time class="listdate" datetime="2012-07-20T09:27:23+09:00" title="2012-07-20 09:27">2012-07-20 09:27</time><a href="../posts/id00404/" class="listtitle">gameクリア: PCE: 功夫</a>
</li>
        <li>
<time class="listdate" datetime="2012-07-20T09:25:06+09:00" title="2012-07-20 09:25">2012-07-20 09:25</time><a href="../posts/id00403/" class="listtitle">gameクリア: NES: イーアルカンフー</a>
</li>
        <li>
<time class="listdate" datetime="2012-07-20T09:21:49+09:00" title="2012-07-20 09:21">2012-07-20 09:21</time><a href="../posts/id00486/" class="listtitle">gameクリア: PS3: 塊魂トリビュート</a>
</li>
        <li>
<time class="listdate" datetime="2012-07-20T09:21:49+09:00" title="2012-07-20 09:21">2012-07-20 09:21</time><a href="../posts/id00402/" class="listtitle">gameクリア: X360: ビューティフル塊魂</a>
</li>
        <li>
<time class="listdate" datetime="2012-06-11T13:11:35+09:00" title="2012-06-11 13:11">2012-06-11 13:11</time><a href="../posts/id00409/" class="listtitle">SyntasticとSphinx ReST (1)</a>
</li>
        <li>
<time class="listdate" datetime="2012-06-10T14:52:08+09:00" title="2012-06-10 14:52">2012-06-10 14:52</time><a href="../posts/id00408/" class="listtitle">HPお引越しのご連絡(予告)</a>
</li>
        <li>
<time class="listdate" datetime="2012-06-10T14:47:45+09:00" title="2012-06-10 14:47">2012-06-10 14:47</time><a href="../posts/id00407/" class="listtitle">さらばLandisk (6)</a>
</li>
        <li>
<time class="listdate" datetime="2012-03-31T08:46:23+09:00" title="2012-03-31 08:46">2012-03-31 08:46</time><a href="../posts/id00397/" class="listtitle">Dynabook AZ 運用開始しました</a>
</li>
        <li>
<time class="listdate" datetime="2012-03-20T16:25:42+09:00" title="2012-03-20 16:25">2012-03-20 16:25</time><a href="../posts/id00398/" class="listtitle">Fedora16にZopeを設定する</a>
</li>
    </ul></article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../assets/js/all-nocdn.js"></script><script src="../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
