body        {
    background:      #FFF url("/images/back-grad.svg") repeat-y;
    color:           #000;
    margin:          0;
    padding:         0;
    font-size:       10pt;
}

a             {color:#F00}
a:visited     {color:#F0F}
a:hover       {color:#00F}
caption       {background:#000;color:#FFF}

.left  {    width: 640px; }
.small {    font-size: xx-small; }

#header {
    background: #209CEE;
    color: white;
    margin: 0px;
    padding: 0.8rem 0 0 0;
    border: none !important;
}
#brand {
    font-size: 1.8rem;
    margin: 0px;
    padding: 1.0em 0 0 0.2em;
    text-align: center;
}
#blog-version {
    color: rgba(255, 255, 255, 0.9) !importatnt;
    position: absolute; top: 0; left: 0;
    font-size: 10pt;
    font-weight: normal;
}
#logo {
    display: block;
    position: absolute; top: 0; left: 56pt;
    font-size: 8pt;
}
#blog-title {
    margin-left: 0px;
}
#blog-title-since {
    display: block;
    font-size: 12pt;
    font-weight: normal;
}
#menu a, #menu a:visited {
    color: white;
}
#header ul {
    margin-left: 0;
}
#header ul > li {
    width: calc(25% - 10px);
    padding: 0; margin: 0;
    text-align: center;
}
.pager {
    overflow: auto;
}
.pager:after {
    content
    clear: both;
}
.pager li:first-child {
    float: right;
}
.pager li {
    float: left;
}
ul.pager {
    margin: 0;
    padding: 0.5em;
}
footer p {
    margin: 0;
    padding: 0.5em;
}

h1        { font-size:        14pt;
    margin: 0.3em 0 0 0;
}
h1.entry-title {
    padding: 0.2em 0 0.2em 3%;
    font-size: 1.3rem;
    color: white;
    background: #209CEE;
    border: none;
}
h2        {
    font-size:        12pt; 
    color: white;
    background: #209CEE;
    border: none;
    padding: 0.2em 0.2em 0.2em 5%;
}
h1 *  {
    color: white !important;
}

.updates h2        {
  font-size:  12pt;
  font-style: italic;
  background: #BBF;
  color:      #000;
  border:     #BBF    solid 2px;
  width:      100%;
}

h3.head    {
  width:        359px;
  border:       outset;
}
.entry-content > div {
    padding-left: 1rem;
}
p p {
    padding-left: 1rem;
} article p {
    padding-left: 10px;
} table {
    border-collapse: collapse;
    margin-left: 2em;
} td, th {
    border: 1px solid #AAD;
    padding: 2px;
}

ul.simple {
    padding-left: 0px;
}
li {
 margin:    0px 0px 0px 0px;
}
li p {
    padding-left: 0;
}

/* for banner */
div#top-desc {
  text-align: right;
  font-size:  small;
}


/* for tags.html and categories.html {{{1 */
.tagindex .postlist {
    display:   flex;
    flex-wrap: wrap;
}
.tagindex li {
    list-style-type: none;
    margin:  2px;
    padding: 2px;
    border-radius: 3px;
    border: #ddddff solid 2px;
    background: #ddddff;
}
.tags-sort-buttons {
    display:   flex;
}
.tags-sort-button {
    margin: 2px;
    padding: 3px;
    border-radius: 3px;
    border: #ddddff inset 2px;
    background: #ddddff;
}

/* for links.html */
img {
  border: 0px;
}

/* for history */
div#histories {
  margin:       0px;            padding:  0px;
  width:        600px;          height:   76px;
  white-space:  pre;            overflow: scroll;
  border:       #AAA 3px inset;
}
div#histories span {  margin:0px; padding:0px; width:26em; }


div.affiliate {
  margin:     0px;            padding:  3px;
  border:     #DDF 3px solid;
}

div.affiliate-msg {
  width: 100%; height: 2em;
  overflow: hidden;
  padding:  0px;  margin: 0px;
}

div.metadata {
  font-size:    0.8rem;
  text-align:   right;
}

/* keywords.json, keywords.js in BarMenu {{{1 */
a.keysmall {
  margin-right: 3pt;
}

a.keybig {
  margin-right: 20pt;
  font-size:  large;
}

.not-active {
    display: none !important;
}

dd {
    padding-left: 4em;
    float: left;
}
.field-list {
    /*! margin-top: 2em; */
    /*! display: block; */
    width: 99%;
    overflow: auto;
    margin-left: 1em;
}
.field-list:after {
    content: "";
    clear: both;
}
.field-list > dt:before {
    content: "";
    clear: both;
}
.field-list > dt {
    width: 30%;
    float: left;
}
.field-list > dd {
    margin-left: 0 !important;
    float: left;
    min-width: 50%;
}
ul > li {
    list-style-type: '- ';
    margin-left: 1em;
}
ol > li {
    margin-left: 1em;
}

h3.article-title {
    font-size: 1.5em;
}

h4.article-title {
    font-size: 1.4em;
}

h5.article-title {
    font-size: 1.3em;
}

pre.literal-block {
    margin: 0.3em 0.3em 0.3em 0.3em;
    padding: 0.2em;
    border: inset;
    overflow-x: scroll;
    background: #FFF;
}

.menu-hide {
    display: none;
}

#histories {
    white-space: pre;
}

/*
.field-list > *:nth-of-type(2n+1) {
    background: #CCF;
}
 */
.field-list > *:nth-of-type(2n+2) {
    background: #EEF;
}
.list-top > dl {
    display: flex;
    flex-flow: row wrap;
    height: 5em;
    overflow: scroll;
    margin-top: 0em;
    padding: 3px;
    border: solid 3px #CCF;
}
.list-top > dl > dt {
    flex-basis: 45%;
}
.list-top > dl > dd {
    margin-left: 0px;
    flex-basis: 55%;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

div#container {
    margin: 0px;
    padding-bottom: 30px;
}

@media screen and (max-width: 551px) {
    body {
        width: max-content;
        margin: 0px 0px 0pt 0px;
        padding: 0px 0px 24pt 0px;
    }
    div.section {
        padding: 0px;
        padding-bottom: 1em;
    }
    div.media-right {
        position: absolute;
        right: 0.5em;
    }
    div.content {
        padding-bottom: 1em !important;;
    }
    .content ul {
        margin-left: 10px;
    }
    li {
        margin-left: 8px;
    }

    .changelog {
        display: flex;
        flex-flow: row wrap;
    }
    .changelog > dt {
        flex-basis: 35%;
    }
    .changelog > dd {
        flex-basis: 65%;
    }
}


/* bmet {{{1 */
.bmet td {
    border-bottom: 2px solid #AAC;
} .bmet td:nth-child(1) {
    min-width: 120px;
    max-width: 120px;
} .bmet td:nth-child(2) {
    min-width: calc(90% - 120px);
    max-width: calc(90% - 120px);
}

/***** end of file {{{1 ********/
/* vi: ft=css:ts=4:nowrap:fdm=marker
 */
