<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>Zope: 2.12に乗り換え/ Five Productをupdate | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00444/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00449/" title="LS-VL 6: debian jessie化 |{{{1|" type="text/html">
<link rel="next" href="../id00441/" title="ひさびさにxmodmapをいじってみる." type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="Zope: 2.12に乗り換え/ Five Productをupdate">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00444/">
<meta property="og:description" content="このお盆はFiveのProductをupdateしてました. \
Zope2.12.2/10,2.13.0a2/0a3でいろいろ違いがあったので \
メモしておきます.

ZODBが壊れました... \
復旧したけど1日潰れた...
Zope2.12乗り換え
Five product



Zope2.12 乗換え
ubuntuを新しくinstallしたものの
Fedoraでは手間暇かけて整備した">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2009-11-23T23:05:49+09:00">
<meta property="article:tag" content="web">
<meta property="article:tag" content="zope">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">Zope: 2.12に乗り換え/ Five Productをupdate</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00444.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>このお盆はFiveのProductをupdateしてました. \
Zope2.12.2/10,2.13.0a2/0a3でいろいろ違いがあったので \
メモしておきます.</p>
<ul class="simple">
<li><p>ZODBが壊れました... \
復旧したけど1日潰れた...</p></li>
<li><p>Zope2.12乗り換え</p></li>
<li><p>Five product</p></li>
</ul>
<!-- TEASER_END --><section id="zope2-12"><h2>Zope2.12 乗換え</h2>
<p>ubuntuを新しくinstallしたものの
Fedoraでは手間暇かけて整備したZope環境を一から
作る気にならず.</p>
<p>python2.6で動くZope2.12を検討し始めました.</p>
<p>母艦動かせば特に問題はないんですけど...
この機会にZope2.12にいってみようかと.</p>
<section id="globalmodules"><h3>GlobalModules</h3>
<p>bad K/H?</p>
<p>しかしこれが動かないと自作のPythonScriptが
なんにも動かなくなるので...</p>
<p>Fiveに乗り換えればなんとかなるんでしょうが,
結構たくさんコードがあって,
そんなのんびりコンバートばっかりしたくはないんです.</p>
<dl class="field-list simple">
<dt>__init__.py<span class="colon">:</span>
</dt>
<dd>
<p>-= encoding=utf-8 =-追記</p>
</dd>
<dt>ZSCFile2<span class="colon">:</span>
</dt>
<dd><p></p></dd>
</dl></section><section id="jtracker"><h3>JTracker</h3>
<dl class="field-list simple">
<dt>JTracker<span class="colon">:</span>
</dt>
<dd>
<p>package_home -&gt; App.Common</p>
</dd>
<dt>JTracker<span class="colon">:</span>
</dt>
<dd>
<p>-&gt; Persistance</p>
</dd>
<dt>JTrackerIssue<span class="colon">:</span>
</dt>
<dd>
<p>package_home -&gt; App.Common</p>
</dd>
</dl></section><section id="kmemo2"><h3>kmemo2</h3>
<p>開発中なんですが, なぜか動きません.
Unauthorized instanceになります.
なんでかな...</p>
<p>私のProductはいろいろ動かなくなりました...</p>
<p>------------- ---- ------------------------------------------------------------
Zope          動作
============= ==== ============================================================
Zope2.10      ○   動かなくなりました... ;( よくわからないので検証中
Zope2.12.2    ×   PageTemplateのmetal-useが動きません, なんでだ.
Zope2.12.10   ×
Zope2.13.0a2  △   configure.zcml修正/unicodeの扱いを修正
Zope2.13.0a3  △
------------- ---- ------------------------------------------------------------</p>
<p>2.13はまだ早いかと思ったんですが, \
metal-useが動かないのが面倒だったんで \
2.13にチャレンジ.</p>
<section id="five-product"><h4>2.13でのFive Product変更点</h4>
<ol class="arabic simple">
<li><p>configure.zcmlに &lt;include package="zope.browsercontaner"&gt; を追加</p></li>
<li><p>configure.zcmlでIAddのパスを
IAdd-&gt;IAdd に変更</p></li>
<li><p>Unicode関係</p></li>
</ol>
<p>Unicode関係はpython2.4-&gt;2.6も関係してそうです. \
メモとして書いてますが, Zopeとは関係ないかもしれません.</p>
</section><section id="configure-zcml-include-package-zope-browsercontaner"><h4>1 configure.zcmlに &lt;include package="zope.browsercontaner"&gt; を追加</h4>
<p>2.13から browser:resource に関連するオブジェクトに
アクセスすると ComponentLocationError がでてしまいました.</p>
<p>ググって見るとあまり参考になるものはなかったのですが...</p>
<ul class="simple">
<li>
</li>
<li>
</li>
<li>
</li>
</ul>
<p>とりあえずbrowserresourceがOFSに移動したというのが
わかりましたので include してみました.</p>
<blockquote>
<p>仕組みもよくわかってないのでかなり当てずっぽうです.</p>
</blockquote>
<p>これで動作し始めます. よかったよかった. \
ちなみにこの問題で3時間程度消費...</p>
</section><section id="unicode"><h4>2 unicodeの扱いがいろいろ変わってる?</h4>
<p>この部分はpython2.4-&gt;2.6への移項で変わった部分のようです. \
ただ, ZMI(manage_propertiesForm)でも文字化けしてるんですが...</p>
<blockquote>
<p>Productでの情報取り出しは問題ないです.</p>
</blockquote>
<p>メモとしてやったことを箇条書します.</p>
<ul>
<li>
<p>DTMLMethodを私は多用してます. コード中で</p>
<p>manage_edit( source, title )</p>
<p>と, titleをunicodeで渡していましたが2.13でダメになりました.</p>
<pre class="literal-block">manage_edit( source, title.encode( "utf-8" ) )</pre>
<p>これで一応通ってます. manage_edit内の330行</p>
<pre class="literal-block">str( title )</pre>
<p>という一行が気にはなりましたが... (ちなみに2.10から変わってない部分です)</p>
</li>
<li><p>manage_editですが, dataの方もUTF-8にencodeしてからでないと
ZMIから参照できなくなりました...</p></li>
<li><p>manage_editPropertiesもencodeしないとだめっぽいです.</p></li>
<li>
<p>requestの内容をencodingしてませんでした. \
なんでこれが通ってたのかは不明ですが...</p>
<pre class="literal-block">request.get( "abc", "" ) == u"なんたら"</pre>
<p>encodingしてあげて回避です</p>
<blockquote>
<p>enc = lambda x: unicode( x, context.management_page_charset )
enc( request.get( "abc", "" ) ) == u"なんたら"</p>
</blockquote>
<p>これはちゃんとエラーが見えるようになったのでよかったよかった.</p>
</li>
</ul></section><section id="section-1"><h4>今回はここまで</h4>
<p>せっかくお盆明けから稼働! と思ってたんですが, \
家PC-&gt;Note-&gt;家PCと環境を移していると \
いろいろ問題がでて会社PCまでもっていけませんでした.</p>
<p>なんとか今週中に稼働できれば...と思うんですが...</p>
</section></section></section><section id="fedora16zope"><h2>Fedora16にZopeを設定する</h2>
<p>&lt;span class="small"&gt;(up:2012/03/20 16:25:42)&lt;/span&gt;&lt;br&gt;
systemdになったので/etc/init.dに置いていた
Zopeを起動するスクリプトが動かなくなりました.</p>
<p>Fedora16でZopeをサービスに登録する
私なりに成功した方法を記して置きます.</p>
<!-- vi: ft=rst -->
</section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/web/" rel="tag">web</a></li>
            <li><a class="tag p-category" href="../../tags/zope/" rel="tag">zope</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00449/" rel="prev" title="LS-VL 6: debian jessie化 |{{{1|">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00441/" rel="next" title="ひさびさにxmodmapをいじってみる.">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00444/",
        disqus_title="Zope: 2.12\u306b\u4e57\u308a\u63db\u3048/ Five Product\u3092update",
        disqus_identifier="cache/posts/id00444.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
