<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>LS-VL: 暫定復旧〜バックアップ構築 | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00562/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00551/" title="Nim: transpilerとして使う(3) - javascriptから呼び出す" type="text/html">
<link rel="next" href="../id00563/" title="udev: USB接続HDDを無視する。固定pathにマウントする" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="LS-VL: 暫定復旧〜バックアップ構築">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00562/">
<meta property="og:description" content="GWの暫定復旧から、徐々にLS-VLを復旧していきます。

LS-VL8: LS-VL SSD壊れた...Debian stretch構築やり直し
LS-VL7: LS-VL Debian Jessie管理: 2018年
LS-VL6: LS-VL 10 DHCP導入
LS-VL5: LS-VL 9 時間調整など設定を行う
LS-VL4: LS-VL 7-8: debian jessie標準ker">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2019-05-13T08:37:14+09:00">
<meta property="article:tag" content="embedded">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">LS-VL: 暫定復旧〜バックアップ構築</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2019-05-13T08:37:14+09:00" itemprop="datePublished" title="2019-05-13 08:37">2019-05-13 08:37</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00562.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>GWの暫定復旧から、徐々にLS-VLを復旧していきます。</p>
<ul class="simple">
<li><p><a class="reference external" href="id00553.rst">LS-VL8:</a> LS-VL SSD壊れた...Debian stretch構築やり直し</p></li>
<li><p><a class="reference external" href="id00541.rst">LS-VL7:</a> LS-VL Debian Jessie管理: 2018年</p></li>
<li><p><a class="reference external" href="id00505.rst">LS-VL6:</a> LS-VL 10 DHCP導入</p></li>
<li><p><a class="reference external" href="id00451.rst">LS-VL5:</a> LS-VL 9 時間調整など設定を行う</p></li>
<li><p><a class="reference external" href="id00450.rst">LS-VL4:</a> LS-VL 7-8: debian jessie標準kernelでUSB機器を使う</p></li>
<li><p><a class="reference external" href="id00449.rst">LS-VL3:</a> LS-VL 6 debian jessie化</p></li>
<li><p><a class="reference external" href="id00448.rst">LS-VL2:</a> LS-VL1.0G server(2台目)</p></li>
<li><p><a class="reference external" href="id00425.rst">LS-VL1:</a> LS-VLの調整</p></li>
</ul>
<nav class="contents" id="topic-1" role="doc-toc"><p class="topic-title">目次</p>
<ul class="simple">
<li><p><a class="reference internal" href="#section-1" id="toc-entry-1">バックアップ設定 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="#ddns-1" id="toc-entry-2">(未) ddns設定 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="#section-2" id="toc-entry-3">(未) 起動設定 |{{{1|</a></p></li>
<li><p><a class="reference internal" href="#section-3" id="toc-entry-4">(未) 今後 |{{{1|</a></p></li>
</ul></nav><!-- TEASER_END --><section id="section-1"><h2>
<a class="toc-backref" href="#toc-entry-1" role="doc-backlink">バックアップ設定 </a><a href="#system-message-1"><span class="problematic" id="problematic-1">|{{{1|</span></a>
</h2>
<p>最後にバックアップしてからだいたい1年ぐらいなにもしてなかった模様 \
これはまずいので、バックアップを設定する</p>
<ul class="simple">
<li><p>sshを設定して、パスワードなしで他のhostに rsync できるようにする</p></li>
<li><p>usbに接続したhddにバックアップするため、udevの設定を変更する</p></li>
<li><p>cronにスクリプトを仕込む</p></li>
</ul>
<ol class="arabic">
<li>
<p>他host(server)に、バックアップユーザを新設:</p>
<pre class="literal-block">$ useradd opbackup -u 1101 -s /usr/sbin/nologin -m -g -d /home/opbackup</pre>
</li>
<li>
<p>キーを <strong>空のpasswdで</strong> 作成:</p>
<pre class="literal-block">$ ssh-keygen -f ~/.ssh/server_id_rsa -P ""</pre>
</li>
<li>
<p>キーをコピー:</p>
<pre class="literal-block">$ ssh-copy-id -i ~/.ssh/server_id_rsa.pub
or
$ scp server_id_rsa.pub opbackup@server:
$ ssh server -l opbackup
server$ cat server_id_rsa.pub &gt;&gt; .ssh/authorized_keys</pre>
</li>
</ol>
<ol class="arabic simple" start="3">
<li><p><a class="reference external" href="id00563.rst">udevの変更</a></p></li>
<li><p>crontabに、rsync登録。週一か、月一で実行</p></li>
</ol>
<p>cronのスクリプトはこんな感じに書きました:</p>
<pre class="literal-block">$ sudo crontab -e
0 1 * 1 * * /home/root/backup-nas-server.sh

----backup-nas-server.sh----
rsync="rsync -axz --delete"
ssh="-e 'ssh -i ~/.ssh/server_id_rsa'"
server=opbackup@server://media/server/home
$rsync $ssh /home/root/         $server/root            # settings
$rsync $ssh /home/pyramid/data/ $server/pyramid/data    # web-service data1
$rsync $ssh /home/photos/       $server/photos          # data2
$rsync $ssh /home/videos/       $server/videos          # data3
$rsync $ssh /home/shimoda/repos $server/repos       # data4 - programs/3d-data</pre>
</section><section id="ddns-1"><h2>
<a class="toc-backref" href="#toc-entry-2" role="doc-backlink">(未) ddns設定 </a><a href="#system-message-2"><span class="problematic" id="problematic-2">|{{{1|</span></a>
</h2>
<ul class="simple">
<li><p>以前立ち上げてたけど、バックアップがなく、また一から...</p></li>
<li><p>サーバ再起動時しか必要ないんで、もういいかな...</p></li>
</ul></section><section id="section-2"><h2>
<a class="toc-backref" href="#toc-entry-3" role="doc-backlink">(未) 起動設定 </a><a href="#system-message-3"><span class="problematic" id="problematic-3">|{{{1|</span></a>
</h2>
<ul class="simple">
<li><p>最後の仕上げ...</p></li>
</ul></section><section id="section-3"><h2>
<a class="toc-backref" href="#toc-entry-4" role="doc-backlink">(未) 今後 </a><a href="#system-message-4"><span class="problematic" id="problematic-4">|{{{1|</span></a>
</h2>
<ul class="simple">
<li><p>backup、2〜3世代ぐらい持てないかな...</p></li>
</ul>
<!-- end of file |{{{1| --><!-- vi: ft=rst:et:ts=4:fdm=marker:nowrap --></section><section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 21); <em><a href="#problematic-1">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-2"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 66); <em><a href="#problematic-2">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-3"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 72); <em><a href="#problematic-3">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-4"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 77); <em><a href="#problematic-4">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/embedded/" rel="tag">embedded</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00551/" rel="prev" title="Nim: transpilerとして使う(3) - javascriptから呼び出す">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00563/" rel="next" title="udev: USB接続HDDを無視する。固定pathにマウントする">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00562/",
        disqus_title="LS-VL: \u66ab\u5b9a\u5fa9\u65e7\u301c\u30d0\u30c3\u30af\u30a2\u30c3\u30d7\u69cb\u7bc9",
        disqus_identifier="cache/posts/id00562.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
