<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>ASUS E203NA ノートPC(5台目) | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00548/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00533/" title="SL4A: Rhino の update" type="text/html">
<link rel="next" href="../id00523/" title="Tablet4: 子供用(9台目)" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="ASUS E203NA ノートPC(5台目)">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00548/">
<meta property="og:description" content="2017/10/07 購入
CherryTrailはもう嫌だったのでApollo Lake機購入
早速、 Lubuntu 17.10 入れてみる。
2017/11/26 HP-scannerと接続してみた (5)
nomodesetでbacklightが動かなくなる。 (6)
電源ボタンでsuspend (7)

:CPU: Celeron N3350 ApolloLake
:Mem: 4GB
:">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2017-10-15T09:00:00+09:00">
<meta property="article:tag" content="complogs">
<meta property="article:tag" content="notepc">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">ASUS E203NA ノートPC(5台目)</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2017-10-15T09:00:00+09:00" itemprop="datePublished" title="2017-10-15 09:00">2017-10-15 09:00</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00548.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <ul>
<li>2017/10/07 購入</li>
<li>CherryTrailはもう嫌だったのでApollo Lake機購入</li>
<li>早速、 Lubuntu 17.10 入れてみる。</li>
<li>2017/11/26 HP-scannerと接続してみた (5)</li>
<li>nomodesetでbacklightが動かなくなる。 (6)</li>
<li>電源ボタンでsuspend (7)</li>
</ul>
<p>:CPU: Celeron N3350 ApolloLake
:Mem: 4GB
:Storage: 64GB eMMC
:Keyboard: JP105, 配列は綺麗
:Mouse: TouchPad 3point
:Weight: 9??g
:Monitor: 11" (1368x768)
:Battery: 6000mAh
:I/F 1: Micro SD slot x1
:I/F 2: USB-C x1
:I/F 3: USB 3.0x1, USB 2x1
:I/F 4: HDMI
:I/F 5: Audio</p>
<div class="toc">
<ul>
<li><a href="#1-linux-1">1. Linux 試してみる |{{{1|</a></li>
<li><a href="#2-storage-1">2. Storage |{{{1|</a></li>
<li><a href="#3-touchpad-1">3. TouchPad |{{{1|</a></li>
<li><a href="#4-wifi-1">4. WiFiがうまく動かない |{{{1|</a></li>
<li><a href="#5-hp-1">5. HP複合機プリンタと接続する |{{{1|</a></li>
<li><a href="#6-nomodesetbacklight-1">6. nomodesetでbacklightが動かなくなる |{{{1|</a></li>
<li><a href="#7-suspend-1">7. 電源ボタンでsuspend |{{{1|</a></li>
</ul>
</div>
<!-- TEASER_END -->

<h3 id="1-linux-1">1. Linux 試してみる |{{{1|</h3>
<ul>
<li>Debian 9 試す -&gt; WiFi 認識せず。</li>
<li>Lubuntu 17.10 試す -&gt; 特に不自由なし。こっちでしばらく過ごす</li>
</ul>
<h3 id="2-storage-1">2. Storage |{{{1|</h3>
<p>USB 32GB</p>
<div class="code"><pre class="code literal-block">こっちはTrimが効いてない::

   $ tune2fs -O ^has_journal /dev/sda2
   $ tune2fs -O ^has_journal /dev/sda3
   $ vi /etc/fstab
   UUID=... / ext4 errors=remount-ro,data=writeback,noatime 0 1

nodiratimeはnoatimeで兼ねているそうなので、省略

内蔵 eMMC 64GB
</pre></div>

<p>こっちはTrimがあるようなのでdiscardをつける::</p>
<p>$ tune2fs -O ^has_journal /dev/sda2
   $ vi /etc/fstab
   UUID=... /home2 ext4 defaults,noatime,discard 0 3</p>
<h3 id="3-touchpad-1">3. TouchPad |{{{1|</h3>
<p>次を調整</p>
<ul>
<li>3pointで、真ん中click</li>
<li>2pointの感度が良すぎる</li>
</ul>
<p>/usr/share/X11/xorg.conf.d/70-synaptis.confを修正::</p>
<p>Section "InputClass"
        Identifier "touchpad catchall"
        Driver "synaptics"
        MatchIsTouchpad "on"
        Option "TapButton3" "2"
        Option "FingerLow" "50"
        Option "FingerHigh" "100"
        Option "VertTwoFingerScroll" "on"
        Option "HorizTwoFingerScroll" "on"
      MatchDevicePath "/dev/input/event*"
  EndSection</p>
<h3 id="4-wifi-1">4. WiFiがうまく動かない |{{{1|</h3>
<p>WiFiを使うとうまく動かない</p>
<ul>
<li>しばらく使うと停止してしまう (つながっているように見えるけど)</li>
<li>suspendできなくなる</li>
</ul>
<p>これは、今はうまく直せていない</p>
<ul>
<li>4.13.0-12-generic ... ???</li>
<li>4.13.0-15-generic ... だめ</li>
<li>4.13.0-16-generic ... 確認中</li>
</ul>
<h3 id="5-hp-1">5. HP複合機プリンタと接続する |{{{1|</h3>
<p>まず、URIを作成します。 \
次に、コマンドプロンプトからsimple-scannerを起動します::</p>
<div class="code"><pre class="code literal-block">$<span class="w"> </span>hp-makeuri<span class="w"> </span><span class="m">192</span>.168.0.15
$<span class="w"> </span>simple-scan<span class="w">  </span>hpaio:/net/Officejet_6500_E709a?ip<span class="o">=</span><span class="m">192</span>.168.0.15
</pre></div>

<p>以下のようなコマンドをいろいろ試しましたが、特に意味はなかったです</p>
<div class="code"><pre class="code literal-block">$<span class="w"> </span>hp-scan
$<span class="w"> </span>hp-scan<span class="w"> </span>devices
$<span class="w"> </span>hp-probe
$<span class="w"> </span>hp-scan<span class="w"> </span>lpd://192.168.0.15
$<span class="w"> </span>hp-scan<span class="w"> </span>socket://192.168.0.15:9100
$<span class="w"> </span>hp-info<span class="w"> </span>socket://192.168.0.15:9100
$<span class="w"> </span>hp-check
</pre></div>

<p>IPアドレスは固定で振っているので、違う場合はご注意ください。</p>
<p>hp-check で package がいろいろ足りない...と出てきますが、 \
RedHat系の package 名で出てくるので \
Ubuntu では気にしない方がいいかもしれません。</p>
<h3 id="6-nomodesetbacklight-1">6. nomodesetでbacklightが動かなくなる |{{{1|</h3>
<p>kernel が tms のチェックで起動しなくなりました。
そこで recovery モードで起動すると問題なかったのですが、
nomodeset が指定されていると、 backlight が動かなくなりました。</p>
<p>以下、試したことです。すべてダメでした。</p>
<ul>
<li>kernel の変更。4.13, 4.15, 4.16...</li>
<li>
<code>acpi_osi=</code>  の指定</li>
<li>
<code>acpi_vendor=vendor</code> の指定</li>
<li>
<code>video.disp_lcd=-1</code> の指定</li>
<li>X に intel brightness の指定</li>
</ul>
<p>結局、 recovery 起動の時に nomodeset を外せば良かったという
結果でした。</p>
<h3 id="7-suspend-1">7. 電源ボタンでsuspend |{{{1|</h3>
<p>~/.config/openbox/lubuntu-rc.xml に::</p>
<div class="code"><pre class="code literal-block"><span class="nt">&lt;keybind</span><span class="w"> </span><span class="na">key=</span><span class="s">"C-XF86PowerOff"</span><span class="nt">&gt;</span>
<span class="w">  </span><span class="nt">&lt;action</span><span class="w"> </span><span class="na">name=</span><span class="s">"Execute"</span><span class="nt">&gt;</span>
<span class="w">    </span><span class="nt">&lt;command&gt;</span>sudo<span class="w"> </span>/usr/sbin/pm-suspend<span class="nt">&lt;/command&gt;</span>
<span class="w">  </span><span class="nt">&lt;/action&gt;</span>
<span class="nt">&lt;/keybind&gt;</span>
<span class="nt">&lt;keybind</span><span class="w"> </span><span class="na">key=</span><span class="s">"XF86PowerOff"</span><span class="nt">&gt;</span>
<span class="w">  </span><span class="nt">&lt;action</span><span class="w"> </span><span class="na">name=</span><span class="s">"Execute"</span><span class="nt">&gt;</span>
<span class="w">    </span><span class="nt">&lt;command&gt;</span>sudo<span class="w"> </span>systemctl<span class="w"> </span>suspend<span class="nt">&lt;/command&gt;</span>
<span class="w">  </span><span class="nt">&lt;/action&gt;</span>
<span class="nt">&lt;/keybind&gt;</span>
</pre></div>

<p>という記述をします。sudoersに下の記述をします。</p>
<p>ただし、ファイルの下の方に書かないとだめです。
<strong>ファイルの下の方が優先のため</strong>::</p>
<p>%sudo ALL=NOPASSWD: /bin/systemctl suspend
  %sudo ALL=NOPASSWD: /usr/sbin/pm-suspend</p>
<p>この記述より下に書いてください。::</p>
<p>%sudo ALL=(ALL:ALL) ALL</p>
<p>こんな感じ::</p>
<p>%sudo ALL=(ALL:ALL) ALL</p>
<p>%sudo ALL=NOPASSWD: /bin/systemctl suspend
  %sudo ALL=NOPASSWD: /usr/sbin/pm-suspend</p>
<p>.. end of file |{{{1|</p>
    </div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/complogs/" rel="tag">complogs</a></li>
            <li><a class="tag p-category" href="../../tags/notepc/" rel="tag">notepc</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00533/" rel="prev" title="SL4A: Rhino の update">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00523/" rel="next" title="Tablet4: 子供用(9台目)">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00548/",
        disqus_title="ASUS E203NA \u30ce\u30fc\u30c8PC(5\u53f0\u76ee)",
        disqus_identifier="cache/posts/id00548.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
