<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="description" content="Linux,EDA,Zopeなどのコンピュータ技術の話題を中心にしたwebsiteです.">
<meta name="viewport" content="width=device-width">
<title>2021年の記事 | にゅーステレオ天国</title>
<link href="../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/2021/">
<!--[if lt IE 9]><script src="../assets/js/html5shiv-printshiv.min.js"></script><![endif]-->
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../posts/id99000/">About</a></li>
                <li><a href="../articles.html">Articles</a></li>
                <li><a href="../tags/index.html">Tags</a></li>
                <li><a href="../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="listpage"><header><h1>2021年の記事</h1>
    </header><ul class="postlist">
<li>
<time class="listdate" datetime="2021-07-12T09:10:31+09:00" title="2021-07-12 09:10">2021-07-12 09:10</time><a href="../posts/id00604/" class="listtitle">Linux On Android: Android apkをtabletで作る</a>
</li>
        <li>
<time class="listdate" datetime="2021-07-12T09:10:31+09:00" title="2021-07-12 09:10">2021-07-12 09:10</time><a href="../posts/id00629/" class="listtitle">Linux On Android: 起動方法</a>
</li>
        <li>
<time class="listdate" datetime="2021-07-12T09:09:07+09:00" title="2021-07-12 09:09">2021-07-12 09:09</time><a href="../posts/id00603/" class="listtitle">gameクリア: PS4: Shadow of Tomb Raider</a>
</li>
        <li>
<time class="listdate" datetime="2021-06-28T13:14:32+09:00" title="2021-06-28 13:14">2021-06-28 13:14</time><a href="../posts/id00602/" class="listtitle">Debian: dnsmasqで、家の名前解決/ DHCP変更</a>
</li>
        <li>
<time class="listdate" datetime="2021-06-24T08:59:06+09:00" title="2021-06-24 08:59">2021-06-24 08:59</time><a href="../posts/id00601/" class="listtitle">DIY: Steam専用端末 (6台目)</a>
</li>
        <li>
<time class="listdate" datetime="2021-06-24T08:05:47+09:00" title="2021-06-24 08:05">2021-06-24 08:05</time><a href="../posts/id00600/" class="listtitle">gameクリア: Steam: Princes Remedy</a>
</li>
        <li>
<time class="listdate" datetime="2021-05-11T13:08:43+09:00" title="2021-05-11 13:08">2021-05-11 13:08</time><a href="../posts/id00599/" class="listtitle">ARM SBC: MBED / libopencm3導入</a>
</li>
        <li>
<time class="listdate" datetime="2021-05-10T13:06:49+09:00" title="2021-05-10 13:06">2021-05-10 13:06</time><a href="../posts/id00598/" class="listtitle">gameクリア: PS4: Rez</a>
</li>
        <li>
<time class="listdate" datetime="2021-05-10T12:45:50+09:00" title="2021-05-10 12:45">2021-05-10 12:45</time><a href="../posts/id00597/" class="listtitle">ARM SBC: Arambian setup</a>
</li>
        <li>
<time class="listdate" datetime="2021-05-10T09:00:59+09:00" title="2021-05-10 09:00">2021-05-10 09:00</time><a href="../posts/id00596/" class="listtitle">gameクリア: PS4: Blood stained - Ritural of the night</a>
</li>
    </ul></article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../assets/js/all-nocdn.js"></script><script src="../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
