<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>arm-box: Raspberry Pi + python でボタン判定を行う | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00564/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00563/" title="udev: USB接続HDDを無視する。固定pathにマウントする" type="text/html">
<link rel="next" href="../id00565/" title="DIY: armのマイコンボードで遊ぶ 1 (未完あり)" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="arm-box: Raspberry Pi + python でボタン判定を行う">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00564/">
<meta property="og:description" content="ポイント

pull-upを忘れない
長押しの判定も作ってみた
tickのwrapに対応

ちょっとchatteringの対応が不十分っぽいのか \
うまくボタンがとれていない時がある。
処理の流れは適当に作ったけど、もうちょっとしっかり考えた方がよかったかな...

処理の流れ

event
前回からの経過時間算出 (tick - tick^-1)
on: 前回押下あり?       -&gt; ch">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2019-06-08T02:04:13+09:00">
<meta property="article:tag" content="embedded">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">arm-box: Raspberry Pi + python でボタン判定を行う</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2019-06-08T02:04:13+09:00" itemprop="datePublished" title="2019-06-08 02:04">2019-06-08 02:04</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00564.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>ポイント</p>
<ul class="simple">
<li><p>pull-upを忘れない</p></li>
<li><p>長押しの判定も作ってみた</p></li>
<li><p>tickのwrapに対応</p></li>
</ul>
<p>ちょっとchatteringの対応が不十分っぽいのか \
うまくボタンがとれていない時がある。</p>
<p>処理の流れは適当に作ったけど、もうちょっとしっかり考えた方がよかったかな...</p>
<!-- TEASER_END -->
<p>処理の流れ</p>
<ol class="arabic simple">
<li><p>event</p></li>
<li><p>前回からの経過時間算出 (tick - tick^-1)</p></li>
<li><p>on: 前回押下あり?       -&gt; chattering以外なら、timeout再開</p></li>
<li><p>on: chattering時間内    -&gt; 無視</p></li>
<li><p>on: 前回押下を記録・timeout起動</p></li>
<li><p>off: 前回押下なし       -&gt; 無視</p></li>
<li><p>off: chattering時間内   -&gt; 無視</p></li>
<li><p>off: それ以外           -&gt; pres確定</p></li>
<li><p>off: pres時: 前回押下の記録削除</p></li>
<li><p>timeout: 前回押下なし   -&gt; 無視</p></li>
<li><p>timeout: それ以外       -&gt; hold確定</p></li>
</ol>
<p>プログラム:</p>
<pre class="literal-block">def tick_delta(prev, curr):  # {{{1
  # type: (int, int) -&gt; int
  if prev &gt; curr:
      curr += 2 ** 32
  ret = curr - prev
  return ret


class buttons:
  def regist_simple(self, chs, func):  # {{{1
      # type: (List[int], Callable[[int], bool]) -&gt; None
      def callback_hold(ch):  # {{{2
          if self.tick &lt; 0:
              return  # already released
          self.tick = -1
          if ch not in self.cbs_hold:
              return
          self.cbs_hold[ch](ch)

      def callback_press(pin, lv, tick):  # {{{2
          d = tick_delta(self.tick, tick)
          ch = self.pins.index(pin)
          if lv == self.lv_release:
              if self.tick &lt; 0:
                  # not pressed, just ignore...
                  # or hold callback alerady called by timer.
                  return
              if d &lt; self.usec_chatter:
                  return  # just ignore the new button for chattering
              self.timer_cancel()
              self.tick = -1
              func(ch)
              return
          if self.tick &gt; 0:
              if d &lt; self.usec_chatter:
                  return  # ignore chattering.
              elif self.timer is not None:
                  self.timer_cancel()
          if self.timer is None:
              self.timer = Timer(self.sec_hold, callback_hold, args=[ch])
              self.timer.start()
          self.tick = tick  # 1st holded button!
      # }}}
      # active = edge to low.
      for ch in chs:
          if ch &gt;= len(self.pins):
              continue
          pin = self.pins[ch]
          self.io.set_mode(pin, pigpio.INPUT)
          self.io.set_pull_up_down(pin, pigpio.PUD_UP)
          self.io.callback(pin, pigpio.EITHER_EDGE, callback_press)
          print("registerd function for GPIO {} as {}ch".format(pin, ch))</pre>
<!-- end of file |{{{1| -->
<!-- vi: ft=rst:et:ts=4:fdm=marker -->
    </div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/embedded/" rel="tag">embedded</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00563/" rel="prev" title="udev: USB接続HDDを無視する。固定pathにマウントする">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00565/" rel="next" title="DIY: armのマイコンボードで遊ぶ 1 (未完あり)">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00564/",
        disqus_title="arm-box: Raspberry Pi + python \u3067\u30dc\u30bf\u30f3\u5224\u5b9a\u3092\u884c\u3046",
        disqus_identifier="cache/posts/id00564.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
