<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>LS-VLの調整 | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00425/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00423/" title="GAE/pyで懐かしのwebカウンタを作ってみる" type="text/html">
<link rel="next" href="../id00452/" title="Linux On Android: X server" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="LS-VLの調整">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00425/">
<meta property="og:description" content="LS-VLをいじる記事もたまってたのでまとめて上げることにしてみた.
メモですメモ.
(3)の記事が参考になるかも...

目次

LS-VLのdebian squeezeを設定(5) |{{{1|
LS-VLのdebian squeezeに入ってみる(4) |{{{1|
LS-VLにdebian squeezeを導入(3) |{{{1|

1. Kernelとmoduleを母艦にコピー
2. P">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2013-10-14T14:48:05+09:00">
<meta property="article:tag" content="embedded">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">LS-VLの調整</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2013-10-14T14:48:05+09:00" itemprop="datePublished" title="2013-10-14 14:48">2013-10-14 14:48</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00425.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>LS-VLをいじる記事もたまってたのでまとめて上げることにしてみた.</p>
<p>メモですメモ.
(3)の記事が参考になるかも...</p>
<nav class="contents" id="topic-1" role="doc-toc"><p class="topic-title">目次</p>
<ul class="simple">
<li><p><a class="reference internal" href="#ls-vldebian-squeeze-5-1" id="toc-entry-1">LS-VLのdebian squeezeを設定(5) |{{{1|</a></p></li>
<li><p><a class="reference internal" href="#ls-vldebian-squeeze-4-1" id="toc-entry-2">LS-VLのdebian squeezeに入ってみる(4) |{{{1|</a></p></li>
<li>
<p><a class="reference internal" href="#ls-vldebian-squeeze-3-1" id="toc-entry-3">LS-VLにdebian squeezeを導入(3) |{{{1|</a></p>
<ul>
<li><p><a class="reference internal" href="#kernelmodule" id="toc-entry-4">1. Kernelとmoduleを母艦にコピー</a></p></li>
<li><p><a class="reference internal" href="#partition" id="toc-entry-5">2. Partitionの設定</a></p></li>
<li><p><a class="reference internal" href="#format" id="toc-entry-6">3. format</a></p></li>
<li><p><a class="reference internal" href="#hdd" id="toc-entry-7">4. 新しいHDDにファイルをコピー</a></p></li>
<li><p><a class="reference internal" href="#debootstrapdebian" id="toc-entry-8">5. debootstrapでdebianシステムを構築</a></p></li>
<li><p><a class="reference internal" href="#sshd" id="toc-entry-9">6. SSHDの導入</a></p></li>
<li><p><a class="reference internal" href="#section-1" id="toc-entry-10">7. いろいろ設定</a></p></li>
<li><p><a class="reference internal" href="#section-2" id="toc-entry-11">8. 確認</a></p></li>
</ul>
</li>
<li><p><a class="reference internal" href="#ls-vl-2-1" id="toc-entry-12">LS-VLを分解(2) |{{{1|</a></p></li>
<li><p><a class="reference internal" href="#ls-vldebian-squeeze-1-1" id="toc-entry-13">LS-VLをdebian squeezeで運用するぞ(1) |{{{1|</a></p></li>
</ul></nav><!-- TEASER_END --><section id="ls-vldebian-squeeze-5-1"><h2>
<a class="toc-backref" href="#toc-entry-1" role="doc-backlink">LS-VLのdebian squeezeを設定(5) </a><a href="#system-message-1"><span class="problematic" id="problematic-1">|{{{1|</span></a>
</h2>
<p>前回でLS-VLが動いていることは確認できたので,</p>
<p>いろいろ入れていきます.</p>
<p>私がいれたのはまずsudo:</p>
<pre class="literal-block">$ ssh lsvl
passwd: zzzz
lsvl# apt-get install sudo</pre>
<p>それから一般ユーザーを作成します:</p>
<pre class="literal-block">lsvl# useradd ippan -G adm
lsvl# passwd ippan
passwd: zzzz
passwd:
lsvl# EDITOR=vi visudo
...
#%adm (ALL): ALL PASSWD: ALL =&amp;gt; コメントを外す
...
:x
lsvl# exit</pre>
<p>NetBSDならwheelなんですが, debianなんでadm.</p>
<blockquote>
<p>この辺よく知りません.</p>
</blockquote>
<p>さて一般ユーザを作ったのでそっちで作業します.</p>
<p>sudoでやるのがUbuntuのお作法でしたっけ?:</p>
<pre class="literal-block">$ ssh lsvl -l ippan
passwd: zzzz
lsvl$</pre>
<p>それではいろいろ入れていきます.:</p>
<pre class="literal-block">lsvl$ sudo apt-get install lv
lsvl$ sudo apt-get install vim
lsvl$ sudo apt-get install python2.6
lsvl$ sudo apt-get install lsof</pre>
<p>python関連のinstall:</p>
<pre class="literal-block">lsvl$ wget http:///ez_setup.py
lsvl$ sudo ez_setup.py
lsvl$ sudo easy_install pip
lsvl$ sudo easy_install virtualenv</pre>
<p>Zopeのinstall:</p>
<pre class="literal-block">lsvl$ sudo groupadd zope
lsvl$ sudo useradd zope -g zope
...user作っておく...
lsvl$ sudo mkdir -p /home/zope/current
lsvl$ cd /home/zope/current
lsvl$ sudo virtualenv venv
lsvl$ . ./venv/bin/activate
(venv) lsvl$ sudo easy_install Zope2
...10分ぐらい...
(venv) lsvl$ sudo ./bin/mkzopeinstance -d . -u ippan -p zzzz
(venv) lsvl$ sudo chown -R zope:zope .
...zope.confとかいじる...
(venv) lsvl$ sudo -u zope ./bin/zopectl start
.
at zzzz
(venv) lsvl$</pre>
<p>Zopeが動いた...?</p>
<p>実ははじめてZope動かした時は刺さりました.</p>
<p>swap設定してなかったんでメモリ不足でしょうか.</p>
</section><section id="ls-vldebian-squeeze-4-1"><h2>
<a class="toc-backref" href="#toc-entry-2" role="doc-backlink">LS-VLのdebian squeezeに入ってみる(4) </a><a href="#system-message-2"><span class="problematic" id="problematic-2">|{{{1|</span></a>
</h2>
<p>前回まででLS-VLにdebianをインストールすることができました.</p>
<p>それの調整を行います.</p>
<p>起動したかどうかは, networkからアクセスするしかありません.:</p>
<pre class="literal-block">$ ssh 192.168.2.10 -l root
...上記は架空のIPです.
...sshの鍵を登録するか聞かれるのでyesします(母艦の環境による
passwd: xxxxx
lsvl#</pre>
<p>おぉLS-VL動いてる!</p>
<p>後は普通にLinuxとして設定していくのみ.</p>
</section><section id="ls-vldebian-squeeze-3-1"><h2>
<a class="toc-backref" href="#toc-entry-3" role="doc-backlink">LS-VLにdebian squeezeを導入(3) </a><a href="#system-message-3"><span class="problematic" id="problematic-3">|{{{1|</span></a>
</h2>
<p>新品のHDDを準備したのでdebian squeezeを導入します.</p>
<p>母艦はDynabook AZです. (同じARMだったので便利かも...)</p>
<p>まず, 付属のHDDをUSB-SATA変換の箱などを使って \
Dynabook AZに接続します.</p>
<section id="kernelmodule"><h3><a class="toc-backref" href="#toc-entry-4" role="doc-backlink">1. Kernelとmoduleを母艦にコピー</a></h3>
<p>付属のHDDにあるKernelとmoduleを使うので母艦にコピーします:</p>
<pre class="literal-block">$ umount /dev/sda1
$ umount /dev/sda2
...最近は自動でmountされるのでmount解除

$ sudo mkdir /home/root
$ cd /home/root/
...作業フォルダを作りました

$ sudo mount /dev/sda1 /mnt2/boot
$ sudo mount /dev/sda2 /mnt2/root
$ sudo cp -a /mnt2/boot/* .
...LS-VL付属のカーネルをコピー

$ cd /mnt2/root
$ sudo tar zcvf /home/root/lsvl-modules.tgz lib/modules
...LS-VL付属のカーネルモジュールをコピー

$ umount /dev/sda{1,2}</pre>
<p>付属のHDDは必要なくなったのでumountしました.</p>
</section><section id="partition"><h3><a class="toc-backref" href="#toc-entry-5" role="doc-backlink">2. Partitionの設定</a></h3>
<p>次に新しいHDDを母艦に接続して作業します. \
くれぐれも他のHDDを初期化しないように注意してくださいね...:</p>
<pre class="literal-block">$ sudo parted /dev/sda mklabel gpt
$ sudo parted /dev/sda mkpart primary 0 100
$ sudo parted /dev/sda mkpart primary 100 1000
$ sudo parted -l /dev/sda</pre>
<p>partitionの設定ができました.
ここでは必要最小限を作成したので, 残りは後で作ってください.</p>
</section><section id="format"><h3><a class="toc-backref" href="#toc-entry-6" role="doc-backlink">3. format</a></h3>
<p>formatします.:</p>
<pre class="literal-block">$  sudo mke2fs -I 128 -j /dev/sda1
$  sudo mke2fs -j /dev/sda2</pre>
<p>inodeサイズを128にしないといけないそうです.</p>
<blockquote>
<p>(NetBSDでも128じゃないと取り扱えなかったけど, なんでだろ?)</p>
</blockquote>
</section><section id="hdd"><h3><a class="toc-backref" href="#toc-entry-7" role="doc-backlink">4. 新しいHDDにファイルをコピー</a></h3>
<p>一つファイルを取得しておきます. 空のinitrdだそうです.:</p>
<pre class="literal-block">$ cd /home/root
$ sudo wget http://tyche.pu-toyama.ac.jp/~a-urasim/lsvl/data/initrd.buffalo</pre>
<p>さて, /bootにファイルをコピーしていきます:</p>
<pre class="literal-block">$ sudo cp -rpdv /home/root/{u-boot_lsvl.bin,uImage.buffalo,initrd.buffalo} /mnt2/boot</pre>
</section><section id="debootstrapdebian"><h3><a class="toc-backref" href="#toc-entry-8" role="doc-backlink">5. debootstrapでdebianシステムを構築</a></h3>
<p>次, /rootにdebootstrapでdebianシステムをHDD上に作ります.:</p>
<pre class="literal-block">$  cd /mnt2
$  sudo apt-get install debootstrap
...私のDynabook AZにはdebootstrapが入って無かったのでいれました

$  sudo debootstrap squeeze /mnt2 --help
$  sudo debootstrap squeeze /mnt2
...10分以上かかります...</pre>
<p>/rootにkernelモジュールを展開しておきます.:</p>
<pre class="literal-block">$  sudo tar xvf /home/root/lsvl-modules.tgz</pre>
</section><section id="sshd"><h3><a class="toc-backref" href="#toc-entry-9" role="doc-backlink">6. SSHDの導入</a></h3>
<p>/rootにsshをインストールしておきます.:</p>
<pre class="literal-block">$  sudo chroot /mnt2/root
# apt-get install ssh
...sshが起動するのでそれはkillしておきましょう
# exit
#  sudo lsof | lv         # こんなんや
#  ps -ax | grep ssh      # こんなんで調べて...
#  sudo kill -TERM [pid]  # プロセスを切る
...chrootでsshをstopする方がいいかも...</pre>
<p>なんとこれでほとんど準備完了です. \
LS-VLのbootがいいのかな. Landiskよりもだいぶ簡単.</p>
<blockquote>
<p>chroot以降は, ARMの母艦じゃないとできないっぽいですかね. \
i386機でどうやるかはdebianあんまりしらないので知りませんorz</p>
</blockquote>
</section><section id="section-1"><h3><a class="toc-backref" href="#toc-entry-10" role="doc-backlink">7. いろいろ設定</a></h3>
<p>最後にいろいろ設定します.:</p>
<pre class="literal-block">$  vi /mnt2/etc/network/interfaces
iface lo inet loopback
auto lo

iface eth0 inet dhcp
auto eth0

iface eth1 inet dhcp
auto eth1

$  vi /mnt2/etc/fstab
none         /proc  proc    nodev,noexec,nosuid     0       0
/dev/sda1 /boot ext3 rw,async,noatime,nodiratime 1 1
/dev/sda2 /     ext3 rw,async,noatime,nodiratime 1 2
#/dev/sda3 /home ext3 rw,async,rw,noatime,nodiratime 1 3
#/dev/sdb1 none swap pri=0 0 0

$  vi /mnt2/etc/ssh/sshd_config
...
PermitRootLogin yes     # no =&amp;gt; yesに
...
$  sudo chroot /mnt2/root
# passwd
...sshで入るためにrootのpasswordを変更しておく...</pre>
<p>interfacesにeth1も設定している理由は, \
私が購入したLS-VLのカーネルがeth1になっちゃうからです.</p>
<blockquote>
<p>なんでだろう...</p>
</blockquote>
<p>あとはLS-VLに接続して起動するかどうか...</p>
</section><section id="section-2"><h3><a class="toc-backref" href="#toc-entry-11" role="doc-backlink">8. 確認</a></h3>
<p>私はeth0がeth1になっているのに1日気がつきませんでした.</p>
<p>LS-VLは上記の手順で起動はしていたのですが, \
LAN経由のアクセスができなかったので \
なにが悪いのか見当もつかず 1-7 を3回ぐらい繰り返してます.</p>
<p>どうしてeth1になっているのが分かったかというと,</p>
<p>HDDを母艦に接続し直して調べていると \
/var/log/messages (母艦だと /mnt2/root/var/log/messages)に \
eth0 =&gt; eth1の変化が記載されていたからです.</p>
<blockquote>
<p>あと, messagesに出力があったので「これは起動はしている!」と
確信できたのはモチベーション上がりました :D</p>
</blockquote>
<p>確認は/var/log/messagesでやるといいです.</p>
</section></section><section id="ls-vl-2-1"><h2>
<a class="toc-backref" href="#toc-entry-12" role="doc-backlink">LS-VLを分解(2) </a><a href="#system-message-4"><span class="problematic" id="problematic-4">|{{{1|</span></a>
</h2>
<p>さて, お家にやってきましたLS-VL. \
普通に立ち上げてLinuxからWebアクセス...</p>
<p>「動く...動くぞこいつ...!」</p>
<p>お決まりのリアクションです. \
動いたのがわかったので早速分解.</p>
<p>私, せっかちなので昔から分解が苦手です. \</p>
<blockquote>
<p>ほら, あっという間に爪が折れた.</p>
</blockquote>
<p>付属のHDDを外して今日はおしまい. \
写真などはとってません, ごめんなさい.</p>
</section><section id="ls-vldebian-squeeze-1-1"><h2>
<a class="toc-backref" href="#toc-entry-13" role="doc-backlink">LS-VLをdebian squeezeで運用するぞ(1) </a><a href="#system-message-5"><span class="problematic" id="problematic-5">|{{{1|</span></a>
</h2>
<p>NetBSD/Landiskで遊んでました.</p>
<p>低消費電力で一日中電球つけてるよりも \
断然エコでしたし, その点は満足してました.</p>
<p>2年ぐらい運用したんですが, \
今思うと役に立つシーンはたいぶ限られてました...</p>
<p>そこで, もう少しマシンパワーが欲しかったので \
SSD換装なんてことを実行しようとしてたんです.</p>
<p>だがしかし, その換装作業中にLandisk君を壊してしまいましたorz...</p>
<p>SSDせっかく買ったのに...というわけで \
マシンパワーがはるかに上のNAS Boxを買うことに.</p>
<p>LS-VLがなんとARM 1.6GHzのハイパワーだというじゃありませんか.</p>
<p>さっそく, 中古で発見したのをget.</p>
<blockquote>
<p>オークションも見てみましたが, \
「ノークレームノーリターン」って書いてるし \
値段も安くないしで中古にしました.</p>
<p>それにしても「ノークレームノーリターン」ってなんかの免罪符なんですかね...</p>
</blockquote>
<p>頼んで2日で到着しました.</p>
<p>さてこれから遊びます.</p>
<!-- vi: ft=rst:fdm=marker -->
</section><section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 15); <em><a href="#problematic-1">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-2"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 92); <em><a href="#problematic-2">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-3"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 111); <em><a href="#problematic-3">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-4"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 279); <em><a href="#problematic-4">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-5"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 297); <em><a href="#problematic-5">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/embedded/" rel="tag">embedded</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00423/" rel="prev" title="GAE/pyで懐かしのwebカウンタを作ってみる">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00452/" rel="next" title="Linux On Android: X server">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00425/",
        disqus_title="LS-VL\u306e\u8abf\u6574",
        disqus_identifier="cache/posts/id00425.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
