<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>LS-VL 7-8: debian jessie標準kernelでUSB機器を使う/追加package |{{{1| | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00450/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00451/" title="LS-VL 9: 時間調整など設定を行う |{{{1|" type="text/html">
<link rel="next" href="../id00449/" title="LS-VL 6: debian jessie化 |{{{1|" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="LS-VL 7-8: debian jessie標準kernelでUSB機器を使う/追加package |{{{1|">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00450/">
<meta property="og:description" content='LS-VLは電源投入後にUSBの電源が入ってないです,
GPIOの状態を変更して電源を入れます.
手順
1. echo "8" &gt; /sys/class/gpio/export
1. echo "out" &gt; /sys/class/gpio/gpio8/direction
1. echo "1" &gt; /sys/class/gpio/gpio8/value
1. echo "8" &gt; /sys/cl'>
<meta property="og:type" content="article">
<meta property="article:published_time" content="2009-11-23T23:05:49+09:00">
<meta property="article:tag" content="embedded">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">LS-VL 7-8: debian jessie標準kernelでUSB機器を使う/追加package |{{{1|</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2009-11-23T23:05:49+09:00" itemprop="datePublished" title="2009-11-23 23:05">2009-11-23 23:05</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00450.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p>LS-VLは電源投入後にUSBの電源が入ってないです,
GPIOの状態を変更して電源を入れます.</p>
<p>手順</p>
<p>1. echo "8" &gt; /sys/class/gpio/export
1. echo "out" &gt; /sys/class/gpio/gpio8/direction
1. echo "1" &gt; /sys/class/gpio/gpio8/value
1. echo "8" &gt; /sys/class/gpio/unexport</p>
<p>buffalo謹製kernelであれば
/proc/buffalo/...にgpioがいじれるファイルができます.</p>
<p>debinan標準のkernelではそういうわけにはいきません.</p>
<p>そこで上記の手順を踏めばなんとかなる.
というわけです.</p>
<!-- TEASER_END -->
<section id="ls-vl-8-jessie-1"><h2>LS-VL 8: jessie追加パッケージ <a href="#system-message-1"><span class="problematic" id="problematic-1">|{{{1|</span></a>
</h2>
<dl>
<dt>apt-get install mercurial</dt>
<dd>
<p>必須</p>
</dd>
<dt>apt-get install vim</dt>
<dd>
<p>必須</p>
</dd>
<dt>apt-get install hostapd</dt>
<dd>
<p>これが動かないとNASがAPになりません...</p>
</dd>
<dt>apt-get install python-pip</dt>
<dd>
<p>この後に</p>
<ul class="simple">
<li><p>sudo pip install virtualenv</p></li>
<li><p>sudo pip install virtualenvwrapper</p></li>
</ul>
<p>pyramidのために必要</p>
</dd>
<dt>apt-get install python3</dt>
<dd>
<p>最近あんまりさわってないけど, なんとなく</p>
</dd>
<dt>apt-get install nginx-full</dt>
<dd>
<p>いままでngingxはビルドしてましたが,
jessieになったのでパッケージで.</p>
<p>これで簡単にssl使えるはず...うれしい</p>
</dd>
<dt>apt-get install git</dt>
<dd>
<p>vimのplugin用に</p>
</dd>
</dl>
<!-- vi: ft=rst:et:ts=4 --></section><section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 23); <em><a href="#problematic-1">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/embedded/" rel="tag">embedded</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00451/" rel="prev" title="LS-VL 9: 時間調整など設定を行う |{{{1|">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00449/" rel="next" title="LS-VL 6: debian jessie化 |{{{1|">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00450/",
        disqus_title="LS-VL 7-8: debian jessie\u6a19\u6e96kernel\u3067USB\u6a5f\u5668\u3092\u4f7f\u3046/\u8ffd\u52a0package |{{{1|",
        disqus_identifier="cache/posts/id00450.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
