<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>Tablet3: モバイル(9台目) | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00518/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00517/" title=" msys: python-leveldbをMinGW32で使う |{{{1|" type="text/html">
<link rel="next" href="../id00519/" title="arm-box: Scishon 88 TVBOX server(3台目)" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="Tablet3: モバイル(9台目)">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00518/">
<meta property="og:description" content="2016/8/19 購入、入手は8/31
安かったので、連続してTabletを入手した。
最初は、最近、mingw/cygwinと悪戦苦闘ばっかりしているので、
  こっちの安いtabletはLinuxで運用しようと決意 (9/9)
次第に、値段が値段だし、壊してもいいか、と言う感じになり
  eMMCにLinuxインストール。Windowsももう消しちゃおうかな... (9/18)
次に、USB">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2016-09-06T06:00:00Z">
<meta property="article:tag" content="complogs">
<meta property="article:tag" content="mobile">
<meta property="article:tag" content="tablets">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">Tablet3: モバイル(9台目)</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2016-09-06T06:00:00Z" itemprop="datePublished" title="2016-09-06 06:00">2016-09-06 06:00</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00518.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <ul>
<li>2016/8/19 購入、入手は8/31</li>
<li>安かったので、連続してTabletを入手した。</li>
<li>最初は、最近、mingw/cygwinと悪戦苦闘ばっかりしているので、
  こっちの安いtabletはLinuxで運用しようと決意 (9/9)</li>
<li>次第に、値段が値段だし、壊してもいいか、と言う感じになり
  eMMCにLinuxインストール。Windowsももう消しちゃおうかな... (9/18)</li>
<li>次に、USBにBTドングルつけると、
    keyboardとPANが使えるので結構いいかも? という感じ (9/26)</li>
<li>容量不足が気になったので、Windowsパーティションも消しちゃった (10/17)</li>
<li>2017/9/20 最後は貝が割れて終了。
    sleepとかpowermanagement効いてなかったから充電しながら使ったりしてて
    使い方が荒い状態だったんだろう...</li>
</ul>
<table>
<thead><tr>
<th>CPU</th>
<th>Atom Z8300 CherryTrail</th>
</tr></thead>
<tbody>
<tr>
<td>Mem</td>
<td>2GB</td>
</tr>
<tr>
<td>Storage</td>
<td>32GB eMMC</td>
</tr>
<tr>
<td>Keyboard</td>
<td>なし、USB-GASIA</td>
</tr>
<tr>
<td>Mouse</td>
<td>gslx-680 touch panel</td>
</tr>
<tr>
<td>Weight</td>
<td>???g</td>
</tr>
<tr>
<td>Monitor</td>
<td>7" (1280x800)</td>
</tr>
<tr>
<td>Battery</td>
<td>????mAh</td>
</tr>
<tr>
<td>I/F 1</td>
<td>TF slot</td>
</tr>
<tr>
<td>I/F 2</td>
<td>MicroUSB x1</td>
</tr>
<tr>
<td>I/F 3</td>
<td>USB x1</td>
</tr>
</tbody>
</table>
<!-- TEASER_END --><h4 id="1-linux-install">1. Linux install</h4>
<p>EFI関係で難しいという話があったが
Ubuntu 16.04であれば特に問題なくインストールできた。</p>
<p>怖かったのでeMMCにはインストールせず、
追加で刺したMMCカードにLinux＆grubをインストールした。</p>
<p>この状態では</p>
<ul>
<li>x touch panel</li>
<li>x buttons</li>
<li>x WiFi sdio</li>
<li>x Bluetooth sdio</li>
<li>x Battery manager</li>
</ul>
<p>と、ほとんどのデバイスが使えない状態に...</p>
<p>特に sdio とか battery は先が長そうであった...</p>
<h4 id="cherry-trailkernel">cherry trailでKernelを試した記録</h4>
<ul>
<li>Linuxium 4.9.0-11 を試す ... 追記</li>
<li>Linuxium 4.8.0-26 を試す</li>
</ul>
<p>:mmc:       x 動かない (4.8.0: 差し直すと kernel 刺さる)
  :xrandr:    x 動かない
  :backlight: x 動かない
  :battery:   - i2c-toolsでなんとか動いてる (axp288は認識するけどbattery表示なし
  :audio:     x hdmi audio は出てますが...aplay -lでは反応なし
  :SDHCI:     x 動かない (4.9.0/4.8.0 エラーはでてない)
  :ACPI:      x 動かない (いろいろopenエラーは出てる)</p>
<ul>
<li>Linux 4.9.5 に更新 ... あまり変化ないです</li>
<li>Intel-drm-nightly Linux 4.10.0.997 に更新 ... あまり変化ないです</li>
<li>Intel-drm-next Linux 4.10.0.994 に更新 ... あまり変化ないです</li>
<li>Intel-drm-next Linux 4.9.0 に更新 ... あまり変化ないです</li>
</ul>
<p>:mmc:       x やっぱうごいてない (差し直すと反応はするけど)
  :xrandr:    x 動かない
  :backlight: x 動かない (backlight=vendorも、 Xorg.conf:Backlight-"intel" もx)
  :battery:   x 動かない
  :audio:     x 動かない
  :SDHCI:     x 動かない ( ??? i2c_acquire で止まってる)</p>
<ul>
<li>T100用 Linux 4.7.2+ に更新</li>
</ul>
<p>:mmc:       o MMC差し直すと動く (最初から刺してると動かない)
  :xrandr:    x 動かない
  :backlight: x 動かない
  :battery:   x 動かない
  :audio:     x 動かない
  :SDHCI:     x 動いてるけど、エラー (/sysにファイルが作れないみたい)</p>
<ul>
<li>/ を ext3 -&gt; ext4 にして、 journal なしに変更</li>
<li>こないだアップデートしたら Lubuntu の grub が
  ちゃんと動くようになったので、 /etc/default/grub を修正</li>
</ul>
<h4 id="2-rotate-screen">2. Rotate screen</h4>
<p>console -&gt; kernel に option 追加::</p>
<div class="code"><pre class="code literal-block">fbcon=rotate:1
</pre></div>

<p>永続化するには、 /etc/default/grub.cfg に追加 ::</p>
<div class="code"><pre class="code literal-block">GRUB_CMDLINE_LINUX_DEFAULT="nomodeset fbcon=rotate:1"
</pre></div>

<p>もちろん updategrub する。</p>
<p>XWindowsは、 \
下のファイルを /usr/share/X11/xorg.conf.d/99-mytablet.conf に追加::</p>
<p>Section "Device"
    Option     "RandRRotation" "True" # [<bool>]
    Option     "Rotate"        "CW"   # [<string>]
    Identifier "Card0"
    #Driver    "intel"
    #Driver    "vesa"
    Driver     "fbdev"
    BusID      "PCI:0:2:0"
  EndSection</string></bool></p>
<p>これをしてしまうと、xrandrが動かなくなるんですが...</p>
<h4 id="3-touch-panel">3. Touch panel</h4>
<p>ドライバがあったので、インストールしてみた。
正直、「無いよりはマシ」みたいな出来。</p>
<p>Windowsでもひどいのでハードがもともとそんなもんなんでしょう...</p>
<p>以下、手順::</p>
<p>git clone git://github.com/onitake/gslx680-acpi
  cd gslx680-acpi
  make
  git clone git://github.com/onitake/gsl-firmware
  cd gsl-firmware/tools
  ./fwtools -c SILEAD...
  sudo cp silead_ts.fw /lib/firmware
  insmod gslx680_ts_acpi.ko</p>
<p>rc.local に追加 (他にいい方法あったかな...)::</p>
<p>insmod /path/to/gslx680-acpi/gslx680_ts_acpi.ko</p>
<p>xinput_calibrator の結果を
/usr/share/X11/xorg.conf.d/99-mytablet.conf に追加::</p>
<p>Section "InputClass"
    Identifier  "calibration"
    MatchProduct    "Silead GSLx680 Touchscreen"
    Option  "Calibration"   "15 1704 1119 62"
    Option  "SwapAxes"  "0"
  EndSection</p>
<h4 id="4-keyboard">4. keyboard調整</h4>
<p>ずっと前に買った、USB Keyboard付きの
Tabletケースが今回は使いやすそうだったので
使っていなかった箱から出してみた。</p>
<p>.
. .
. . .</p>
<p>この配列はひどい...</p>
<p>仕方ないので xmodmap で対応して、
変な割り当てのところには、シールで印字しておいた。::</p>
<p>! Gasia left bottom side
  keycode 94 = Escape</p>
<p>! Gasia right upper side
  keycode 118 = BackSpace Delete
  keycode 119 = backslash bar
  keycode 22 = asciicircum asciitilde
  keycode 21 = at grave
  keycode 51 = bracketleft braceleft
  keycode 36 = colon asterisk</p>
<p>! Gasia right botton side
  keycode 111 = Up underscore Prior Prior Prior Prior
  keycode 62 = bracketright braceright
  keycode 114 = Return Right End</p>
<p>普通のkeyboardもつなげることがあるので、
ちょっとだけスクリプト書いてみた。</p>
<p>ほんとはhalにでも記述作ればいいのかもしれないけど、
その辺、詳しくないので、パス::</p>
<p>#! /bin/bash
  lxkeymap -a
  if xinput list | grep "GASIA USB Keyboard" &gt; /dev/null; then
      xmodmap $HOME/.Xmodmaprc.gasia
  fi</p>
<h4 id="5-wifi-bt">5. WiFi + BT</h4>
<p>いろいろやってるんですが、うまくいきません。::</p>
<p>modprobe -v brcmfmac</p>
<p>:4.4.0.31: だめ...
:4.7.4:    だめ...
:4.7.5:    だめ...</p>
<h4 id="6-battery">6. Battery</h4>
<p>|s| i2c-tools でアクセスするという方法だけどフリーズする...  |/s|</p>
<p>i2c-toolsでアクセスする方法ですが、
ドライバをunloadすればフリーズしなくなりました。::</p>
<p>20170126,050128,1485374488: Battery level: 83%
  20170126,050328,1485374608: Battery level: 82%
  20170126,050728,1485374848: Battery level: 81%
  20170126,051028,1485375028: Battery level: 80%
  20170126,051328,1485375208: Battery level: 79%
  20170126,051727,1485375447: Battery level: 78%
  20170126,052027,1485375627: Battery level: 77%
  20170126,052327,1485375807: Battery level: 76%
  20170126,052628,1485375988: Battery level: 75%
  20170126,052928,1485376168: Battery level: 74%
  20170126,053228,1485376348: Battery level: 73%</p>
<p>180secで1%だから、18000sec...
20-80%だと、だいたい3時間...体感と大差ない感じ</p>
<p>/etc/modprobe.d/blacklist.conf に以下追加。::</p>
<div class="code"><pre class="code literal-block">blacklist axp288_adc
blacklist axp20x_pek
blacklist axp20x_i2c
blacklist axp20x
</pre></div>

<p>i2c-toolsをインストール::</p>
<div class="code"><pre class="code literal-block">$<span class="w"> </span>sudo<span class="w"> </span>apt<span class="w"> </span>install<span class="w"> </span>i2c-tools
</pre></div>

<p>こんなスクリプト追加::</p>
<div class="code"><table class="codetable">
<tr>
<td class="linenos linenodiv"><a href="#-1"><code data-line-number=" 1"></code></a></td>
<td class="code"><code><span class="ch">#!/bin/bash</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-2"><code data-line-number=" 2"></code></a></td>
<td class="code"><code><span class="c1">#</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-3"><code data-line-number=" 3"></code></a></td>
<td class="code"><code><span class="c1"># \License Modified BSD</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-4"><code data-line-number=" 4"></code></a></td>
<td class="code"><code><span class="c1"># \Author shimoda &lt;kuri65536 _at_ hotmail _dot_ c o m</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-5"><code data-line-number=" 5"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-6"><code data-line-number=" 6"></code></a></td>
<td class="code"><code><span class="nv">OPT_CONTINUE</span><span class="o">=</span><span class="nb">false</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-7"><code data-line-number=" 7"></code></a></td>
<td class="code"><code><span class="nv">OPT_DETAILED</span><span class="o">=</span><span class="nb">false</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-8"><code data-line-number=" 8"></code></a></td>
<td class="code"><code><span class="nv">OPT_INTERVAL</span><span class="o">=</span><span class="m">60</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-9"><code data-line-number=" 9"></code></a></td>
<td class="code"><code><span class="nv">OPT_WAITDETAIL</span><span class="o">=</span><span class="m">1</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-10"><code data-line-number="10"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-11"><code data-line-number="11"></code></a></td>
<td class="code"><code><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span>x<span class="s2">"</span><span class="nv">$1</span><span class="s2">"</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>x--gui<span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-12"><code data-line-number="12"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">OPT_CONTINUE</span><span class="o">=</span><span class="nb">true</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-13"><code data-line-number="13"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">cmd</span><span class="o">=</span><span class="nv">$0</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-14"><code data-line-number="14"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span>-f<span class="w"> </span><span class="s2">"</span><span class="k">$(</span><span class="nb">pwd</span><span class="k">)</span><span class="s2">/</span><span class="nv">$0</span><span class="s2">"</span><span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span><span class="w"> </span><span class="nv">cmd</span><span class="o">=</span><span class="k">$(</span><span class="nb">pwd</span><span class="k">)</span>/<span class="nv">$0</span><span class="p">;</span><span class="w"> </span><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-15"><code data-line-number="15"></code></a></td>
<td class="code"><code><span class="w">    </span>evilvte<span class="w"> </span>-g<span class="w"> </span>-0+0<span class="w"> </span>-T<span class="w"> </span><span class="s2">"battery"</span><span class="w"> </span>-e<span class="w"> </span>sudo<span class="w"> </span><span class="nv">$cmd</span><span class="w"> </span>--loop
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-16"><code data-line-number="16"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">exit</span><span class="w"> </span><span class="m">0</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-17"><code data-line-number="17"></code></a></td>
<td class="code"><code><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-18"><code data-line-number="18"></code></a></td>
<td class="code"><code><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span>x<span class="s2">"</span><span class="nv">$1</span><span class="s2">"</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>x--loop<span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-19"><code data-line-number="19"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">OPT_CONTINUE</span><span class="o">=</span><span class="nb">true</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-20"><code data-line-number="20"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">shift</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-21"><code data-line-number="21"></code></a></td>
<td class="code"><code><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-22"><code data-line-number="22"></code></a></td>
<td class="code"><code><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span>x<span class="s2">"</span><span class="nv">$1</span><span class="s2">"</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>x--detail<span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-23"><code data-line-number="23"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">OPT_DETAILED</span><span class="o">=</span><span class="nb">true</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-24"><code data-line-number="24"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">shift</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-25"><code data-line-number="25"></code></a></td>
<td class="code"><code><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-26"><code data-line-number="26"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-27"><code data-line-number="27"></code></a></td>
<td class="code"><code>modprobe<span class="w"> </span>i2c-dev
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-28"><code data-line-number="28"></code></a></td>
<td class="code"><code>modprobe<span class="w"> </span>test_power
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-29"><code data-line-number="29"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-30"><code data-line-number="30"></code></a></td>
<td class="code"><code><span class="c1">#search AXP288 chip on /dev/i2c-dev?</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-31"><code data-line-number="31"></code></a></td>
<td class="code"><code><span class="k">for</span><span class="w"> </span>i<span class="w"> </span><span class="k">in</span><span class="w"> </span><span class="sb">`</span>seq<span class="w"> </span><span class="m">1</span><span class="w"> </span><span class="m">12</span><span class="sb">`</span><span class="p">;</span><span class="w"> </span><span class="k">do</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-32"><code data-line-number="32"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">if</span><span class="w"> </span>!<span class="w"> </span><span class="o">[</span><span class="w"> </span>-e<span class="w"> </span>/dev/i2c-<span class="nv">$i</span><span class="w"> </span><span class="o">]</span><span class="w"> </span><span class="o">||</span><span class="w"> </span><span class="o">[</span><span class="w"> </span>-e<span class="w"> </span>/dev/i2c/<span class="nv">$i</span><span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-33"><code data-line-number="33"></code></a></td>
<td class="code"><code><span class="w">       </span><span class="k">continue</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-34"><code data-line-number="34"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-35"><code data-line-number="35"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">RET</span><span class="o">=</span><span class="k">$(</span>i2cget<span class="w"> </span>-f<span class="w"> </span>-y<span class="w"> </span><span class="nv">$i</span><span class="w"> </span>0x34<span class="w"> </span><span class="m">0</span><span class="w"> </span><span class="m">2</span>&gt;/dev/null<span class="w"> </span><span class="p">|</span><span class="w"> </span>cut<span class="w"> </span>-d<span class="w"> </span><span class="s1">'x'</span><span class="w"> </span>-f1<span class="k">)</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-36"><code data-line-number="36"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span><span class="s2">"x</span><span class="nv">$RET</span><span class="s2">"</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>x0<span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span><span class="w"> </span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-37"><code data-line-number="37"></code></a></td>
<td class="code"><code><span class="w">        </span><span class="c1">#echo /dev/i2c-dev$i</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-38"><code data-line-number="38"></code></a></td>
<td class="code"><code><span class="w">        </span><span class="nv">I2C_DEV</span><span class="o">=</span><span class="nv">$i</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-39"><code data-line-number="39"></code></a></td>
<td class="code"><code><span class="w">        </span><span class="k">break</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-40"><code data-line-number="40"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">else</span><span class="w"> </span><span class="nv">I2C_DEV</span><span class="o">=</span>-1<span class="p">;</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-41"><code data-line-number="41"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-42"><code data-line-number="42"></code></a></td>
<td class="code"><code><span class="k">done</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-43"><code data-line-number="43"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-44"><code data-line-number="44"></code></a></td>
<td class="code"><code><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span><span class="s2">"x</span><span class="nv">$I2C_DEV</span><span class="s2">"</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>x-1<span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-45"><code data-line-number="45"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">echo</span><span class="w"> </span><span class="s2">"No AXP288 PMIC on i2c Bus"</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-46"><code data-line-number="46"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">exit</span><span class="w"> </span><span class="m">113</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-47"><code data-line-number="47"></code></a></td>
<td class="code"><code><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-48"><code data-line-number="48"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-49"><code data-line-number="49"></code></a></td>
<td class="code"><code><span class="c1"># force ADC enable for battery voltage and current</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-50"><code data-line-number="50"></code></a></td>
<td class="code"><code>i2cset<span class="w"> </span>-y<span class="w"> </span>-f<span class="w"> </span><span class="nv">$I2C_DEV</span><span class="w"> </span>0x34<span class="w"> </span>0x82<span class="w"> </span>0xC3
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-51"><code data-line-number="51"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-52"><code data-line-number="52"></code></a></td>
<td class="code"><code><span class="k">function</span><span class="w"> </span>readNormal<span class="o">()</span><span class="w"> </span><span class="o">{</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-53"><code data-line-number="53"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">local</span><span class="w"> </span>CAPACITY
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-54"><code data-line-number="54"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">CAPACITY</span><span class="o">=</span><span class="k">$(</span>i2cget<span class="w"> </span>-f<span class="w"> </span>-y<span class="w"> </span><span class="nv">$I2C_DEV</span><span class="w"> </span>0x34<span class="w"> </span>0xB9<span class="w"> </span><span class="p">|</span><span class="w"> </span>cut<span class="w"> </span>-d<span class="w"> </span><span class="s1">'x'</span><span class="w"> </span>-f<span class="w"> </span><span class="m">2</span><span class="k">)</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-55"><code data-line-number="55"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span><span class="s2">"x</span><span class="nv">$CAPACITY</span><span class="s2">"</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>x<span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-56"><code data-line-number="56"></code></a></td>
<td class="code"><code><span class="w">        </span><span class="k">return</span><span class="w"> </span><span class="m">1</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-57"><code data-line-number="57"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-58"><code data-line-number="58"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">CAPACITY</span><span class="o">=</span><span class="k">$((</span><span class="o">-</span><span class="m">128</span><span class="w"> </span><span class="o">+</span><span class="w"> </span><span class="m">16#</span><span class="nv">$CAPACITY</span><span class="k">))</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-59"><code data-line-number="59"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span><span class="nv">$CAPACITY</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>-128<span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-60"><code data-line-number="60"></code></a></td>
<td class="code"><code><span class="w">        </span><span class="k">return</span><span class="w"> </span><span class="m">2</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-61"><code data-line-number="61"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-62"><code data-line-number="62"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-63"><code data-line-number="63"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">dt</span><span class="o">=</span><span class="k">$(</span><span class="nv">LANG</span><span class="o">=</span>C<span class="w"> </span>date<span class="w"> </span><span class="s1">'+%Y%m%d,%H%M%S,%s'</span><span class="k">)</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-64"><code data-line-number="64"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">echo</span><span class="w"> </span><span class="s2">"</span><span class="nv">$dt</span><span class="s2">: Battery level: </span><span class="nv">$CAPACITY</span><span class="s2">%"</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-65"><code data-line-number="65"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">if</span><span class="w"> </span><span class="o">[</span><span class="w"> </span>x<span class="nv">$CAPACITY</span><span class="w"> </span><span class="o">=</span><span class="w"> </span>x<span class="w"> </span><span class="o">]</span><span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-66"><code data-line-number="66"></code></a></td>
<td class="code"><code><span class="w">        </span><span class="k">return</span><span class="w"> </span><span class="m">0</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-67"><code data-line-number="67"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-68"><code data-line-number="68"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">echo</span><span class="w"> </span><span class="nv">$CAPACITY</span><span class="w"> </span>&gt;/sys/module/test_power/parameters/battery_capacity
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-69"><code data-line-number="69"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">echo</span><span class="w"> </span><span class="s2">"</span><span class="nv">$dt</span><span class="s2">, </span><span class="nv">$CAPACITY</span><span class="s2">"</span><span class="w"> </span>&gt;&gt;<span class="w"> </span>/var/log/battery.log
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-70"><code data-line-number="70"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">return</span><span class="w"> </span><span class="m">0</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-71"><code data-line-number="71"></code></a></td>
<td class="code"><code><span class="o">}</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-72"><code data-line-number="72"></code></a></td>
<td class="code"><code>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-73"><code data-line-number="73"></code></a></td>
<td class="code"><code><span class="nv">OPT_1ST</span><span class="o">=</span><span class="nb">true</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-74"><code data-line-number="74"></code></a></td>
<td class="code"><code><span class="k">while</span><span class="w"> </span><span class="nv">$OPT_1ST</span><span class="w"> </span><span class="o">||</span><span class="w"> </span><span class="nv">$OPT_CONTINUE</span><span class="p">;</span><span class="w"> </span><span class="k">do</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-75"><code data-line-number="75"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nv">OPT_1ST</span><span class="o">=</span><span class="nb">false</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-76"><code data-line-number="76"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">if</span><span class="w"> </span>readNormal<span class="p">;</span><span class="w"> </span><span class="k">then</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-77"><code data-line-number="77"></code></a></td>
<td class="code"><code><span class="w">        </span><span class="nv">$OPT_CONTINUE</span><span class="w"> </span><span class="o">&amp;&amp;</span><span class="w"> </span>sleep<span class="w"> </span><span class="nv">$OPT_INTERVAL</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-78"><code data-line-number="78"></code></a></td>
<td class="code"><code><span class="w">        </span><span class="k">continue</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-79"><code data-line-number="79"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">fi</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-80"><code data-line-number="80"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="nb">echo</span><span class="w"> </span><span class="s2">"Could not read battery level, give up."</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-81"><code data-line-number="81"></code></a></td>
<td class="code"><code><span class="w">    </span><span class="k">break</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-82"><code data-line-number="82"></code></a></td>
<td class="code"><code><span class="k">done</span>
</code></td>
</tr>
<tr>
<td class="linenos linenodiv"><a href="#-83"><code data-line-number="83"></code></a></td>
<td class="code"><code><span class="c1"># vi: ft=sh:ts=4:et:nowrap</span>
</code></td>
</tr>
</table></div>
<p>後はグラフ化だけど、d3.jsで書いてみたいなー。
でも、この tablet 買い換えるまでだから、いらないか...</p>
<h4 id="7-tf-card">7. TF card</h4>
<p>なぜか一度だけアクセスできたが
それ以降は一回もアクセスできない...</p>
<p>T100用Linux だけは、抜き差しすると、カードを認識しました。</p>
<p>eMMC FSの調整
<del>~</del><del>~</del><del>~</del><del>~</del>~~
ext3 で / をformatしてたけど、
fsckツールが見つからないというエラーが出ていたので ext4 に変更</p>
<p>一部 recovery mode でないと動かなかったけど、こんな感じ:</p>
<p>$ mount -o ro,remount /
   $ tune2fs -O extents,uninit_bg,dir_index /dev/mmcblk0p4
   $ tune2fs -O ^has_journal /dev/mmcblk0p4
   $ vi /etc/fstab
   UUID=... / ext4 errors=remount-ro,data=writeback,noatime,nodiratime 0 1</p>
<p>逆にext4にするとfsckがよく走るようになって
良いのか悪いのか...</p>
<h4 id="8-buttons">8. Buttons</h4>
<p>特に何もしていない</p>
<h4 id="9-backlights">9. Backlights</h4>
<p>これで暗くはなるけど、backlightが切れているようには見えない::</p>
<p>xset dpms force off</p>
<h4 id="_1">アプリの記録</h4>
<p>:lv: End-Date: 2016-09-03  23:37:06
:tree: End-Date: 2016-09-03  23:40:01
:vim: End-Date: 2016-09-03  23:44:01
:mercurial: End-Date: 2016-09-04  07:47:35
:tortoisehg: End-Date: 2016-09-04  07:55:09
:apt-get install tmux: End-Date: 2016-09-04  08:45:02
:apt-get install git: End-Date: 2016-09-04  14:23:46
:apt install lxkeymap: End-Date: 2016-09-04  15:46:52
:apt install curl: End-Date: 2016-09-05  06:57:34
:apt install mercurial-git: End-Date: 2016-09-05  07:13:33
:/usr/sbin/synaptic pip, gcc: End-Date: 2016-09-05  07:36:31
:/usr/sbin/synaptic fcitx-anthy: End-Date: 2016-09-07  07:49:45
:/usr/sbin/synaptic kasumi: End-Date: 2016-09-07  07:52:28
:/usr/sbin/synaptic zenity: End-Date: 2016-09-07  08:03:04
:apt install devilspie: End-Date: 2016-09-07  12:38:58
:apt install xinput-calibrator: End-Date: 2016-09-07  19:54:37
:apt install zram-config: End-Date: 2016-09-08  23:22:44</p>
    </div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/complogs/" rel="tag">complogs</a></li>
            <li><a class="tag p-category" href="../../tags/mobile/" rel="tag">mobile</a></li>
            <li><a class="tag p-category" href="../../tags/tablets/" rel="tag">tablets</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00517/" rel="prev" title=" msys: python-leveldbをMinGW32で使う |{{{1|">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00519/" rel="next" title="arm-box: Scishon 88 TVBOX server(3台目)">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00518/",
        disqus_title="Tablet3: \u30e2\u30d0\u30a4\u30eb(9\u53f0\u76ee)",
        disqus_identifier="cache/posts/id00518.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
