<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>fedoraについての記事 | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/tags/fedora/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><link rel="alternate" type="application/rss+xml" title="RSS for tag fedora" hreflang="ja" href="../fedora.xml">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../../posts/id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="tagpage"><header><h1>fedoraについての記事</h1>
        <div class="metadata">
            
                <p class="feedlink">
                        
            <a href="../fedora.xml" hreflang="ja" type="application/rss+xml">RSSフィード</a>

                </p>

        </div>
        

    </header><ul class="postlist">
<li>
<time class="listdate" datetime="2015-11-08T05:56:17+09:00" title="2015-11-08 05:56">2015-11-08 05:56</time><a href="../../posts/id00467/" class="listtitle">Fedora16が動かない→Ubuntu 11.10に乗り換えたい |{{{1|</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2015-11-03T17:44:41+09:00" title="2015-11-03 17:44">2015-11-03 17:44</time><a href="../../posts/id00433/" class="listtitle">fedora11 to fedora12</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2010-05-23T11:42:18+09:00" title="2010-05-23 11:42">2010-05-23 11:42</time><a href="../../posts/id00391/" class="listtitle">Fedoraでもsynceできた :D</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2009-12-08T23:50:50+09:00" title="2009-12-08 23:50">2009-12-08 23:50</time><a href="../../posts/id00378/" class="listtitle">Fedora12 upgrade失敗-&gt; 成功</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2009-09-23T10:52:31+09:00" title="2009-09-23 10:52">2009-09-23 10:52</time><a href="../../posts/id00370/" class="listtitle">Fedora11でSongbird1.2</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2008-12-22T22:47:09+09:00" title="2008-12-22 22:47">2008-12-22 22:47</time><a href="../../posts/id00315/" class="listtitle">Fedora9以下のwineにドライブを設定できない</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2008-12-14T22:44:22+09:00" title="2008-12-14 22:44">2008-12-14 22:44</time><a href="../../posts/id00312/" class="listtitle">Fedora9以前 + VG複数にはご注意を</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2008-11-15T09:50:16+09:00" title="2008-11-15 09:50">2008-11-15 09:50</time><a href="../../posts/id00307/" class="listtitle">system-config-lvmが動かない...;(</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2008-10-26T14:19:16+09:00" title="2008-10-26 14:19">2008-10-26 14:19</time><a href="../../posts/id00292/" class="listtitle">Fedora8ではXFS(X Fonr Server)が無効になってた</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2008-10-19T18:48:14+09:00" title="2008-10-19 18:48">2008-10-19 18:48</time><a href="../../posts/id00282/" class="listtitle">Fedora9でcompizを動かす</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2008-08-09T14:49:37+09:00" title="2008-08-09 14:49">2008-08-09 14:49</time><a href="../../posts/id00278/" class="listtitle">Fedora9でCPUのクロック制御</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2008-08-09T14:20:47+09:00" title="2008-08-09 14:20">2008-08-09 14:20</time><a href="../../posts/id00273/" class="listtitle">Fedora9でxenが失敗する (次リリース待ち)</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2007-12-06T00:43:17+09:00" title="2007-12-06 00:43">2007-12-06 00:43</time><a href="../../posts/id00179/" class="listtitle">Fedora8に移行です(2)</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2007-11-20T23:04:40+09:00" title="2007-11-20 23:04">2007-11-20 23:04</time><a href="../../posts/id00180/" class="listtitle">Fedora8に移行です(3)</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2007-11-19T07:30:40+09:00" title="2007-11-19 07:30">2007-11-19 07:30</time><a href="../../posts/id00178/" class="listtitle">Fedora8に移行です</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2007-07-24T07:29:50+09:00" title="2007-07-24 07:29">2007-07-24 07:29</time><a href="../../posts/id00153/" class="listtitle">Fedora7 から zope がpackageになくなった</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2006-09-18T11:44:20+09:00" title="2006-09-18 11:44">2006-09-18 11:44</time><a href="../../posts/id00084/" class="listtitle">Fedora Core 5でxmkmfを使う (yum install imake)</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2006-07-30T11:53:20+09:00" title="2006-07-30 11:53">2006-07-30 11:53</time><a href="../../posts/id00073/" class="listtitle">FedoraCore5が直った...</a><a></a>
</li>
            <li>
<time class="listdate" datetime="2006-06-18T15:24:00+09:00" title="2006-06-18 15:24">2006-06-18 15:24</time><a href="../../posts/id00062/" class="listtitle">Fedoraで日本語のGripが動かない</a><a></a>
</li>
        </ul></article></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
