<!DOCTYPE html>
<html prefix="        og: http://ogp.me/ns# article: http://ogp.me/ns/article#     " vocab="http://ogp.me/ns" lang="ja">
<head>
<meta charset="utf-8">
<!-- Google tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z59MG8WK9"></script><script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z59MG8WK9');
    </script><meta name="viewport" content="width=device-width">
<title>VMWare: Tabletで運用する | にゅーステレオ天国</title>
<link href="../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/streao8.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#5670d4">
<meta name="generator" content="Nikola (getnikola.com)">
<link rel="alternate" type="application/rss+xml" title="RSS" hreflang="ja" href="../../rss.xml">
<link rel="canonical" href="https://kuri65536.bitbucket.io/posts/id00504/">
<!--[if lt IE 9]><script src="../../assets/js/html5shiv-printshiv.min.js"></script><![endif]--><meta name="author" content="Shimoda">
<link rel="prev" href="../id00503/" title="Tablet2: モバイル(8台目)" type="text/html">
<link rel="next" href="../id00505/" title="LS-VL 10: DHCP導入" type="text/html">
<meta property="og:site_name" content="にゅーステレオ天国">
<meta property="og:title" content="VMWare: Tabletで運用する">
<meta property="og:url" content="https://kuri65536.bitbucket.io/posts/id00504/">
<meta property="og:description" content="`id00503.rst`_ でVMWareの感想書いてるのか、 \
tabletの感想を書いているのかわからなくなってきたので、 \
VMWareの設定は分けて書くことにしました
ひさびさにWindowsのPC(Tablet)を手に入れたけど
開発はどうしてもLinuxがいい...となっちゃうので
VMWareにLinuxをインストールして運用します。

TabletにLinuxを入れないのは
">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2016-03-27T15:08:20+09:00">
<meta property="article:tag" content="hack">
<meta property="article:tag" content="virtualization">
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">本文を読み飛ばす</a>
    <div id="container">
        
    <header id="header"><h1 id="brand"><a href="https://kuri65536.bitbucket.io/" title="にゅーステレオ天国" rel="home">
    <span id="blog-version">version:7.0:</span>
        <img src="https://pysandboxjp.appspot.com/count?key=agxzfnB5d2VidG9vbHNyHgsSDFdlYlBhZ2VDb3VudCIMV2ViUGFnZUNvdW50DA" alt="にゅーステレオ天国" id="logo"><span id="blog-title">にゅーステレオ天国</span>
    <span id="blog-title-since">since: 2000/6/20</span>
    </a></h1>

        

        
    <nav id="menu"><ul>
<li><a href="../id99000/">About</a></li>
                <li><a href="../../articles.html">Articles</a></li>
                <li><a href="../../tags/index.html">Tags</a></li>
                <li><a href="../../rss.xml">RSS feed</a></li>

    

    
    
    </ul></nav></header><main id="content"><article class="post-text h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">VMWare: Tabletで運用する</a></h1>

        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                    Shimoda
            </span></p>
            <p class="dateline">
            <a href="." rel="bookmark">
            <time class="published dt-published" datetime="2016-03-27T15:08:20+09:00" itemprop="datePublished" title="2016-03-27 15:08">2016-03-27 15:08</time></a>
            </p>
                <p class="commentline">
    
    <a href="#disqus_thread" data-disqus-identifier="cache/posts/id00504.html">コメント</a>


            

        </p>
</div>
        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <p><a href="#system-message-9"><span class="problematic" id="problematic-9">`id00503.rst`_</span></a> でVMWareの感想書いてるのか、 \
tabletの感想を書いているのかわからなくなってきたので、 \
VMWareの設定は分けて書くことにしました</p>
<p>ひさびさにWindowsのPC(Tablet)を手に入れたけど
開発はどうしてもLinuxがいい...となっちゃうので
VMWareにLinuxをインストールして運用します。</p>
<blockquote>
<p>TabletにLinuxを入れないのは
安物ハードウェアはLinuxでロクに動かないので。</p>
<p>SDIOのWifiとか、CherryTrailのpower managementとかとか</p>
</blockquote>
<p>仕事でちょっと使ったことはあるけど...
うまくいくでしょうか。</p>
<!-- TEASER_END -->
<section id="vmwarelinux-1"><h2>1. VMWareでLinuxを運用する <a href="#system-message-1"><span class="problematic" id="problematic-1">|{{{1|</span></a>
</h2>
<p>Linuxで無線関係が動かせないのでWindowsで運用しますが、 \
msys/mingwでプログラムとかするのは苦痛なので \
なんとかLinuxが動かせないか考えてみます</p>
<p><strong>WindowsなんだからVMWareでいいやん...</strong></p>
<p>そういうことに考えがいたったので、 \
VMWare上でLinuxを動かすことにしました。</p>
<blockquote>
<p>最近の仮想環境ってそこそこ早いし、まぁいいか。</p>
</blockquote>
<p>でもPCに確保しておいたLinuxのpartitionは \
もったいないので活用します。</p>
<dl class="field-list simple">
<dt>CPU<span class="colon">:</span>
</dt>
<dd>
<p>せっかくなので2つ割り当て</p>
</dd>
<dt>メモリ<span class="colon">:</span>
</dt>
<dd>
<p>1 or 2GB 割り当て</p>
</dd>
<dt>ハードディスク<span class="colon">:</span>
</dt>
<dd>
<p>2つ準備</p>
<ol class="arabic simple">
<li><p>普通の仮想ディスク (3G、Lubuntuには最低限これぐらい必要)</p></li>
<li><p>rawディスク (開けておいた、25GBのパーティションを使用)</p></li>
</ol>
</dd>
<dt>net<span class="colon">:</span>
</dt>
<dd>
<p>しばらくNATで様子見</p>
</dd>
<dt>OS<span class="colon">:</span>
</dt>
<dd>
<p>本番と同じLubuntu 15.10</p>
</dd>
<dt>BIOS<span class="colon">:</span>
</dt>
<dd><ul class="simple">
<li><p>インストール時: UEFI</p></li>
<li><p>運用時: 通常</p></li>
</ul></dd>
<dt>インストールメディア<span class="colon">:</span>
</dt>
<dd>
<p>USB</p>
</dd>
</dl>
<p>OSは本番と同じにしておけば
後で入れ直さなくてもいいんじゃないか...という淡い期待です。</p>
<blockquote>
<p>そうでなければDebianにしてた</p>
</blockquote>
<p>BIOSですが、USBからインストールしたんでUEFIにしましたが、 \
インストール後に起動しなくなったんで、 \
UEFIから普通のBIOSに戻したら起動できるようになりました。</p>
<p>この段階では、仮想ディスクにインストールしただけなので
Linuxのパーティションは使ってない状態です。</p>
</section><section id="vmwarelinux-1-1"><h2>5. VMWareからLinuxのパーティションを使う <a href="#system-message-2"><span class="problematic" id="problematic-2">|{{{1|</span></a>
</h2>
<p>VMWareの仮想ディスク(3GB)にLinuxを入れたので、
/homeやら/usrやらだけ、Linuxのパーティションをマウントか
なにかして増量する</p>
<p>調べるとoverlayfsというのがいいと
思ったので早速実践してみる:</p>
<pre class="literal-block"># mkdir -p /mnt/raw6/work-usr
# mkdir -p /mnt/raw6/work-etc
# mkdir -p /mnt/raw6/work-home
# mount -t overlayfs overlayfs /usr -o lowerdir=/usr,upperdir=/mnt/raw6/usr,workdir=/mnt/raw6/tmp/work-usr
# mount -t overlayfs overlayfs /etc -o lowerdir=/etc,upperdir=/mnt/raw6/root/etc.new,workdir=/mnt/raw6/tmp/work-etc
# mount -t overlayfs overlayfs /home -o lowerdir=/home,upperdir=/mnt/raw6/home,workdir=/mnt/raw6/tmp/work-home</pre>
<p>/varはちょっとややこしくなりそうなので避けておいた。</p>
<p>しばらく運用してたらDHCPの更新で
ネットワークが無効になってしまっていた。</p>
<p>apparmorが/etcの上書きにうまくついて行ってないようで、
/etc/ld.so.confなどのアクセスができなくなってしまうみたい。</p>
<p>しばらくはapparmorをオフして運用する:</p>
<pre class="literal-block"># vi /etc/default/grub
GRUB_CMDLINE_LINUX_DEFAULT="apparmor=0 quiet splash"</pre>
</section><section id="vmware-tools-1"><h2>6. VMWare toolsを入れる <a href="#system-message-3"><span class="problematic" id="problematic-3">|{{{1|</span></a>
</h2>
<p>なんかインストールに苦労する苦い思い出があったけど、
今はこれだけで入るみたい:</p>
<pre class="literal-block">$ sudo apt-get install open-vm-tools
$ sudo apt-get install open-vm-tools-desktop</pre>
<p>サービス起動とかするよりも素直に再起動したほうがよさそう</p>
<p>共有フォルダも設定する
...と思ったら、Ubuntu 15.10のopen-vm-toolsは
Ver.9でコンパイル失敗するらしい。</p>
<p>gitからVer.10持って来ればよいとのことだが、
今は面倒なのでパスする。</p>
<p>パッケージが治ったら設定することにしようっと。</p>
</section><section id="vmwareuacrunas-1"><h2>8. VMWareで起こるUACをrunasでなんとかする <a href="#system-message-4"><span class="problematic" id="problematic-4">|{{{1|</span></a>
</h2>
<p>vmwareの起動にいちいちAdministratorを指定するのは
めんどくさいので、先ほど覚えたrunas.exeでvmwareを起動してみます。</p>
<blockquote>
<p>そうしないとゲストの起動ができないんですよね</p>
</blockquote>
<p>こんなbatchを書いてDesktopに置いておけばOK:</p>
<pre class="literal-block">echo launch vmware ubuntu.vmx
set vmp="C:\Program Files (x86)\VMware\VMware Player\"
set vmx=\"%USERPROFILE%\Documents\Virtual Machines\Ubuntu\Ubuntu.vmx\"
cd %vmp%
runas /noprofile /savecred /user:administrator ^
  "vmplayer.exe %vmx%"</pre>
<p>うーん、noprofileが変な作用してるかも</p>
</section><section id="vmwaressh-1"><h2>9. VMWareにssh接続する <a href="#system-message-5"><span class="problematic" id="problematic-5">|{{{1|</span></a>
</h2>
<p>いろいろなサイトで紹介されているdhcp、natの設定をする:</p>
<pre class="literal-block">&gt;</pre>
<p>これに加えて、firewallのoffを実施した</p>
<blockquote>
<p>実際には、VMware natが落ちていたのでこれは効果がないかもしれない</p>
</blockquote>
<p>msysのminttyから、以下を実行:</p>
<pre class="literal-block">$ runas //noprofile //savecred //user:administrator \
  "netsh advfirewall firewall add rule name="open 2222 out" \
  dir=in action=allow protocol=TCP localport=2222"
$ runas //noprofile //savecred //user:administrator \
  "netsh advfirewall firewall add rule name="open 2222 out" \
  dir=out action=allow protocol=TCP localport=2222"</pre>
<p>あとは、VMware dhcp、natのサービスを再起動すればつながった。</p>
</section><section id="linux-1"><h2>1. Linuxの性能確認 <a href="#system-message-6"><span class="problematic" id="problematic-6">|{{{1|</span></a>
</h2>
<p>結局、仮想環境にしたので、確認してもいいけど後回し。</p>
<p>そういえば歴代PCの性能確認なんてやってたっけか。</p>
<div class="strike docutils container">
<dl class="field-list simple">
<dt>内蔵wlan<span class="colon">:</span>
</dt>
<dd>
<p>無理</p>
</dd>
<dt>suspend<span class="colon">:</span>
</dt>
<dd>
<p>無理</p>
</dd>
<dt>低消費電力モードできるか<span class="colon">:</span>
</dt>
<dd>
<p>? &lt;= wlan, BT, backlight off and sw-on</p>
</dd>
<dt>boot time<span class="colon">:</span>
</dt>
<dd>
<p>?</p>
</dd>
<dt>eMMC<span class="colon">:</span>
</dt>
<dd>
<p>RD-?, WR-? (Androidで計測)</p>
</dd>
<dt>SD card<span class="colon">:</span>
</dt>
<dd>
<p>RD-?, WR-? (Androidで計測)</p>
</dd>
</dl>
</div>
</section><section id="linux-install-1"><h2>2. Linux install <a href="#system-message-7"><span class="problematic" id="problematic-7">|{{{1|</span></a>
</h2>
<dl class="field-list simple">
<dt>lxde<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>fcitx<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>anthy<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>lv<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>uxterm<span class="colon">:</span>
</dt>
<dd><ul class="simple"><li>
</li></ul></dd>
<dt>roxterm<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>vim<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>mercurial<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>tortoisehg<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>gitk<span class="colon">:</span>
</dt>
<dd>
<p>?</p>
</dd>
<dt>python<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>pyenv<span class="colon">:</span>
</dt>
<dd>
<p>?</p>
</dd>
<dt>pyramid<span class="colon">:</span>
</dt>
<dd>
<p>?</p>
</dd>
<dt>firefox<span class="colon">:</span>
</dt>
<dd><ul class="simple"><li>
</li></ul></dd>
<dt>android-studio<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>android-ndk<span class="colon">:</span>
</dt>
<dd>
<p>o</p>
</dd>
<dt>vala<span class="colon">:</span>
</dt>
<dd>
<p>?</p>
</dd>
<dt>stellaris env<span class="colon">:</span>
</dt>
<dd>
<p>?</p>
</dd>
<dt>KiCAD<span class="colon">:</span>
</dt>
<dd>
<p>win</p>
</dd>
<dt>mindmap<span class="colon">:</span>
</dt>
<dd>
<p>?</p>
</dd>
<dt>LibreOffice<span class="colon">:</span>
</dt>
<dd>
<p>x</p>
</dd>
</dl>
<section id="vmware-1"><h3>トラブル4. VMWareのトラブル <a href="#system-message-8"><span class="problematic" id="problematic-8">|{{{1|</span></a>
</h3>
<p>なんかVMWareのトラブルが多い。</p>
<ol class="arabic simple">
<li><p>VMWareのnetworkにrouteの優先順位が高くなって、DNSが引けなくなる
(Windowsも仮想化したLinuxも)</p></li>
<li><p>仮想化したLinuxが起動できない - ディスクがLockされたまま終了する?</p></li>
<li><p>仮想化したLinuxが起動できない - 再インストールするまでなぜか何も起動できない</p></li>
</ol>
<p>再インストールした後は...うーんちょっとしか経過してないないので
なんともいえない。</p>
<ol class="arabic" start="4">
<li><p>VMNatがすぐに落ちる =&gt; はずれのバージョンだったらしい... (12.1)</p></li>
<li><p>なんかroutingがおかしい? とにかくネット接続が切れる...</p></li>
<li><dl>
<dt>たまに固まる。 =&gt; VMWareが原因みたい</dt>
<dd>
<p>固まるといっても、完全に固まるわけでなく、
Windowの切り替えができなくなる。</p>
<p>前面のアプリは普通に動くが、
メインのコントロール以外は動かなくなる (メニューとかツールバーとか)</p>
<p>VMWareがキーボードなどの入力を奪っている状態で
Alt+Tabなどでウインドウだけ切り替えるとこんな状態になるみたい。</p>
</dd>
</dl></li>
</ol>
<!-- end of file |{{{1| --><!-- vi: ft=rst:et:ts=4:fdm=marker --></section></section><section class="system-messages"><h2>Docutils System Messages</h2>
<aside class="system-message" id="system-message-1"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 21); <em><a href="#problematic-1">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-2"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 63); <em><a href="#problematic-2">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-3"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 93); <em><a href="#problematic-3">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-4"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 113); <em><a href="#problematic-4">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-5"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 132); <em><a href="#problematic-5">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-6"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 154); <em><a href="#problematic-6">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-7"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 170); <em><a href="#problematic-7">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-8"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 194); <em><a href="#problematic-8">backlink</a></em></p>
<p>Undefined substitution referenced: "{{{1".</p>
</aside><aside class="system-message" id="system-message-9"><p class="system-message-title">System Message: ERROR/3 (<span class="docutils literal">&lt;string&gt;</span>, line 1); <em><a href="#problematic-9">backlink</a></em></p>
<p>Unknown target name: "id00503.rst".</p>
</aside></section>
</div>
    <aside class="postpromonav"><nav><ul itemprop="keywords" class="tags">
<li><a class="tag p-category" href="../../tags/hack/" rel="tag">hack</a></li>
            <li><a class="tag p-category" href="../../tags/virtualization/" rel="tag">virtualization</a></li>
        </ul>
<ul class="pager hidden-print">
<li class="previous">
                <a href="../id00503/" rel="prev" title="Tablet2: モバイル(8台目)">一つ前の記事</a>
            </li>
            <li class="next">
                <a href="../id00505/" rel="next" title="LS-VL 10: DHCP導入">次の記事</a>
            </li>
        </ul></nav></aside><section class="comments hidden-print"><h2>コメント</h2>
        
    
        <div id="disqus_thread"></div>
        <script>
        var disqus_shortname ="kuri65536",
            disqus_url="https://kuri65536.bitbucket.io/posts/id00504/",
        disqus_title="VMWare: Tablet\u3067\u904b\u7528\u3059\u308b",
        disqus_identifier="cache/posts/id00504.html",
        disqus_config = function () {
            this.language = "ja";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script><noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
    <a href="https://disqus.com" class="dsq-brlink" rel="nofollow">Comments powered by <span class="logo-disqus">Disqus</span></a>


        </section></article><script>var disqus_shortname="kuri65536";(function(){var a=document.createElement("script");a.async=true;a.src="https://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script></main><footer id="footer"><p>Contents © 2025         <a href="mailto:kuri65536@hotmail.com">Shimoda</a>- Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>         </p>
            
        </footer>
</div>
    
            <script src="../../assets/js/all-nocdn.js"></script><script src="../../assets/js/streao8.js"></script><div class="affiliate"> <!-- affiliate {{{1 *************************** -->
    <div>宣伝:
            <span style="text-decoration:blink;"> </span>
    </div>
    <!-- Rakuten Widget FROM HERE --><script type="text/javascript">
                rakuten_design="slide";
                rakuten_affiliateId="0a16630e.2579fef1.0a16630f.abb05a81";
                rakuten_items="ranking"; rakuten_genreId=0;
                rakuten_size="148x600"; rakuten_target="_blank";
                rakuten_theme="gray";rakuten_border="on";
                rakuten_auto_mode="on";
                rakuten_genre_title="off";rakuten_recommend="on";</script><script src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js" type="text/javascript">
    </script>
</div>

    
    <script>
    baguetteBox.run('main#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
</body>
</html>
